
		
		<script src="/assets/jquery.js" type="text/javascript"></script>		
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>

		<div style="height: 70px;"></div>

		<div class="link-div-top"><a class="back-to-photos-link" href="/Event-News">
						Back to Gallery Index
					</a></div>
					<h1 class="title-h1-city" style="color: #f8b242; margin-left: -20px;">
						National Gathering			
					<span>
						New Orleans, LA, November 2-3, 2014
					</span>				
					</h1>

		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-01.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-01.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-02.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-02.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-03.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-03.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-04.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-04.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-05.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-05.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-06.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-06.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-07.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-07.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-08.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-08.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-09.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-09.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-10.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-10.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-11.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-11.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-12.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-12.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-13.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-13.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-14.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-14.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-15.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-15.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-16.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-16.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-17.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-17.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-18.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-18.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 7 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-19.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-19.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-20.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-20.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-21.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-21.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 8 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-22.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-22.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-23.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-23.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-24.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-24.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 9 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-25.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-25.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-26.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-26.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-27.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-27.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 10 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-29.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-29.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-30.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-30.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-31.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-31.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 11 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-32.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-32.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-33.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-33.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-34.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-34.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 12 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-35.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-35.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-37.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-37.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-38.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-38.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 13 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-39.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-39.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-40.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-40.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-41.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-41.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 14 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-42.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-42.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-43.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-43.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-44.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-44.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 15 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-45.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-45.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-46.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-46.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-47.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-47.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 16 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-48.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-48.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-49.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-49.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-50.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-50.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 17 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-51.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-51.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-52.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-52.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-53.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-53.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 18 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-54.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-54.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-55.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-55.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-56.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-56.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 19 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-57.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-57.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-58.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-58.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-59.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-59.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 20 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-60.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-60.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-61.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-61.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-62.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-62.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 21 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-63.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-63.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-64.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-64.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-65.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-65.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 22 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-66.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-66.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-67.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-67.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-68.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-68.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 23 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-69.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-69.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-70.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-70.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-71.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-71.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 24 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-72.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-72.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-73.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-73.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-74.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-74.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 25 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-75.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-75.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-76.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-76.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-77.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-77.jpg" width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 26 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-78.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-78.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-79.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-79.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_14/web-new-orleans-80.jpg"  title="New Orleans, LA, November 2-3, 2014"><img src="../event_news_images_14/web-new-orleans-80.jpg" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<div style="margin-bottom: 100px;"></div>
						



		</div>			    


	<style>
		
		.k-cell-divider-none {
			border-right: 1px solid #fff;
			width: 1px;
			display: inline-block;
		}
		.ktop-none {
			border-top: 1px solid #fff;
		}
		.kbottom-none {
			border-top: 1px solid #fff;
		}
				
	</style>
		
    <script>
                
		// $(window).load( function() {
		$(document).ready(function(){
			
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					// if ($(this).hasClass('k-outercell-double')) {
						// kk = $(this).height();
						// if (!(kk = $(this).height())) {
							// kk = 0;
						// }
						// k = k >= kk ? k : kk;
						// s = k;
					// }
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

