
				
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>

		<style>
			.k-decorate-none {
				text-decoration: none;
			}
			
			.kbyline-none-caps {
				/*line-height: 14px;*/
				white-space: nowrap;
				/*text-transform: uppercase;*/
				font-family: KlavikaMedium, Arial, sans-serif;
				font-size: 12px;
			}
			.k-b-headline-gallery {
				/*font-size: 20px;*/
				line-height: 14px;
				color: #000;
				font-family: KlavikaBlack, Arial, sans-serif;
				margin-top: 6px;
				margin-left: 6px;
				width: 260px;
				position: relative;
				height: auto;
			}

			.title-gallery {
				font-size: 26px;
				line-height: 20px;
				color: #8A5A0C;
				font-family: KlavikaBlack, Arial, sans-serif;
				/*text-shadow: 2px 2px #F5DDB8;*/
				margin-left: 0px;
			}
			.title-galler-table {
				width: 100%;	
			}
			.title-galler-table-col1 {
				text-align: left;
				padding-left: 70px;				
			}
			.title-galler-table-col2 {
				text-align: right;
				padding-right: 70px;												
			}

		</style>



		<div style="height: 70px;"></div>

		<div class="title-gallery">
			<table class="title-galler-table">
				<tr>
					<td class="title-galler-table-col1">
						Digital Curriculum Strategy Discussion				
					</td>
					<td class="title-galler-table-col2">
						Los Angeles, CA, May 22, 2014
					</td>
				</tr>
			</table>
		</div>

		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_1.JPG" title="Image 1"><img src="../event_news_images_6/logo_LA_1.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_2.JPG" title="Image 2"><img src="../event_news_images_6/logo_LA_2.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_3.JPG" title="Image 3"><img src="../event_news_images_6/logo_LA_3.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_4.JPG" title="Image 4"><img src="../event_news_images_6/logo_LA_4.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_5.JPG" title="Image 5"><img src="../event_news_images_6/logo_LA_5.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_6.JPG" title="Image 6"><img src="../event_news_images_6/logo_LA_6.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_7.JPG" title="Image 7"><img src="../event_news_images_6/logo_LA_7.JPG" width="240" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_8.JPG" title="Image 8"><img src="../event_news_images_6/logo_LA_8.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_9.JPG" title="Image 9"><img src="../event_news_images_6/logo_LA_9.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_10.JPG" title="Image 10"><img src="../event_news_images_6/logo_LA_10.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_11.JPG" title="Image 11"><img src="../event_news_images_6/logo_LA_11.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_12.JPG" title="Image 12"><img src="../event_news_images_6/logo_LA_12.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_13.JPG" title="Image 13"><img src="../event_news_images_6/logo_LA_13.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_14.JPG" title="Image 14"><img src="../event_news_images_6/logo_LA_14.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_15.JPG" title="Image 15"><img src="../event_news_images_6/logo_LA_15.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_6/large_LA_16.JPG" title="Image 16"><img src="../event_news_images_6/logo_LA_16.JPG" width="180" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

		</div>			    


	<style>
		
		.k-cell-divider-none {
			border-right: 1px solid #fff;
			width: 1px;
			display: inline-block;
		}
		.ktop-none {
			border-top: 1px solid #fff;
		}
		.kbottom-none {
			border-top: 1px solid #fff;
		}
				
	</style>
		
    <script>
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

