
				
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>
				



		<div style="height: 70px;"></div>

		<div class="link-div-top"><a class="back-to-photos-link" href="/Event-News">
						Back to Gallery Index
					</a></div>
					<h1 class="title-h1-city">
						Digital Curriculum Strategy Discussion				
					<span>
						Houston, TX, April 10, 2014	
					</span>				
					</h1>

		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_001.JPG" title="Image 1"><img src="../event_news_images_3/logo_houston_001.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_002.JPG" title="Image 2"><img src="../event_news_images_3/logo_houston_002.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								A packed room in Houston, TX. 43 educators filled<br>
								the tables for the Digital Curriculum Strategy<br>
								Discussion Event.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_003.JPG" title="Image 3"><img src="../event_news_images_3/logo_houston_003.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Derek Casebolt of T-Mobile listens to the presentations.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_004.JPG" title="Image 4"><img src="../event_news_images_3/logo_houston_004.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Adrian Acosta, Diana Bidulescu and Laetonya Brown,<br>
								all of Houston ISD, listen in to the discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_005.JPG" title="Image 5"><img src="../event_news_images_3/logo_houston_005.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_006.JPG" title="Image 6"><img src="../event_news_images_3/logo_houston_006.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. David Kafitz speaking to the need to developing a<br>
								strategy to transition into using digital curriculum<br>
								and content.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_007.JPG" title="Image 7"><img src="../event_news_images_3/logo_houston_007.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_008.JPG" title="Image 8"><img src="../event_news_images_3/logo_houston_008.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_009.JPG" title="Image 9"><img src="../event_news_images_3/logo_houston_009.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Panelists for the moderated discussion hosted by<br>
								Derek Casebolt of T-Mobile: Dr. Rebecca Long<br>
								(Spring ISD), Dan Gohl (Houston ISD),<br>
								Beatriz Arnillas (Houston ISD),<br>
								Dr. Donald Rhodes (Damon ISD).
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_010.JPG" title="Image 10"><img src="../event_news_images_3/logo_houston_010.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Beatriz Arnillas of Houston ISD speaks during the<br>
								panel discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_011.JPG" title="Image 11"><img src="../event_news_images_3/logo_houston_011.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. Rebecca Long of Spring ISD speaks during the<br>
								panel discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_012.JPG" title="Image 12"><img src="../event_news_images_3/logo_houston_012.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. Donald Rhodes of Damon ISD.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_013.JPG" title="Image 13"><img src="../event_news_images_3/logo_houston_013.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dan Gohl of Houston ISD shares on the work of his<br>
								distict.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_014.JPG" title="Image 14"><img src="../event_news_images_3/logo_houston_014.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. Donald Rhodes shares the perspective of<br>
								transitioning to digital curriculum and content<br>
								when a small district.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_015.JPG" title="Image 15"><img src="../event_news_images_3/logo_houston_015.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Karla Koop of Spring ISD listens to the panel<br>
								discussion.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_016.JPG" title="Image 16"><img src="../event_news_images_3/logo_houston_016.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Derek Casebolt of T-Mobile hosts the panel<br>
								discussion at the Houston event.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_017.JPG" title="Image 17"><img src="../event_news_images_3/logo_houston_017.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dan Gohl of Houston ISD.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_018.JPG" title="Image 18"><img src="../event_news_images_3/logo_houston_018.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Beatriz Arnillas of Houston ISD.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 7 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_019.JPG" title="Image 19"><img src="../event_news_images_3/logo_houston_019.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Lakeisha Taylor of Aldine ISD takes notes while<br>
								listening to the panel discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_020.JPG" title="Image 20"><img src="../event_news_images_3/logo_houston_020.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Bella Gilbert of Compass Learning takes in the<br>
								discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_021.JPG" title="Image 21"><img src="../event_news_images_3/logo_houston_021.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
						<!-- <div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">Lei Lani Cauthen &nbsp;&amp;&nbsp; David Kafitz<br>The Learning Counsel </span></span>
						</div> -->
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 8 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_022.JPG" title="Image 22"><img src="../event_news_images_3/logo_houston_022.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. Donald Rhodes of Damon ISD speaks to the<br>
								audience.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_023.JPG" title="Image 23"><img src="../event_news_images_3/logo_houston_023.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_024.JPG" title="Image 24"><img src="../event_news_images_3/logo_houston_024.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 9 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_025.JPG" title="Image 25"><img src="../event_news_images_3/logo_houston_025.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								The room during the panel discussion.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_026.JPG" title="Image 26"><img src="../event_news_images_3/logo_houston_026.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dr. Rhodes speaks with Zach Harris of Promethean.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_027.JPG" title="Image 27"><img src="../event_news_images_3/logo_houston_027.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dan Gohl engages in conversation after the panel<br>
								discussion.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 10 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_028.JPG" title="Image 28"><img src="../event_news_images_3/logo_houston_028.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_029.JPG" title="Image 29"><img src="../event_news_images_3/logo_houston_029.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Attendees network after the event.
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_035.JPG" title="Image 30"><img src="../event_news_images_3/logo_houston_035.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 11 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_031.JPG" title="Image 31"><img src="../event_news_images_3/logo_houston_031.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_032.JPG" title="Image 32"><img src="../event_news_images_3/logo_houston_032.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_033.JPG" title="Image 33"><img src="../event_news_images_3/logo_houston_033.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Beatriz Arnillas speaks with Zach Harris of Promethean.
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 12 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_3/large_houston_034.JPG" title="Image 34"><img src="../event_news_images_3/logo_houston_034.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Ernie Delgado (Beyond Education Technology) and<br>
								Dr. David Kafitz (The Learning Counsel)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

		</div>			    
			

    <script>
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

