
		
		<script src="/assets/jquery.js" type="text/javascript"></script>		
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>

		<div style="height: 70px;"></div>

		<div class="link-div-top"><a class="back-to-photos-link" href="/Event-News">
						Back to Gallery Index
					</a></div>
					<h1 class="title-h1-city">
						Digital Curriculum Strategy Discussion				
					<span>
						Boston, MA, October 28, 2014
					</span>				
					</h1>

		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-01.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-01.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-02.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-02.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-03.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-03.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-04.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-04.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-05.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-05.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-06.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-06.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-07.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-07.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-08.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-08.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-09.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-09.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-10.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-10.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-11.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-11.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-12.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-12.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-13.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-13.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-14.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-14.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-15.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-15.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-16.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-16.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-17.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-17.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-18.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-18.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 7 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-19.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-19.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-20.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-20.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-21.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-21.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 8 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-22.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-22.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-23.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-23.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-24.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-24.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 9 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-25.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-25.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-26.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-26.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-27.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-27.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 10 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-28.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-28.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-29.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-29.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-30.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-30.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 11 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-31.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-31.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-32.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-32.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-48.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-48.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 12 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-33.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-33.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-34.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-34.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-35.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-35.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 13 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-36.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-36.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-37.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-37.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-38.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-38.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 14 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-39.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-39.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-40.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-40.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-41.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-41.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 15 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-42.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-42.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-43.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-43.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-44.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-44.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

			<!-- 16 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-45.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-45.jpg"  width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-46.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-46.jpg"  width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_13/web-boston-47.jpg"   title="Boston, MA, October 28, 2014"><img src="../event_news_images_13/web-boston-47.jpg"  width="270" height="164" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->

				
					<div style="margin-bottom: 100px"></div>


		</div>			    


	<style>
		
		.k-cell-divider-none {
			border-right: 1px solid #fff;
			width: 1px;
			display: inline-block;
		}
		.ktop-none {
			border-top: 1px solid #fff;
		}
		.kbottom-none {
			border-top: 1px solid #fff;
		}
				
	</style>
		
    <script>
                
		// $(window).load( function() {
		$(document).ready(function(){
			
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					// if ($(this).hasClass('k-outercell-double')) {
						// kk = $(this).height();
						// if (!(kk = $(this).height())) {
							// kk = 0;
						// }
						// k = k >= kk ? k : kk;
						// s = k;
					// }
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

