
				
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>

		
		<div style="height: 70px;"></div>
			<div class="link-div-top"><a class="back-to-photos-link" href="/Event-News">
						Back to Gallery Index
					</a></div>
					<h1 class="title-h1-city">
						Digital Curriculum Strategy Discussion				
					<span>
						Fresno, CA, April 2, 2014	
					</span>				
					</h1>
					
		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic01-h600.png" title="Image 1"><img src="../event_news_images_2/event2a-pic1-w270-h179.png" width="270" height="180" alt="" /></a>
								<!-- <img src="../event_news_images/SCpic2-h180.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'"> -->
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Morning Briefing
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic02-h600.png" title="Image 2"><img src="../event_news_images_2/Fresno-pic02-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Following along with the Strategy Discussion
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic03-h400.png" title="Image 3"><img src="../event_news_images_2/Fresno-pic03-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Sean Ryan, SVP Sales, McGraw-Hill Education 
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic04-h400.png" title="Image 4"><img src="../event_news_images_2/Fresno-pic04-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Tamara Childress, Tech. and Prof. Dev. Mgr, 
								<br>
								McGraw-Hill Education 
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic05-h400.png" title="Image 5"><img src="../event_news_images_2/Fresno-pic05-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Larry Rego, IT Director (Left) & Isabel Cabral-Johnson,
								<br>
								Superintendent (Right), Hilmar USD
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic06-h400.png" title="Image 6"><img src="../event_news_images_2/Fresno-pic06-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic07-h400.png" title="Image 7"><img src="../event_news_images_2/Fresno-pic07-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic08-h600.png" title="Image 8"><img src="../event_news_images_2/Fresno-pic08-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dan Resciniti, CTO, Clovis USD (Left), David Kafitz,
								<br>
								VP School Relations, The Learning Counsel (Standing);
								<br>
								Mark Archon, Dir. Of Instructional Tech. Services,
								<br>
								Fresno Cty Office of Ed.; Sonny Flores, Network & IT
								<br>
								Supervisor, Fresno Cty Office of Ed.; Kurt Madden,
								<br>
								CTO, Fresno USD (Right).
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic09-h400.png" title="Image 9"><img src="../event_news_images_2/Fresno-pic09-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic10-h400.png" title="Image 10"><img src="../event_news_images_2/Fresno-pic10-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Joe Casarez, Associate Superintendent, 
								<br>
								Coalinga-Huron ISD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic11-h400.png" title="Image 11"><img src="../event_news_images_2/Fresno-pic11-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Ernie Delgado, Co-CEO, BeyondTechEd (Left);
								<br>
								Dan Resciniti, CTO, Clovis USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic12-h600.png" title="Image 12"><img src="../event_news_images_2/Fresno-pic12-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Mark Archon, Dir. Of Instructional Tech. Services,
								<br>
								Fresno Cty Office of Ed. (Left); Kurt Madden, CTO,
								<br>
								Fresno USD (Right).
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic13-h600.png" title="Image 13"><img src="../event_news_images_2/Fresno-pic13-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Jonathan Blank, CEO, Reading Kingdom
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic14-h600.png" title="Image 14"><img src="../event_news_images_2/Fresno-pic14-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Kevin Beck, Managing Partner, iEngage Mobility, LLC
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic15-h600.png" title="Image 15"><img src="../event_news_images_2/Fresno-pic15-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Keith Lew, Education Accounts Manager, Edmentum
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic16-h600.png" title="Image 16"><img src="../event_news_images_2/Fresno-pic16-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Joe Casaraz, Associate Superintendent, Coalinga-Huron
								<br>
								ISD (Left); Andres Gorbea, Account Executive,
								<br>
								Compass Learning (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic17-h600.png" title="Image 17"><img src="../event_news_images_2/Fresno-pic17-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Isabel Cabral-Johnson, Superintendent (Left);
								<br>
								LeiLani Cauthen, Publisher, The Learning Counsel (Middle)
								<br>
								Jonathan Blank, CEO, Reading Kingdom (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic18-h600.png" title="Image 18"><img src="../event_news_images_2/Fresno-pic18-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Irene Strayer, Account General Mgr, Pearson (Left);
								<br>
								Ernie Delgado, Co-CEO, BeyondTechEd (Right)
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 7 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic19-h600.png" title="Image 19"><img src="../event_news_images_2/Fresno-pic19-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								David Bezzant, Sr. Director, T-Mobile (Left);
								<br>
								Melanie Lewis, Coordinator of Learning Resources,
								<br>
								Golden Valley USD; Kurt Madden, CTO, Fresno USD;
								<br>
								Dan Resciniti, CTO, Clovis USD;
								<br>
								Edward Gonzalez, Superintendent, Madera USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic20-h600.png" title="Image 20"><img src="../event_news_images_2/Fresno-pic20-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								David Bezzant, Sr. Director, T-Mobile (Left)
								<br>
								Melanie Lewis, Coordinator of Learning Resources,
								<br>
								Golden Valley USD; Kurt Madden, CTO, Fresno USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic21-h600.png" title="Image 21"><img src="../event_news_images_2/Fresno-pic21-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								David Bezzant, Sr. Director, T-Mobile (Left);
								<br>
								Melanie Lewis, Coordinator of Learning Resources,
								<br>
								Golden Valley USD; Kurt Madden, CTO, Fresno USD;
								<br>
								Dan Resciniti, CTO, Clovis USD;
								<br>
								Edward Gonzalez, Superintendent, Madera USD (Right)
							</span></span>
						</div>
						<!-- <div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">Lei Lani Cauthen &nbsp;&amp;&nbsp; David Kafitz<br>The Learning Counsel </span></span>
						</div> -->
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 8 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic22-h600.png" title="Image 22"><img src="../event_news_images_2/Fresno-pic22-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Melanie Lewis, Coordinator of Learning Resources,
								<br>
								Golden Valley USD (Left); Susie VanDerMolen, Principal,
								<br>
								Avenal Adult School (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic23-h600.png" title="Image 23"><img src="../event_news_images_2/Fresno-pic23-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Kurt Madden, CTO, Fresno USD (Right); Tom Weaver,
								<br>
								Sr. Area Manager, T-Mobile (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic24-h600.png" title="Image 24"><img src="../event_news_images_2/Fresno-pic24-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 9 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic25-h600.png" title="Image 25"><img src="../event_news_images_2/Fresno-pic25-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Andres Gorbea, Account Executive, Compass Learning (Left);
								<br>
								LeiLani Cauthen, Publisher, The Learning Counsel;
								<br>
								Chris Edmondson, Dir. Of Instructional Tech., Clovis USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic26-h600.png" title="Image 26"><img src="../event_news_images_2/Fresno-pic26-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dave Bezzant, Sr. Director, T-Mobile; Chris Edmondson,
								<br>
								Dir. Of Instructional Tech, Clovis USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic27-h600.png" title="Image 27"><img src="../event_news_images_2/Fresno-pic27-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Ernie Delgado, Co-CEO, BeyondTechEd (Left);
								<br>
								Amy Callahan, Account Executive, MyON; Melanie Lewis,
								<br>
								Coordinator of Learning Resources, Golden Valley USD (Right)
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 10 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic28-h600.png" title="Image 28"><img src="../event_news_images_2/Fresno-pic28-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic29-h600.png" title="Image 29"><img src="../event_news_images_2/Fresno-pic29-h180.png" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Dan Resciniti, CTO, Clovis USD (Left);
								<br>
								Lauri Leone Stine, M.Ed., Amplify (Right)
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 11 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic30-h450.png" title="Image 30"><img src="../event_news_images_2/Fresno-pic30-w270.png" width="270" height="405" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic31-h600.png" title="Image 31"><img src="../event_news_images_2/Fresno-pic31-w270.png" width="270" height="405" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								Edward Gonzalez, Superintendent, Madera USD
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_2/Fresno-pic32-h600.png" title="Image 32"><img src="../event_news_images_2/Fresno-pic32-w270.png" width="270" height="405" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
								David Kafitz (Left); LeiLani Cauthen (Right)
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

		</div>			    
			
		
    <script>
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

