
		
		<script src="/assets/jquery.js" type="text/javascript"></script>		
		<link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
		<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>

		<div style="height: 70px;"></div>

		<div class="link-div-top"><a class="back-to-photos-link" href="/Event-News">
						Back to Gallery Index
					</a></div>
					<h1 class="title-h1-city">
						Digital Curriculum Strategy Discussion				
					<span>
						Minneapolis, MN, June 17, 2014
					</span>				
					</h1>

		<div class="kontainer">
				
			<!-- 1 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_1.JPG" title="Image 1"><img src="../event_news_images_7/logo_IMG_1.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_2.JPG" title="Image 2"><img src="../event_news_images_7/logo_IMG_2.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_3.JPG" title="Image 3"><img src="../event_news_images_7/logo_IMG_3.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 2 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_4.JPG" title="Image 4"><img src="../event_news_images_7/logo_IMG_4.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_5.JPG" title="Image 5"><img src="../event_news_images_7/logo_IMG_5.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_6.JPG" title="Image 6"><img src="../event_news_images_7/logo_IMG_6.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end template single row -->				

			<!-- 3 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_7.JPG" title="Image 7"><img src="../event_news_images_7/logo_IMG_7.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_8.JPG" title="Image 8"><img src="../event_news_images_7/logo_IMG_8.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_9.JPG" title="Image 9"><img src="../event_news_images_7/logo_IMG_9.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 4 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_10.JPG" title="Image 10"><img src="../event_news_images_7/logo_IMG_10.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_11.JPG" title="Image 11"><img src="../event_news_images_7/logo_IMG_11.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_12.JPG" title="Image 12"><img src="../event_news_images_7/logo_IMG_12.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 5 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_13.JPG" title="Image 13"><img src="../event_news_images_7/logo_IMG_13.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_14.JPG" title="Image 14"><img src="../event_news_images_7/logo_IMG_14.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_15.JPG" title="Image 15"><img src="../event_news_images_7/logo_IMG_15.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 6 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_16.JPG" title="Image 16"><img src="../event_news_images_7/logo_IMG_16.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_17.JPG" title="Image 17"><img src="../event_news_images_7/logo_IMG_17.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_18.JPG" title="Image 18"><img src="../event_news_images_7/logo_IMG_18.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 7 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_19.JPG" title="Image 19"><img src="../event_news_images_7/logo_IMG_19.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_20.JPG" title="Image 20"><img src="../event_news_images_7/logo_IMG_20.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_21.JPG" title="Image 21"><img src="../event_news_images_7/logo_IMG_21.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 8 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_22.JPG" title="Image 22"><img src="../event_news_images_7/logo_IMG_22.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_23.JPG" title="Image 23"><img src="../event_news_images_7/logo_IMG_23.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_24.JPG" title="Image 24"><img src="../event_news_images_7/logo_IMG_24.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 9 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_25.JPG" title="Image 25"><img src="../event_news_images_7/logo_IMG_25.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_26.JPG" title="Image 26"><img src="../event_news_images_7/logo_IMG_26.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_27.JPG" title="Image 27"><img src="../event_news_images_7/logo_IMG_27.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 10 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_28.JPG" title="Image 28"><img src="../event_news_images_7/logo_IMG_28.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_29.JPG" title="Image 29"><img src="../event_news_images_7/logo_IMG_29.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_30.JPG" title="Image 30"><img src="../event_news_images_7/logo_IMG_30.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 11 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_31.JPG" title="Image 31"><img src="../event_news_images_7/logo_IMG_31.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_32.JPG" title="Image 32"><img src="../event_news_images_7/logo_IMG_32.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_33.JPG" title="Image 33"><img src="../event_news_images_7/logo_IMG_33.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 12 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_34.JPG" title="Image 34"><img src="../event_news_images_7/logo_IMG_34.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_35.JPG" title="Image 35"><img src="../event_news_images_7/logo_IMG_35.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_37.JPG" title="Image 37"><img src="../event_news_images_7/logo_IMG_37.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 13 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_38.JPG" title="Image 38"><img src="../event_news_images_7/logo_IMG_38.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_39.JPG" title="Image 39"><img src="../event_news_images_7/logo_IMG_39.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_40.JPG" title="Image 40"><img src="../event_news_images_7/logo_IMG_40.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 14 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_41.JPG" title="Image 41"><img src="../event_news_images_7/logo_IMG_41.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_42.JPG" title="Image 42"><img src="../event_news_images_7/logo_IMG_42.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_43.JPG" title="Image 43"><img src="../event_news_images_7/logo_IMG_43.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 15 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_44.JPG" title="Image 44"><img src="../event_news_images_7/logo_IMG_44.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_45.JPG" title="Image 45"><img src="../event_news_images_7/logo_IMG_45.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_46.JPG" title="Image 46"><img src="../event_news_images_7/logo_IMG_46.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 16 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_47.JPG" title="Image 47"><img src="../event_news_images_7/logo_IMG_47.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_48.JPG" title="Image 48"><img src="../event_news_images_7/logo_IMG_48.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_49.JPG" title="Image 49"><img src="../event_news_images_7/logo_IMG_49.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 17 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_50.JPG" title="Image 50"><img src="../event_news_images_7/logo_IMG_50.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_51.JPG" title="Image 51"><img src="../event_news_images_7/logo_IMG_51.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_52.JPG" title="Image 52"><img src="../event_news_images_7/logo_IMG_52.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 18 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_53.JPG" title="Image 53"><img src="../event_news_images_7/logo_IMG_53.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_54.JPG" title="Image 54"><img src="../event_news_images_7/logo_IMG_54.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_55.JPG" title="Image 55"><img src="../event_news_images_7/logo_IMG_55.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 19 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_56.JPG" title="Image 56"><img src="../event_news_images_7/logo_IMG_56.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_57.JPG" title="Image 57"><img src="../event_news_images_7/logo_IMG_57.JPG" width="270" height="180" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_58.JPG" title="Image 58"><img src="../event_news_images_7/logo_IMG_58.JPG" width="270" height="180" alt="" /></a>

							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				






			<!-- 20 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_59.JPG" title="Image 59"><img src="../event_news_images_7/logo_IMG_59.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_60.JPG" title="Image 60"><img src="../event_news_images_7/logo_IMG_60.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_61.JPG" title="Image 61"><img src="../event_news_images_7/logo_IMG_61.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 21 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_62.JPG" title="Image 62"><img src="../event_news_images_7/logo_IMG_62.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_63.JPG" title="Image 63"><img src="../event_news_images_7/logo_IMG_63.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_64.JPG" title="Image 64"><img src="../event_news_images_7/logo_IMG_64.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				

			<!-- 22 start template single row -->
			<div class="k-governcell ktop-none kbottom-none">	
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_65.JPG" title="Image 65"><img src="../event_news_images_7/logo_IMG_65.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
        						<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_66.JPG" title="Image 66"><img src="../event_news_images_7/logo_IMG_66.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
				<div class="k-cell-divider-none"></div>
				<div class="k-outercell kol3">
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<a data-gal="prettyPhoto[gallery2]" href="../event_news_images_7/large_IMG_67.JPG" title="Image 67"><img src="../event_news_images_7/logo_IMG_67.JPG" width="180" height="270" alt="" /></a>
							</div>
						</div>
						<div class="k-b-headline-gallery">
							<span class="kbyline-none-caps"><span class="k-b-link">
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end template single row -->				



		</div>			    


	<style>
		
		.k-cell-divider-none {
			border-right: 1px solid #fff;
			width: 1px;
			display: inline-block;
		}
		.ktop-none {
			border-top: 1px solid #fff;
		}
		.kbottom-none {
			border-top: 1px solid #fff;
		}
				
	</style>
		
    <script>
                
		// $(window).load( function() {
		$(document).ready(function(){
			
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					// if ($(this).hasClass('k-outercell-double')) {
						// kk = $(this).height();
						// if (!(kk = $(this).height())) {
							// kk = 0;
						// }
						// k = k >= kk ? k : kk;
						// s = k;
					// }
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider-none')).height(m);
			});
		});

	</script>

