<% provide(:title, 'Event Photos') %>

	
	<!-- <script type="text/javascript" src="/assets/jquery.min.js"></script> -->
	<!-- <link rel="stylesheet" href="/gallery/styles/elegant-press.css" type="text/css" />
	<script src="/gallery/scripts/elegant-press.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="../chosen/chosen.css">
  	<script src="../chosen/chosen.jquery.js" type="text/javascript"></script> -->


	<div id="id_default" style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff; min-height: 800px;">
	    
	    
		<header>		
		 								
			<%= render 'share/backtotop' %>
		 					
		</header>		

		<div style="height: 70px;"></div>

			<!-- 
			Columbia, SC, Feb 27
			Fresno, CA, April 2
			Houston, TX, April 10, 2014 
			Chicago, IL, April 15
			Richmond, VA, May 6
			Los Angeles, CA, May 22 
			

			<div style="margin-left: 70px;">
          		<select id="event_photos_montage" data-placeholder="Choose a City" class="chosen-select" style="display: none;" tabindex="2">
            		<option value="0"></option>
            		<option value="1">Columbia, SC, Feb 27, 2014</option>
            		<option value="2">Fresno, CA, April 2, 2014</option>
            		<option value="3">Houston, TX, April 10, 2014</option>
            		<option value="4">Chicago, IL, April 15, 2014</option>
            		<option value="5">Richmond, VA, May 6, 2014</option>
            		<option value="6">Los Angeles, CA, May 22, 2014</option>
            		<option value="7">Minneapolis, MN, June 17, 2014</option>
          		</select>
			</div>-->
			
		  	<script type="text/javascript">
		    	var config = {
		      	'.chosen-select'           : {},
		      	'.chosen-select-deselect'  : {allow_single_deselect:true},
		      	'.chosen-select-no-single' : {disable_search_threshold:10},
		      	'.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
		      	'.chosen-select-width'     : {width:"95%"}
		    	}
		    	for (var selector in config) {
		      		$(selector).chosen(config[selector]);
		    	}
		  	</script>

		  	<!-- event main image links -->
		  	<div id="event-news-main">
		  		<h1 class="title-h1-main"><img width="100" src="/repository/bubble3.jpeg">Digital Curriculum Strategy Discussion 
		  			<span>Gallery Index</span></h1>
				
				<ul class="event-news-list">
		  		<h2><span style="font-size: 28px; color: #f8b242; padding-left: 0px;">National Gathering</span><br/>
		  			New Orleans, LA, November 2-3, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-New-Orleans"><img width="270" height="180" alt="" src="../event_news_images_14/web-new-orleans-27.jpg"></a></li>
		<li><a href="/Event-Photos-New-Orleans"><img width="270" height="180" alt="" src="../event_news_images_14/web-new-orleans-38.jpg"></a></li>
		<li><a href="/Event-Photos-New-Orleans"><img width="270" height="180" alt="" src="../event_news_images_14/web-new-orleans-41.jpg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Boston, MA, October 28, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Boston"><img width="270" height="180" alt="" src="../event_news_images_13/web-boston-04.jpg"></a></li>
		<li><a href="/Event-Photos-Boston"><img width="270" height="180" alt="" src="../event_news_images_13/web-boston-26.jpg"></a></li>
		<li><a href="/Event-Photos-Boston"><img width="270" height="180" alt="" src="../event_news_images_13/web-boston-03.jpg"></a></li>
				</ul>
				
				<ul class="event-news-list">
		  		<h2>Tampa, FL, October 16, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Tampa"><img width="270" height="180" alt="" src="../event_news_images_12/web-tampa-07.jpg"></a></li>
		<li><a href="/Event-Photos-Tampa"><img width="270" height="180" alt="" src="../event_news_images_12/web-tampa-28.jpg"></a></li>
		<li><a href="/Event-Photos-Tampa"><img width="270" height="180" alt="" src="../event_news_images_12/web-tampa-33.jpg"></a></li>
				</ul>
				
				<ul class="event-news-list">
		  		<h2>Santa Clara, CA, September 30, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Santa-Clara"><img width="270" height="180" alt="" src="../event_news_images_11/logo_santaclara-14-web.jpg"></a></li>
		<li><a href="/Event-Photos-Santa-Clara"><img width="270" height="180" alt="" src="../event_news_images_11/logo_santaclara-52-web.jpg"></a></li>
		<li><a href="/Event-Photos-Santa-Clara"><img width="270" height="180" alt="" src="../event_news_images_11/logo_santaclara-36-web.jpg"></a></li>
				</ul>
				
		  		<ul class="event-news-list">
		  		<h2>Newark, NJ, September 25, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Newark"><img width="270" height="164" alt="" src="../event_news_images_10/logo_newark-53web.jpg"></a></li>
		<li><a href="/Event-Photos-Newark"><img width="270" height="164" alt="" src="../event_news_images_10/logo_newark-28web.jpg"></a></li>
		<li><a href="/Event-Photos-Newark"><img width="270" height="164" alt="" src="../event_news_images_10/logo_newark-30web.jpg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Dallas, TX, September 18, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Dallas"><img width="270" height="180" alt="" src="../event_news_images_9/logo_dallas-17web.jpg"></a></li>
		<li><a href="/Event-Photos-Dallas"><img width="270" height="180" alt="" src="../event_news_images_9/logo_dallas-42web.jpg"></a></li>
		<li><a href="/Event-Photos-Dallas"><img width="270" height="180" alt="" src="../event_news_images_9/logo_dallas-20web.jpg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Denver, CO, September 9, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Denver"><img width="270" height="180" alt="" src="../event_news_images_8/logo_denver-3web.jpeg"></a></li>
		<li><a href="/Event-Photos-Denver"><img width="270" height="180" alt="" src="../event_news_images_8/logo_denver-49web.jpeg"></a></li>
		<li><a href="/Event-Photos-Denver"><img width="270" height="180" alt="" src="../event_news_images_8/logo_denver-11web.jpeg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Minneapolis, MN, June 17, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Minneapolis"><img width="270" height="180" alt="Minneapolis" src="../event_news_images_7/logo_IMG_1.JPG"></a></li>
		<li><a href="/Event-Photos-Minneapolis"><img width="270" height="180" alt="Minneapolis" src="../event_news_images_7/logo_IMG_2.JPG"></a></li>
		<li><a href="/Event-Photos-Minneapolis"><img width="270" height="180" alt="Minneapolis" src="../event_news_images_7/logo_IMG_57.JPG"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Los Angeles, CA, May 22, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-LA"><img width="270" alt="LA" src="../event_news_images_6/logo_LA_7.JPG"></a></li>
		<li><a href="/Event-Photos-LA"><img width="270" alt="LA" src="../event_news_images_6/logo_LA_6.JPG"></a></li>
		<li><a href="/Event-Photos-LA"><img width="270" alt="LA" src="../event_news_images_6/logo_LA_5.JPG"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Richmond, VA, May 6, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Richmond"><img width="270" height="152" alt="Richmond" src="../event_news_images_5/logo_Richmond_10.jpg"></a></li>
		<li><a href="/Event-Photos-Richmond"><img width="270" height="152" alt="Richmond" src="../event_news_images_5/logo_Richmond_11.jpg"></a></li>
		<li><a href="/Event-Photos-Richmond"><img width="270" height="152" alt="Richmond" src="../event_news_images_5/logo_Richmond_7.jpg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Chicago, IL, April 15, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Chicago"><img width="270" height="152" alt="Chicago" src="../event_news_images_4/logo_chicago_03.jpg"></a></li>
		<li><a href="/Event-Photos-Chicago"><img width="270" height="152" alt="Chicago" src="../event_news_images_4/logo_chicago_05.jpg"></a></li>
		<li><a href="/Event-Photos-Chicago"><img width="270" height="152" alt="Chicago" src="../event_news_images_4/logo_chicago_07.jpg"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Houston, TX, April 10, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Houston"><img width="270" height="180" alt="Houston" src="../event_news_images_3/logo_houston_004.JPG"></a></li>
		<li><a href="/Event-Photos-Houston"><img width="270" height="180" alt="Houston" src="../event_news_images_3/logo_houston_021.JPG"></a></li>
		<li><a href="/Event-Photos-Houston"><img width="270" height="180" alt="Houston" src="../event_news_images_3/logo_houston_006.JPG"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Fresno, CA, April 2, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Fresno"><img height="180" alt="Fresno" src="../event_news_images_2/Fresno-pic11-h180.png"></a></li>
		<li><a href="/Event-Photos-Fresno"><img height="180" alt="Fresno" src="../event_news_images_2/Fresno-pic09-h180.png"></a></li>
		<li><a href="/Event-Photos-Fresno"><img height="180" alt="Fresno" src="../event_news_images_2/Fresno-pic19-h180.png"></a></li>
				</ul>

		  		<ul class="event-news-list">
		  		<h2>Columbia, SC, Feb 27, 2014 <span>Click an image to see full gallery</span></h2>
		<li><a href="/Event-Photos-Columbia"><img height="180" alt="Columbia" src="../event_news_images/SCpic2-h180.png"></a></li>
		<li><a href="/Event-Photos-Columbia"><img height="180" alt="Columbia" src="../event_news_images/SCpic6-h180.png"></a></li>
		<li><a href="/Event-Photos-Columbia"><img height="180" alt="Columbia" src="../event_news_images/SCpic12-h180.png"></a></li>
				</ul>
		
			</div>
			<!-- End of event main image links -->


		<div style="height: 50px;"></div>
			
	</div>

	<div style="height: 70px;"></div>


					
					
	<script>

		function init(montage_start) {

			$("#event_photos_montage").val(montage_start);
			$("#event_photos_montage").trigger('chosen:updated');
			// $("#event_photos_montage option").each(function(){
			    // if ($(this).val() == "6") {
			        // $(this).attr("selected",true);
			    // } else {
			        // $(this).removeAttr("selected");
			    // }
			// });
			$("#event_photos_montage").trigger('change');

			// $("#event_photos_montage").find('option[value="6"]').attr("selected",true);
			// var obj = $("select[id='event_photos_montage']").find('option[value="6"]').attr("selected", "selected");
			
			// var insert_url = "/eventnews/photos_" + montage_start + ".js";
		  	// $.ajax({
		    	// type: 'GET',
		    	// url: insert_url,
            	// statusCode: {
            	// },
            	// success: function(data) {
            	// },
            	// error: function(xhr){
            	// }
		  	// });
		  	
		}

		$(window).load( function() {
		// $(document).ready(function(){
			
			
			$("#event_photos_montage").chosen({

			}).change(function(event){
				
				// alert($(this).val());
			
			     if(event.target == this){

					var valu = $(this).val();
					var insert_url = "/eventnews/photos_1.js";
					switch (valu)
					{
					  case '1':
					  	insert_url = "/eventnews/photos_1.js";
					  	break;
					  case '2':
					  	insert_url = "/eventnews/photos_2.js";
					  	break;
					  case '3':
					  	insert_url = "/eventnews/photos_3.js";
					  	break;
					  case '4':
					  	insert_url = "/eventnews/photos_4.js";
					  	break;
					  case '5':
					  	insert_url = "/eventnews/photos_5.js";
					  	break;
					  case '6':
					  	insert_url = "/eventnews/photos_6.js";
					  	break;
					  case '7':
					  	insert_url = "/eventnews/photos_7.js";
					  	break;
		
					  default:
					  //
					}
					
				  	$.ajax({
				    	type: 'GET',
				    	url: insert_url,
				    	// contentType: "application/js",
				    	// processData: false,
				    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		            	statusCode: {
		                	// 200:function() { alert("200"); },
		                	// 202:function() { alert("202"); }
		            	},
		            	success: function(data) {
		            	  // alert("success"); 
		            	}
		            	// error: function(xhr){  alert("error: " + xhr.statusText); }
		            	// error: function(xhr, status){  alert(xhr.status); }
				  	});
				  	
					// $( document ).ajaxComplete(function() {
						// $("#event_photos_montage").blur();
						// // alert('complete');
					// });
			     }
			});			

			init(gon.montage_start);


		});
	
	</script>


