
	<style>
							
		.k-link {
			color: #C4740C; /*#9C5800;*/
			font-size: 20px;
			font-family: KlavikaMedium;		
		}
		
 		#schedule {
 			line-height: 1.6em;
 			background-color: #19A625;
 			padding: 20px;
 			width: 310px;
		}

 		#schedule table tr td ul li p {
 			font-family: KlavikaMedium; 
 			font-size: 16px;
 			line-height: 1.6em;
		}
 				
		p {
			font-family: KlavikaMedium;
			font-weight: 400;
			font-size: 14px;				
		} 	
					
	</style>
						
							
	<!-- <div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;"> -->
		
		<header>				
				
			<%= render 'share/backtotop' %>
	    	
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
							<bodycopy id="bodykopy">
						
								<div>
											
			 						<%= render 'share/events_insert_3' %>
			 						
			 					</div>
			 					
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<div style="height: 70px;"></div>

							<div style="">
							    <img src="../repository/image-lani-ceo.png" alt="image-lani-ceo.png" width="240px" >
							</div>

							<div style="height: 70px;"></div>

							<!--									
							Columbia, SC – Feb 27, 2014
							Fresno, CA (Central Valley) – March 17, 2014  
							Chicago, IL –April 15, 2014
							Houston, TX – April 10, 2014 (tentative)
							San Bernardino, CA (Southern Valley Schools)– April 24th, 2014 (tentative)
							Richmond, VA – May 6, 2014
							Minneapolis, MN – June TBD
							Detroit, MI – June TBD
							Denver, CO – Sept. TBD
							Dallas, TX – Sept. TBD        
							Newark, NJ – Sept. TBD                          
							San Jose, CA (Silicon Valley Schools) – Sept. TBD    
							Las Vegas – Oct. TBD           
							Tampa, FL – Oct. TBD
							National “the Gathering” Event – New Orleans, Nov 3-4, 2014
							-->

							<div id="schedule">
								<table>
									<tr>
										<td style="width: 180px"></td>
										<td style="width: 130px">
											<p style="font-size: 18px;">2014</p>
										</td>
									</tr>
									<tr>
										<td style="width: 180px">
											<ul style="list-style-type: none;">
												<li>
													<p>Columbia, SC</p>
												</li>
												<li>
													<p>Fresno, CA (Central)</p>
												</li>
												<li>
													<p>Chicago, IL</p>
												</li>
												<li>
													<p>Houston, TX</p>
												</li>
												<li>
													<p>San Bernadino, CA</p>
												</li>
												<li>
													<p>Richmond, VA</p>
												</li>
												<li>
													<p>Minneapolis, MN</p>
												</li>
												<li>
													<p>Detroit, MI</p>
												</li>
												<li>
													<p>Denver, CO</p>
												</li>
												<li>
													<p>Dallas, TX</p>
												</li>
												<li>
													<p>Newark, NJ</p>
												</li>
												<li>
													<p>San Jose, CA</p>
												</li>
												<li>
													<p>Las Vegas, NV</p>
												</li>
												<li>
													<p>Tampa, FL</p>
												</li>
											</ul>
										</td>
										<td style="width: 130px">
											<ul style="list-style-type: none;">
												<li>
													<p>Feb 27</p>
												</li>
												<li>
													<p>March 17</p>
												</li>
												<li>
													<p>April 15</p>
												</li>
												<li>
													<p>April 10 (tentative)</p>
												</li>
												<li>
													<p>April 24</p>
												</li>
												<li>
													<p>May 6</p>
												</li>
												<li>
													<p>June TBD</p>
												</li>
												<li>
													<p>June TBD</p>
												</li>
												<li>
													<p>Sept TBD</p>
												</li>
												<li>
													<p>Sept TBD</p>
												</li>
												<li>
													<p>Sept TBD</p>
												</li>
												<li>
													<p>Sept TBA</p>
												</li>
												<li>
													<p>Oct TBD</p>
												</li>
												<li>
													<p>Oct TBD</p>
												</li>
											</ul>
										</td>
										
									</tr>
								</table>
								<div style="height: 20px;"></div>								
								<table style="width: 290px; text-align: center;">
									<tr>
										<td>
											<ul style="list-style-type: none; text-align: center;">
												<li>
													<p>National "The Gathering" Event</p>
												</li>												
											</ul>
										</td>
									</tr>
									<tr>
										<td>
											<ul style="list-style-type: none; text-align: center;">
												<li>
													<p>Nov 3-4</p>
												</li>												
											</ul>
										</td>
									</tr>

								</table>
								
								
							    <!-- <img src="../repository/events-schedule-4.jpg" alt="events-schedule-4.jpg" width="340px"> -->							    
							    
							    
							</div>

							<div style="height: 700px;"></div>

							<div style="">
							    <img src="../repository/events-image-1.png" alt="events-image-1.png" width="340px">
							</div>

							
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
									
										<!-- <dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt> -->
									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				

							<!-- <div style="height: 50px;"></div>
							
							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 153px;">
							    <img src="../repository/image-events-1.jpg" alt="image-events-1.jpg" width="180px" >
							</div>
							

							<div style="height: 50px;"></div>

							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 120px;">
							    <img src="../repository/image-events-2.jpg" alt="image-events-2.jpg" width="180px" >
							</div>
							
							<div style="height: 50px;"></div>

							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 180px;">
							    <img src="../repository/image-events-3.jpg" alt="image-events-3.jpg" width="180px" >
							</div> -->
														
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 60px;"></div>
					
			</div>
			
		</section>

	<!-- </div> -->


					
