
<!-- <style>

  	p.survey-title {
  		color: #214025;
    	float: right;
    	font-family: Quattrocento Sans;
    	font-size: 30px;
    	margin-bottom: 100px;
    	margin-right: 50px;
	}
	
</style> -->

<!-- START SURVEY CODE -->
<div id="survey-top">
	<img src="/repository/schedule/survey-image.jpg" class="digital-cur-img">

	<p class="survey-title">2015 DIGITAL CURRICULUM STRATEGY
SCHOOL ASSESSMENT TOOL &amp; SURVEY</p>
<ul class="survey-top-list">
<li><span>Find out how well you’re doing.</span></li>
<li><span>Gain insight to make immediate improvements
in your own work.</span></li>
<li><span>Help your school or district.</span></li>
</ul>
<a class="take-surv-button" href="https://www.surveymonkey.com/r/LC2015Assement" target="_blank" style="color:#fff;">TAKE THE ASSESSMENT</a>

	
	<!-- <h1>The 2014 Survey is Open.<h1>
	<h1>The cutoff for completed responses has</h1>
	<h1>been set for October 3, 2014 at 11:45 p.m.</h1> -->
	<div style="text-align: center; width:400px;">
	<a class="surv-read" target ="_blank" href="/archives/School-Awards-Digital-Curriculum">Read About Our<br/> Top Survey Award Winners for 2014</a>
	</div>


</div>
<div style="clear: both;"></div>

	<div class="mid-bar">DIGITAL CURRICULUM STRATEGY SCHOOL ASSESSMENT TOOL &amp; SURVEY</div>

	<div class="content">
		<div class="left">
				<p>The Learning Counsel is providing this assessment tool for
U.S. K-12 and equivalent international educators about digital
curriculum strategies and selecting the Top 10 to join us at our
national Gathering event for an Awards Ceremony to honor their
achievements.</p>
<p>
Invited participants include: Senior education leaders, especially
curriculum and technology executives or teams.
</p>
<p>
The Learning Counsel will be ranking the composition of an
institution’s:</p>

<ul>
<li><span>Strategy elements.</span></li>
<li><span>Digital curriculum tactics.</span></li>
<li><span>Coverage models.</span></li>
<li><span>Policies.</span></li>
<li><span>Organizational practices and systems.</span></li>
<li><span>Successful pedagogical shift.</span></li>
<li><span>Educator and student technology provisions, training,
and use of digital curriculum.</span></li>
<li><span>The data resulting from this study will be used to produce a key
findings report editorialized by the Learning Counsel.</span></li>
</ul>

<p>
Subsequent to the survey:</p>

<ul>
<li><span>An Awards Ceremony to honor the Top 10 institutions for
their achievements at the Gathering, in October 2015.</span></li>
<li><span>Findings will be provided to all study participants.</span></li>
<li><span>Winner interviews will be publically promoted with video
capture, editorial on the Learning Counsel site, and press
releases to general media outlets.</span></li>
<li><span>A follow-on Internet Seminar featuring some of the Top 10
for our national audience to attend in January 2016.</span></li>
</ul>
		</div>


		<div class="right">
			<h1 style="color: #49853f;">HELP YOUR DISTRICT.<br/>
HELP ALL OF EDUCATION.</h1>

			<p>In addition to providing data, our survey
instrument is a valuable tool for self-assessment
and will help you know where you stand. Just by
virtue of the questions being asked, you will find
out more of what others are doing, and what
you are already engaged in, that puts you well
on the way to a great strategy.</p>

<p>Our initial surveys, and our city-by-city tour
of Digital Curriculum Strategy Discussions, is
proving to us that many districts and schools do
not have comprehensive strategies. They are
using all types of random hardware products,
subscription sites, apps, digital content and
systems.</p>

<p>On top of this confusion of available devices and
software, there is no immediate and codified
solution for how these digital “things” are to
be vetted, purchased or used. Teachers are
literally overwhelmed at a time when standards
and testing are also changing. It goes without
saying this is creating an enormous burden for
schools.</p>
<p>
This Survey will cause your district to take
inventory and look at what you are doing from
a top-down pedagogical view. Perhaps you are
over-duplicating digital materials or devices. Or
have no coverage at all in key subject areas.
Inspecting your policies, methods of purchase
and use will be a healthy exercise that can
greatly benefit your district’s transition to
digital <span style="text-align:justify;">curriculum.</span></p>
		</div>

		<div style="clear:both; height:15px; margin-top:20px;"></div>
		<h1 style="font-size:27px;">Digital Curriculum Strategy School Assessment Tool &amp; Survey Underwriter</h1>

		<div class="sprint-box">
			<img src="/repository/schedule/sprint-stack.jpg" alt="sprint">
			<p>
				Sprint offers a comprehensive range of wireless and wireline communications services
and businesses. At Sprint, we strive to connect people to what they want – and dream of.
School districts are constantly searching for business solution providers who can handle
their demanding and distributed environments. By choosing Sprint, you get a complete
package of tailored solutions and innovations from a company with a strong history of
supporting K-12 education<br/><br/>
For more information, visit <a href="http://sprint.com/k12" target="_blank">sprint.com/k12</a>
			</p>

		</div>

	</div> <!-- End content-->


<!-- END SURVEY -->

