<% provide(:title, 'About Us') %>

					
		<style type="text/css">
		
			/*@font-face {
			  	font-family: 'Vollkorn';
			  	font-style: italic;
			  	font-weight: 400;				
			  	font-family: 'Vollkorn-Italic';
			  	src: url('/assets/Vollkorn-Italic.ttf') format('truetype');
			  	src: url('/assets/Vollkorn-BoldItalic.ttf') format('truetype');			  	
			  	src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url('/assets/vollkorn-italic.woff') format('woff');			  
			}*/
											
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
												
		</style>
							
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
		            		<div class="k-channel-article jump industry_news_catbox_royalred">
		            			<div><span></span></div>
		            		</div>
		            				        
		            		<h1 id="k-headline">About Us
			                    <span class="kbyline"><a href="#" style="color: black;" rel="author"></a>
			    				</span>
		    				</h1>                        
								
							<bodycopy id="bodykopy">
								
			 					<%= render 'share/about_us' %>
			 						
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div>
							
							<div style="height: 1560px;"></div>
			
							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 174px; height: 174px;">									
									<img src="../repository/image_lani.jpeg" style="width:173px; height:173px" alt="image_lani.jpeg" >
								</div>					      		
							</div>							

							<div style="height: 86px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 174px; height: 174px;">
								  	<img src="../repository/image_david_8k.jpeg" style="width:172px; height:173px" alt="image_david_8k.jpeg" >								
								</div>					      		
							</div>							

							<div style="height: 130px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 174px; height: 174px;">
								  	<img src="../repository/image_eric.jpg" style="width:172px; height:173px" alt="image_eric.jpg" >								
								</div>					      		
							</div>							

							<div style="height: 32px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 174px; height: 174px;">
								  	<img src="../repository/image_ryan.jpg" style="width:172px; height:173px" alt="image_ryan.jpg" >								
								</div>					      		
							</div>							

							<div style="height: 50px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 116px; height: 174px;">
								  	<img src="../repository/image_jeremy.png" style="height:173px" alt="image_jeremy.png" >								
								</div>					      		
							</div>							

							<div style="height: 50px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 150px; height: 150px;">
								  	<img src="../repository/image_karen_2.png" style="height:150px" alt="image_karen_2.png" >								
								</div>					      		
							</div>							

							<div style="height: 40px;"></div>

							<div id="select_services">
								<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 2px; width: 174px; height: 174px;">
								  	<img src="../repository/article-icon-10-pair.png" style="width:172px; height:173px" alt="article-icon-10-pair.png" >								
								</div>					      		
							</div>							
							
						</div>
					</div>

					<br clear="all">
			
					<div style="height: 100px;"></div>
					
			</div>
			
		</section>
		
	</div>
		
