<% provide(:title, 'Articles') %>

				
		<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>
							
		<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script> -->


    	<script type="text/javascript" src="../scripts/jquery.tmpl.js"></script>


		<style>
			
			.k-decorate-none {
				text-decoration: none;
			}
			
		</style>




<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/css.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/site.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/demo/demo-slideshow.css"> -->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.tile.js"></script> -->


		<style>
		.cycle-overlay.custom { text-align: right; }
		button { margin-top: 40px }
		</style>
	
	
		<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/css.css"> -->
		<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/site.css"> -->
		<link rel="stylesheet" href="../styles/slideshow.css">
		<!-- <script src="../Cycle2_Overlays_files/jquery_002.js"></script>
		<script src="../Cycle2_Overlays_files/jquery.js"></script> -->



		<style>
			
			.kontainer-top {
				position: relative;
				/*margin: 0 auto;*/
				margin-left: 10%;
				clear: both;
				width: 1200px;
				background-color: #fff;
			}
			.kontainer {width:1100px;}
			.title-gallery {
				font-size: 16px;
				line-height: 16px;
				color: #8A5A0C;
				font-family: KlavikaBlack, Arial, sans-serif;
				/*text-shadow: 2px 2px #F5DDB8;*/
				margin-left: 0px;
			}
			.title-galler-table {
				width: 100%;	
			}
			.title-galler-table-col1 {
				text-align: center;
				padding-left: 0px;				
			}
			.title-galler-table-col2 {
				text-align: right;
				padding-right: 0px;												
			}
			
			
			.slider-border-1 {
				 width: 270px; 
				 height: 180px; 
				 border: 6px solid #000;
			}
			.slider-border-1:hover {
				 border: 6px solid orange;
			}
			.slider-border-2 {
				 width: 270px; 
				 height: 152px; 
				 border: 6px solid #000;
			}
			.slider-border-2:hover {
				 border: 6px solid orange;
			}
			.video-bytes {
				font-family: bytes;
				font-size: 40px;
			}
			.video-tv {
				font-family: AsSeenOnTV;
				font-size: 16px;
			}
			.video-msyh {
				font-family: msyh;
				font-size: 16px;
			}
			
			a.video-text {
				color: #333;
				text-decoration: none;
			}
			a.video-text:hover {
				color: #41b737;
				text-shadow: 2px 2px #ccc;
			}
			
			.line-video {
				border-top: #181873 5px solid !important;
				width: 300px;
			}
			.line-empty {
				border-top: #fff 5px solid !important;
			}
			.visibility-hidden {
				visibility: hidden;	
			}
			.display-none {
				display: none;	
			}
			
			.past-event-phots-h {
				height:27px;
				background:#214025;
				color: #FFF;
				text-align:center;
				width: 300px;
				text-transform: uppercase;
			}

			a.past-event-a:hover {
				opacity: .6;
				text-decoration:none;
				color:#FFF;
			}
			.past-event-a .k-inner-cell {
				border:2px solid #34633a;
				box-shadow: 0 3px 3px #6f6f6f;
				width:300px;
			}

			.search-function {
				background: none repeat scroll 0 0 #f7f7f7;
   				 border: 1px solid #41b737;
    			color: #9e9e9e;
    			font-size: 18px;
    			height: 25px;
    			text-align: left;
   				 width: 270px;
			}
			#render_ad {float:right;}
			#render_ad a:hover {opacity: .6;}
			

		</style>

		<div style="margin-top:50px;" class="seperator"><img src="/repository/logo-boxes-alone.png">ARTICLES</div>

		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
	   	


		 								
			<%= render 'share/backtotop' %>

									
		
<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
				
<section>			
				<div class="kontainer">
					
					<div style="height: 20px;"></div>
					
				
<div style="height: 20px;"></div>

<a name="anchor2"></a>    		      		     		
<div id="render_ad">
	<a href="http://thelearningcounsel.com/ContactUs">
		<img class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'" src="../repository/banner-2.png">
	</a>
	<div style="height: 20px;"></div>
	<a href="http://www.triumphlearning.com">
		<img src="/assets/waggle-ad.jpg">
	</a>
</div>
<!-- Start author column
	<div class="author-column">
		<h2 class="author-header">FEATURED AUTHORS</h2>
		<div class="a-column-box" style="margin-top: 3px; border-top: 1px solid gray;">
			<img class="auth-pic" src="/repository/events/lani-small.jpg" alt="Leilani Cauthen">
			<h3>LEILANI CAUTHEN</h3>
			<p>Well versed in digital content and curriculum
				change, the adoption process,
				successful strategies, and helping
				schools understand what’s available
				and what will work.
				Leilani is a consulting, media, research,
				marketing and sales professional with 26 years of experience
				in the high tech, government and education sectors.</p>
			<div class="social-links-author">
				<a href="https://www.facebook.com/leilani.cauthen" target="_blank"><img src="/repository/facebook.png" alt="Facebook"></a>
				<a href="https://twitter.com/leilanicauthen" target="_blank"><img src="/repository/twitter.png" alt="Twitter"></a>
				<a href="https://www.linkedin.com/profile/view?id=101158241" target="_blank"><img src="/repository/linkedin.png" alt="LinkedIn"></a>
			</div>
		</div>

		<div class="a-column-box">
			<img class="auth-pic" src="/repository/events/david.png" alt="David Kafitz">
			<h3>DAVID KAFITZ, Ed.D.</h3>
			<p>Expert and charismatic change-agent
				helping schools move forward with
				a well-reasoned strategy for digital
				content and curriculum, professional
				development and IT strategy.
				Former Superintendent, Director of
				Technology Services, Principal, and Teacher in North Carolina
				Public Schools.</p>
				<div class="social-links-author">
				<a href="https://www.facebook.com/dkafitz" target="_blank"><img src="/repository/facebook.png" alt="Facebook"></a>
				<a href="https://twitter.com/david_kafitz" target="_blank"><img src="/repository/twitter.png" alt="Twitter"></a>
				<a href="https://www.linkedin.com/profile/view?id=78484533" target="_blank"><img src="/repository/linkedin.png" alt="LinkedIn"></a>
			</div>
		</div>

		<div class="a-column-box">
			<img class="auth-pic" src="/repository/events/joe-du.jpg" alt="Joe Due Fore">
			<h3>JOE DU FORE</h3>
			<p>Founder of the Exceptional Language
				& Innovation Academy and
				owner of both Newline Education
				and Digital Publishing House LLC,
				Joe Du Fore started his educational
				career as a Biology and mathematics teacher. He then
				moved on to be a Professor of Education and Executive
				Director of the Instructional Design Center at
				Wisconsin Lutheran College. He now devotes all of
				his time to writing and traveling the world, promoting
				digital citizenship, literacy, immersion and creativity
				through digital infusion and understanding. As
				a TEDx presenter, self-inflicted techno-twerp, educational
				entrepreneur, and poor unicyclist, Joe spends
				his time consulting, motivational speaking, and helping
				teachers, schools and communities identify ways
				to best incorporate technology.</p>
		</div>
	</div>
<!-- End author column -->

<!-- start template single row 
				
<div class="k-governcell ktop kbottom" style="width: 640px;">	
		
	<div class="k-outercell kol3">
		
		<div id="95"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="100"></div>
    	
						
	</div>

	<!--<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>
		
	</div>
	
</div>

<!-- end template single row -->

<!-- start template single row -->
<div class="k-governcell ktop kbottom" style="width: 642px;">	
	<div class="k-outercell kol3">
		<div id="95"></div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="k-outercell kol3">
		<div id="90"></div>
	</div>
	<!-- <div class="k-cell-divider"></div>
	<div class="k-outercell kol3">
		<div id="39"></div>
	</div> -->
</div>
<!-- end template single row -->

<% if false %>
<!-- start template single row -->
<div class="tmpl-governcell ktop kbottom">	
	<div class="tmpl-outercell tmpl-kol3">
		<div id="95" class="id"></div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="tmpl-outercell tmpl-kol3">
		<div id="90" class="id"></div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="tmpl-outercell tmpl-kol3">
		<!-- <div id="103" class="id"></div> -->		
	</div>
</div>
<!-- end template single row -->
<% end %>





<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 642px;">	
		
	<div class="k-outercell kol3">
		
		<div id="87"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="81"></div>
    	
						
	</div>

	<!--<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>
		
	</div>-->
	
</div>

<!-- end template single row -->

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 642px;">	
		
	<div class="k-outercell kol3">
		
		<div id="74"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="80"></div>
    	
						
	</div>

	<!--<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>
		
	</div>-->
	
</div>

<!-- end template single row -->

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 642px;">	
		
	<div class="k-outercell kol3">
		
		<div id="69"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="43"></div>
    	
						
	</div>

	<!--<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>		
		
	</div>-->
	
</div>

<!-- end template single row -->

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 642px;">	
		
	<div class="k-outercell kol3">
		
		<div id="12"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="21"></div>
    	<!-- <div id="43"></div> -->
						
	</div>

	<!--<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>		
		
	</div>-->
	
</div>

<!-- end template single row -->				

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 642px;">	
		
	<div class="k-outercell kol3">
		
		<div id="7"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="18"></div>
						
	</div>
	
</div>

<!-- end template single row -->				

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 1100px;">	
		
	<div class="k-outercell kol3">
		
		<div id="8"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="27"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="4"></div>
						
	</div>
	
</div>

<!-- end template SHABRWANGO single row -->
	
<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 1100px;">	
		
	<div class="k-outercell kol3">
		
		<div id="25"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="10"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="5"></div>
						
	</div>
	
</div>

<!-- end template SHABRWANGO single row -->	

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom" style="width: 1100px;">	
		
	<div class="k-outercell kol3">
		
		<div id="6"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="3"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>
						
	</div>
	
</div>

<!-- end template single row -->	

<!-- start template single row 
				
<div class="k-governcell ktop kbottom" style="width: 1100px;">	
		
	<div class="k-outercell kol3">
		
		<div id="52"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="11"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id=""></div>
						
	</div>
	
</div>

 end template single row -->	



<!-- start bottom template -->

	<table style="width: 1100px;">	
		<tr>
		
		<td><div id="26"></div></td>
		
		
		<td><div id="24" style="padding-top: 40px;"></div></td>
		</tr>

	</table>

	
	
</div>

<!-- end template bottom template -->		




	
</div>
			


<div style="height: 50px;"></div>


			
 <%= render 'archives/article' %>
			
			
		</section>
		</div></div>
		
		<div style="height: 10px;"></div>
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
			// jQuery('html, body').animate({scrollTop: 100}, 1000);				
		}
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						// console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
					if ($(this).hasClass('k-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						// console.log('djj = ' + djj);
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
					
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				// console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;

				// console.log('m = ' + m);
				
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});
			
			
			$("#alter-k-governcell-1").height(342);
			$("#alter-k-cell-divider-1").height(342);
			$("#alter-k-cell-divider-2").height(342);
			$("#10").css({ 'padding-top' : 20 });
			$("#25").css({ 'padding-top' : 20 });
			
			
			
			
			
			$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top
		            	}, 750);
		            	// return false;
		        	}
			    }
			});
			
			
			
		});


		$(window).bind('load', function() {
			// $("#small-slider-top").removeClass("display-none");
			setTimeout( function(){
				$("#small-slider-top").removeClass("display-none");
			}, 1000);
		});

		$("#div-top-right").removeClass("visibility-hidden");
		// $("#small-slider-top").removeClass("display-none");


		// var image = '../backgrounds/comp025.jpg';
		// img = $('<img />');
		// img.bind('load', function() {
		    // $('#loading').fadeOut(1000);
			// setTimeout( function(){
				// centerSignin();
				// showSignin();
				// formValidate();
			// }, 500);
		// });
		// img.attr('src', image);
		// $('#join-image').css({
			// background: '#F1F2E1 url(' + image + ') repeat right top'
		// })



	// var get_file = "../archives/article.htm";
// 
	// $.get( get_file, function( data ) {
		// $( "#render" ).html( data );
	// });

		
	</script>


<!-- <script>
  
	// var get_file = "../archives/article.htm";
// 
	// $(document).ready(function() {
	// //$(window).load( function() {
// 
			// $.get( get_file, function( data ) {
				// $( "#render" ).html( data );
			// });
// 		
	// });
  
</script>		 -->
