<% provide(:title, 'About EdMatchUp') %>


	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>


	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
	    
		<header>		
								
			<%= render 'share/backtotop' %>
			
	    	<%= render 'layouts/flash_alert' %>
	    	
			<div class="table-main">			
				<div class="row">
					<div class="cell-250">
						<div class="table-main">
							<div class="row">
								<div class="cell-250" style="padding-left: 24px;">
						  			<!-- <img src="../repository/image_learning_counsel.png" alt="image_learning_counsel.png" > -->
						  									  			
						  		</div>
							</div>
							<div class="row">
								<div class="cell-125" style="padding-left: 24px;">
									<!-- <p style="font-family: msyh; font-size: 12px;">Research and Context for the<br>Shift to Digital Curriculum</p> -->									
									
						  		</div>
							</div>							
						</div>
					</div>
					<div class="cell-650">
						<div class="table-main">
							<div class="row">
								<div class="cell-650">
									
									<img src="../repository/edmatchup-matched-with-learning.png" alt="edmatchup-matched-with-learning.png">
									
									<!-- <div id="main_header_adblock_1">									
										<h3>Space Available</h3>
									</div> -->									
														
								</div>			
							</div>							
						</div>
					</div>
					<div class="cell-100%">
						<div class="table-main">
							<div class="row">
								<div class="cell-100percent">
				 						<!-- link_to image_tag(“/assets/EdMatchUp_logo.png”, :class=>’′), :url =>{:controller=> ‘’,:action=>’’} -->															
									<div id="edmatchuplogo">
										<!-- link_to image_tag("../repository/EdMatchUp_logo.png", :alt => 'EdMatchUp_logo.png'), edmatchups_path  -->										
																									
									</div>							
						  		</div>
							</div>
							<div class="row">
								<div class="cell-100percent">
									<div align="center">
										<img src="../repository/image_coming_soon_8k.png" alt="image_coming_soon_8k.png">
									</div>							
						  		</div>							
							</div>
						</div>
					</div>
				</div>					
			</div>	
		 					
		</header>		



		<section>

			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
		
							<bodycopy id="bodykopy">
								
<br>
<br>
<p>
    <strong>What is it?</strong>
</p>
<p align="JUSTIFY">
    <strong>EdMatchUp </strong>
    is a social media tool and free directory designed to provide <em>learning </em>content and curriculum matches. EdMatchUp will provide an agnostic platform
    for all publishers, students, teachers, schools and college recruiters. It will host any Apps, full curriculum, lesson plans, learning games, eBooks and
    more, and provide each type of profile with a valuable connection, gap analysis, and recommendations.
</p>
<p align="JUSTIFY">
EdMatchUp is not curriculum itself. It’s not a school. It’s not a learning management system, but it will have inventory metrics and a lot more    <em>for</em> those systems or individuals from thousands of other publishers. It’s something entirely NEW.
</p>
<p align="JUSTIFY">
    We’re soooo excited about it we can hardly wait for the developers to get it done!
</p>
<p align="JUSTIFY">
    <a name="_GoBack"></a>
    <strong>If you are one of these types of people or groups – sign up for our </strong>
    <strong><a href="/reg_letters/new">eNewsletter</a></strong>
    <strong> to get news of our launch today! </strong>
</p>
<p>
    <strong>PUBLISHERS</strong>
</p>
<p>
    <strong>STUDENTS</strong>
</p>
<p>
    <strong>TEACHERS</strong>
</p>
<p>
    <strong>SCHOOLS</strong>
</p>
<p>
    <strong>RECRUITERS</strong>
</p>
<p>
    <strong>PARENTS</strong>
</p>

							</bodycopy>
	
						    <!-- <div id="k-bottom-of-article">
						        <div class="photo-credit"></div>        
						        <div class="updated">November 2013</div>
						    </div>
			
			
			
						    <div id="k-article-credit">
						
								<div class="columnist-photo">
									<a href="#" rel="author"><img src="/assets/article-icon-6-m-white.png" width="100px"></a>
								</div>
								<div class="color-notch bg-industry-news-blue"></div>						
								<div class="credits">
									<p><span class="columnist-name"><a href="#">Jacob Hanson, Contributor</a></span>
									</p>	
								</div>
							
							</div> -->	
	
	
						</div>
	
						<br clear="all">
						
					</div>
	
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">
									
							<div id="render_ad"></div>
																
						</div>
					</div>

					<br clear="all">
			
					<div class"kontainer-space-2"></div>
					
			</div>
			
		</section>
	</div>
	
	<div style="height: 30px;"></div>
	<div style="height: 30px;"></div>








	
