<% provide(:title, 'Events') %>


		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

		<link rel="stylesheet" href="/assets/jquery-ui.css">		
		
		<script src="/scripts/jquery-ui.js"></script>				
		
		<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
		<!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
		<!-- <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
		<!-- <link rel="stylesheet" href="http://code.jquery.com/resources/demos/style.css">		 -->		
		
		
		
			
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>		
				
		<script>
			
			$(function() {
				
				$("#tabs").tabs();
				
				// $( "#tabs" ).tabs({ active: 1 });
			});			
			
		</script>
		
		
	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
		
		<div style="height: 30px; width: 100%; background-color: blue;"></div>
		
			<div id="tabs">
				<ul>
					<li style="width: 200px"><a href="#tabs-1" id="tabs1">Tablet 1</a></li>
					<li><a href="#tabs-2" id="tabs2">Tablet 2</a></li>
					<li><a href="#tabs-3" id="tabs3">Tablet 3</a></li>
				</ul>

				<div id="tabs-1">
					<%= render 'static_pages/events_1' %>
				</div>
				<div id="tabs-2">
					<%= render 'static_pages/events_2' %>
				</div>
				<div id="tabs-3">
					<%= render 'static_pages/events_3' %>
				</div>
			</div>	
					
	</div>
