<% provide(:title, 'Events') %>

	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<style>
							
		.k-link {
			color: #C4740C; /*#9C5800;*/
			font-size: 20px;
			font-family: KlavikaMedium;		
		}
		
	</style>
						
							
	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
	    	
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
							<bodycopy id="bodykopy">
						
								<div style="font-family: KlavikaMedium;">
											
			 						<%= render 'share/events' %>
			 						
			 					</div>
			 					
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<div style="height: 70px;"></div>

							<div style="">
							    <img src="../repository/image-lani-ceo.png" alt="image-lani-ceo.png" width="180px" >
							</div>

							<div style="height: 660px;"></div>

							<div style="">
							    <img src="../repository/events-schedule-1.png" alt="events-schedule-1.png" width="340px">
							</div>

							<div style="height: 700px;"></div>

							<div style="">
							    <img src="../repository/events-image-1.png" alt="events-image-1.png" width="340px">
							</div>

							
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
									
										<!-- <dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt> -->
									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				

							<!-- <div style="height: 50px;"></div>
							
							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 153px;">
							    <img src="../repository/image-events-1.jpg" alt="image-events-1.jpg" width="180px" >
							</div>
							

							<div style="height: 50px;"></div>

							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 120px;">
							    <img src="../repository/image-events-2.jpg" alt="image-events-2.jpg" width="180px" >
							</div>
							
							<div style="height: 50px;"></div>

							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 180px;">
							    <img src="../repository/image-events-3.jpg" alt="image-events-3.jpg" width="180px" >
							</div> -->
														
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 60px;"></div>
					
			</div>
			
		</section>

	</div>



					
