
		<style type="text/css">
		
			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
		</style>		
			
		<!-- <link href="/assets/entrepeneurs_screen.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
		
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
				
		<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>
							
		<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script> -->


    	<script type="text/javascript" src="../scripts/jquery.tmpl.js"></script>


		<style>
			
			.k-decorate-none {
				text-decoration: none;
			}
			
		</style>




<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/css.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/site.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/demo/demo-slideshow.css"> -->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.tile.js"></script> -->


		<style>
		.cycle-overlay.custom { text-align: right; }
		button { margin-top: 40px }
		</style>
	
	
		<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/css.css"> -->
		<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/site.css"> -->
		<link rel="stylesheet" href="../styles/slideshow.css">
		<!-- <script src="../Cycle2_Overlays_files/jquery_002.js"></script>
		<script src="../Cycle2_Overlays_files/jquery.js"></script> -->



		<style>
			
			.kontainer-top {
				position: relative;
				/*margin: 0 auto;*/
				margin-left: 10%;
				clear: both;
				width: 1200px;
				background-color: #fff;
			}
			
			.title-gallery {
				font-size: 16px;
				line-height: 16px;
				color: #8A5A0C;
				font-family: KlavikaBlack, Arial, sans-serif;
				/*text-shadow: 2px 2px #F5DDB8;*/
				margin-left: 0px;
			}
			.title-galler-table {
				width: 100%;	
			}
			.title-galler-table-col1 {
				text-align: center;
				padding-left: 0px;				
			}
			.title-galler-table-col2 {
				text-align: right;
				padding-right: 0px;												
			}
			
			
			.slider-border-1 {
				 width: 270px; 
				 height: 180px; 
				 border: 6px solid #000;
			}
			.slider-border-1:hover {
				 border: 6px solid orange;
			}
			.slider-border-2 {
				 width: 270px; 
				 height: 152px; 
				 border: 6px solid #000;
			}
			.slider-border-2:hover {
				 border: 6px solid orange;
			}
			.video-bytes {
				font-family: bytes;
				font-size: 40px;
			}
			.video-tv {
				font-family: AsSeenOnTV;
				font-size: 16px;
			}
			.video-msyh {
				font-family: msyh;
				font-size: 16px;
			}
			
			a.video-text {
				color: #333;
				text-decoration: none;
			}
			a.video-text:hover {
				color: #41b737;
				text-shadow: 2px 2px #ccc;
			}
			
			.line-video {
				border-top: #181873 5px solid !important;
				width: 300px;
			}
			.line-empty {
				border-top: #fff 5px solid !important;
			}
			.visibility-hidden {
				visibility: hidden;	
			}
			.display-none {
				display: none;	
			}
			
			.past-event-phots-h {
				height:27px;
				background:#214025;
				color: #FFF;
				text-align:center;
				width: 300px;
				text-transform: uppercase;
			}

			a.past-event-a:hover {
				opacity: .6;
				text-decoration:none;
				color:#FFF;
			}
			.past-event-a .k-inner-cell {
				border:2px solid #34633a;
				box-shadow: 0 3px 3px #6f6f6f;
				width:300px;
			}

			.search-function {
				background: none repeat scroll 0 0 #f7f7f7;
   				 border: 1px solid #41b737;
    			color: #9e9e9e;
    			font-size: 18px;
    			height: 25px;
    			text-align: left;
   				 width: 270px;
			}

			.sub {
				border: 2px solid #f7f7f7;
    			border-radius: 8px;
    			font-size: 20px;
   				height: 30px;
    			margin: 20px 0 10px;
    			padding: 7px 0 0;
    			text-align: center;
    			width: 270px;
    			background: #f7f7f7;
    			box-shadow: 0 3px 6px #6f6f6f;
			}
			div.sub:hover {
				box-shadow: 0 3px 6px #34633a;
			}
			.sub a {
				color: gray; 
				padding: 5px 35px;
			}
			.sub a:hover {
				background: #fff;
    			/*border: 1px solid #214025;*/
    			color: #41b737;
    			text-decoration: none;
    		}

		</style>


		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
	    
	    
		<header>		

		 <!-- link_to 'archive', archives_url(:id => '@archive.id')  -->
		 								
			<%= render 'share/backtotop' %>

							<div class="kontainer-top">
					
				
				<!-- <table style="width: 970px;">	
					<tr>
						<td>
							<table style="width: 800px;">
								<tr>
									<td>		 -->
										
									<div style="display: inline-block; width: 700px;">		
														
										<script>
											$(document).ready(function() {
												$('#prev').hover(function() {$('#prev img').attr('src','/assets/prev-arrow-hov.png')}, function() {$('#prev img').attr('src','/assets/prev-arrow.png')})
												$('#next').hover(function() {$('#next img').attr('src','/assets/next-arrow-hov.png')}, function() {$('#next img').attr('src','/assets/next-arrow.png')})
											});
										</script>
										
										<span id="prev" style="left:-70px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/prev-arrow.png"></span>
										<span id="next" style="left:626px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/next-arrow.png"></span>
					
										<div class="cycle-slideshow" data-cycle-speed="500" data-cycle-pause-on-hover="true" data-cycle-fx="scrollHorz" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width: 604px; position: relative; height: 550px; overflow: hidden;">					
										
											<div style="position: absolute; top: 0px; left: 0px; z-index: 97; display: none;">
												<div class="rowfluid k-mainfeaturerow">
					    							<div id="49"></div>
										        </div> 
											</div>
											<div style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1;">
												<div class="k-mainfeaturerow">
					    							<div id="50"></div>
										        </div>
											</div>
											<div style="position: absolute; top: 0px; left: 0px; z-index: 98; display: none;">
												<div class="rowfluid k-mainfeaturerow">
					    							<div id="47"></div>
										        </div> 
											</div>
											<div style="position: absolute; top: 0px; left: 0px; z-index: 96; display: none;">
												<div class="rowfluid k-mainfeaturerow">
					    							<div id="48"></div>
										        </div> 
											</div>
											<!-- <div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;">
												<div class="rowfluid k-mainfeaturerow">
					    							<div id="3"></div>
										        </div> 
											</div> -->
										</div>
					
										<div style="clear: both; height: 0px; font-size: 1px; line-height: 0px;"></div>
										
									</div>
									
									<div id="div-top-right" class="visibility-hidden" style="display: inline-block; width: 320px; vertical-align: top; padding-left: 50px;">

										<table width="316px" class="right-table">

											<tr class="right-tr">
												<td style="padding-left: 40px;">
													<!-- <div class="search-function">
														Search Function Coming Soon
													</div> -->
													<div class="sub"><a href="/LetterRegistration">Subscribe for Updates</a></div>
												</td>
											</tr>

											<tr class="right-tr">
												<td style="padding-left: 40px;">
													<div class="div-link-1">
														<a href="/Events">
			<!--Was image-journal-1-w270-h347.png--> 	<img src="../repository/web-banner3.jpg" alt="image-journal-1.jpg" />
														</a>
													</div>
												</td>
											</tr>
											<tr class="right-tr">
												<td>
													<div style="height: 20px;"></div>
												</td>
											</tr>
											<tr class="right-tr">
												<td style="padding-left: 40px;">
													<div class="title-gallery">
														<!--<table class="title-galler-table">
															<tr>
																<td class="title-galler-table-col1">
												<a href="/Event-News">Past Event Photos</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<!-- Previos pos for past event photos <tr>
												<td style="text-align: right; padding-left: 40px;">
													<a href="/Event-News/Columbia-South-Carolina-March-5">
														<div class="slider-border-1">
															<img src="../event_news_images/SCpic2-h180.png" alt="SCpic2-h180.png" />
														</div>
														<div class="cycle-slideshow slider-border-1"
														    data-cycle-fx=scrollHorz
														    data-cycle-timeout=2000
														    >
														    <div class="cycle-overlay"></div>
														    <img src="../event_news_images/SCpic2-h180.png" 
														        data-cycle-title="Digital Curriculum Strategy Discussion" 
														        data-cycle-desc="Columbia, SC, Feb 27, 2014" />
														    <img src="../event_news_images/SCpic6-h180.png" 
														        data-cycle-title="Photo Montage&nbsp;&raquo;"
														        data-cycle-desc="" />
														    <img src="../event_news_images/SCpic12-h180.png" 
														        data-cycle-title="Digital Curriculum Strategy Discussion" 
														        data-cycle-desc="Columbia, SC, Feb 27, 2014" />
														    <img src="../event_news_images/SCpic10-h180.png" 
														        data-cycle-title="Photo Montage&nbsp;&raquo;"
														        data-cycle-desc="" />
														</div>										
													</a>
												</td>
												<td>
												</td>
											</tr> -//											

											<tr class="right-tr">
												<td style="text-align: right; padding-left: 40px;">
													<a href="/Event-News">
														<!-- <div id="small-slider-top" class="cycle-slideshow slider-border-1 display-none"
														    data-cycle-fx=scrollHorz
														    data-cycle-timeout=2000 
														    >
														    <div class="cycle-overlay"></div> -//

														    <img src="../event_news_images_3/logo_houston_002.JPG" 
														        data-cycle-title="Digital Curriculum Strategy Discussion" 
														        data-cycle-desc="Richmond, VA, May 6, 2014" />
														
														  <!--  <img src="../event_news_images_7/logo_IMG_57.JPG" 
														        data-cycle-title="Digital Curriculum Strategy Discussion" 
														        data-cycle-desc="Minneapolis, MN, June 17, 2014" />

														    <img src="../event_news_images_3/logo_houston_006.JPG" 
														        data-cycle-title="Photo Montage&nbsp;&raquo;"
														        data-cycle-desc="Los Angeles, CA, May 22, 2014" />
	
														    <!-- <img src="../event_news_images_3/logo_houston_006.JPG" 
														        data-cycle-title="Photo Montage&nbsp;&raquo;"
														        data-cycle-desc="Fresno, CA, April 2, 2014" /> 
	
														    <img src="../event_news_images_3/logo_houston_018.JPG" 
														        data-cycle-title="Digital Curriculum Strategy Discussion" 
														        data-cycle-desc="Houston, TX, April 10, 2014" />
	
														    <img src="../event_news_images_3/logo_houston_026.JPG" 
														        data-cycle-title="Photo Montage&nbsp;&raquo;"
														        data-cycle-desc="Chicago, IL, April 15, 2014" /> 
	
														</div>										
													</a>
												</td>
												<td>
												</td>
											</tr>	End previous past event photos-->										




											<!-- <tr>
												<td style="text-align: center">
													<a href="/Event-News/Columbia-South-Carolina-March-5" style="color: brown;">
														<span style="font-family: KlavikaRegular; font-size: 16px;">
															Photo Montage
														</span>
													</a>
												</td>
											</tr> -->											
										</table>
									</div>
									




									<!-- </td>
								</tr>
							</table>			
						</td>
						<td>
							<table style="width: 100px;" class="boxtemp-green">
								<tr>
									<td>
										second table
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table> -->
									
				</div>
					
					
</section>
</div>					
					
<div class="seperator"></div>
		
<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
				
<section>			
				<div class="kontainer">
					
					<div style="height: 20px;"></div>
					
				
<div style="height: 20px;"></div>

<a name="anchor2"></a>    		      		     		
				


<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		
		<div id="12"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="43"></div>
    	<!-- <div id="38"></div> -->
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="39"></div>		
		<!-- <div id="8"></div> -->
		
	</div>
	
</div>

<!-- end template single row -->				











				
<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		
		<div id="37"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

		<div id="32"></div>
    	<!-- <div id="38"></div> -->
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="33"></div>		
		<!-- <div id="8"></div> -->
		
	</div>
	
</div>

<!-- end template single row -->				



<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		<div id="3"></div>		
		<!-- <div id="32"></div> -->
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

    	<div id="22"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-video">
				<a class="video-text" href="/InternetSeminars">
					<img src="../repository/events/market-briefing-1.png" alt="market-briefing-1.png" width="300px">
	
					<table>
						<tr>
							<td style="vertical-align: top; height: 150px;">
								<span class="video-bytes">Digital</span><br>
								<span class="video-tv">Curriculum &amp; Devices</span><br><br>
								<span class="video-msyh">2014 Market Briefing</span>		
							</td>
							<td style="vertical-align: bottom; padding-left: 10px;">
								<img src="../repository/image-video-4.png" alt="image-video-4.png" width="100px">			
							</td>
						</tr>
					</table>
				</a>
			</div>
		</div>
		
		<!-- <div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-empty">
				<a href="/Event-News/Illinois-Chicago-April-15">
					<div class="slider-border-2">
						<img src="../event_news_images_4/logo_chicago_02.jpg" alt="logo_chicago_02.jpg" />
					</div>
				</a>
			</div>
			<div class="k-b-headline">
				Chicago, IL, April 15<br>Photo Montage
			</div>			
		</div> -->
		
	</div>
	
</div>

<!-- end template single row -->				


<!-- start template single row -->
				
<!-- <div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">

		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-empty">
				<a href="/Event-News/Columbia-South-Carolina-March-5">
					<div class="slider-border-1">
						<img src="../event_news_images/SCpic2-h180.png" alt="SCpic2-h180.png" />
					</div>
				</a>
			</div>
			<div class="k-b-headline">
				Columbia, SC, Feb 27<br>Photo Montage
				<span class="kbyline"><span class="k-b-link">March 5, 2014</span></span><br> 
				<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
			</div>			
		</div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">

		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-empty">
				<a href="/Event-News/California-Fresno-April-2">
					<div class="slider-border-1">
						<img src="../event_news_images_2/Fresno-0-w270-h180.png" alt="Fresno-0-w270-h180.png" />
					</div>
				</a>
			</div>
			<div class="k-b-headline">
				Fresno, CA, April 2<br>Photo Montage
			</div>			
		</div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">

		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-empty">
				<a href="/Event-News/Texas-Houston-April-10">
					<div class="slider-border-1">
						<img src="../event_news_images_3/logo_houston_001.JPG" alt="logo_houston_001.JPG" />
					</div>
				</a>
			</div>
			<div class="k-b-headline">
				Houston, TX, April 10<br>Photo Montage
			</div>			
		</div>
		
	</div>
	
</div> -->

<!-- end template single row -->				


<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		
		<div id="7"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

    	<div id="4"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="8"></div>
		
	</div>
	
</div>

<!-- end template single row -->				
					
<div style="height: 50px; position: relative;"></div>



<!-- start template single row -->
				
<div class="k-governcell ktop" id="alter-k-governcell-1">	
		
	<div class="k-outercell kol3">

		<div id="10"></div>
		
	</div>
		
	<div class="k-cell-divider" id="alter-k-cell-divider-1"></div>
	
	<div class="k-outercell kol3">

		<div id="25"></div>
		
	</div>
	
	<div class="k-cell-divider" id="alter-k-cell-divider-2"></div>
	
	<div class="k-outercell kol3 k-empty">
		
		<!-- <div id="ad1-upper" >
			<div id="ad1-upper-inner">
				Space Available
			</div>
		</div> -->		
				
	</div>
	
</div>

<!-- end template single row -->				
								

				
<!-- start template single row -->		
<div class="k-governcell kbottom">			
						
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>
								
		<div id="27"></div>
								
	</div>
						
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="5"></div>
						
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell-double kol3">
		
		<!-- <div id="ad1-lower"></div> -->
				
		<a href="https://www.readingkingdom.com/signup" class="k-link-a">
						
			<div class="k-inner-cell">
				<div class="k-b-container" style="padding-bottom: 0px; top: 110px;">
					<div class="k-img-cell-single-long">
						<a href="https://www.readingkingdom.com/signup">
							<img src="../repository/banners/banner-reading-kingdom-2-w317-h686.png" class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'">
						</a>
					</div>
				</div>
			</div>
			
		</a>
						
	</div>
	
</div>
		
<!-- end template single row -->				


<div style="height: 50px;"></div>


<!-- start template double row -->
				
<div class="k-governcell ktop">	
		
	<div class="k-outercell kol3 k-empty">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-grow">
				
				<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="315" height="200">          	
		            <param name="wmode" value="opaque" />
		            <param name="quality" value="high" />
		            <param name="bgcolor" value="#E9E9E9" />
		            <param name="allowfullscreen" value="true" />
		         	<param name="allowscriptaccess" value="never" />
		         </object>

				<div class="headline-excelsiorcomics">
					<span>5 Key Areas of Successful K12 Tech Integration Planning</span>
				</div>
			</div>
		</div>
			
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">

		<!-- <div id="1"></div> -->
		<!-- New spot for past event photos -->
		<a class="past-event-a" href="/Event-News">

			<div class="k-inner-cell" style="">
				<img  width="300" src="../event_news_images_3/logo_houston_002.JPG" data-cycle-title="Digital Curriculum Strategy Discussion" data-cycle-desc="Richmond, VA, May 6, 2014" />
				<div class="past-event-phots-h">
					Past Event Photos
				</div>
			</div>
		</a>

		<!--<a href="#blogs">  //Used to be blog link
			<div class="k-inner-cell" style="padding-top: 2px;">
				<div class="text_container b_container line-blog">
					<img src="../repository/article-blogs-and-links.png" alt="article-blogs-and-links.png" onerror="this.src='../altgraphics/error-300-200.png'">
					<div class="headline-junebug">
						<span class="gold">Blogs</span>
						<span class="red">&amp;</span>
						<span class="blue">Links</span>														
					</div>
				</div>
			</div>
		</a>-->

	</div>
</div>


<div class="k-governcell kbottom">			
						
	<div class="k-outercell-double kol3">
		
		<div id="6"></div>
		
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="18"></div>
						
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="21"></div>
								
	</div>
	
</div>
		
<!-- end template double row -->				
							
							
<div style="height: 50px; position: relative;"></div>

<!-- start template single 2 cell row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol2">
		
		<div id="26"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol2">
		
		<div id="24"></div>
		
	</div>
			
</div>

<!-- end template single row -->
<div id="blogs"></div>				
<div style="height: 20px;"></div>
<a name="anchor1"></a>    		      		     		

<div style="height: 50px; position: relative;"></div>

<!-- start template single 2 cell row -->

<!-- 
	
Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device
Jacob Hanson
		
Pearson announces a strategic investment in English language learning platform Voxy
The LC Staff

Tales2Go Releases Android Version of its Award-Winning Service
Sue Hanson, Contributor

Tales2Go Releases Android Version of its Award-Winning Service
Jacob Hanson, Contributor



Unique AZ District Closes Achievement Gap with Blended Learning Approach
Jacob Hanson, Contributor

Charter School Associates Selects observe4success as Classroom Observation Partner
Jacob Hanson, Contributor

Tulsa Charter School sells cookies to fund purchase of observe4success
The LC Staff

myCore now offers CCSS-Aligned Units and Lessons
Jacob Hanson, Contributor

Miami-Dade Renews contract with GuideK12 for Geovisual Analytics
Jacob Hanson, Contributor
	
-->

<style>
	
	.news-list .news-title a {
		font-family: klavikaMedium;
		font-size: 16px;
		font-weight: 200;
		color: #555;			
	}
	.news-list .news-author a {
		font-family: klavikaLight;
		font-size: 16px;
		font-weight: 200;
		color: #000;			
		margin-left: 10px;
	}
	
	.news-header {
		font-family: klavikaMedium;
		font-size: 22px;
		font-weight: 200;
		color: #000;
	}
	
</style>
				
				
<!-- 
		<div id="14"></div>
		<div id="15"></div>
		<div id="16"></div>
		<div id="17"></div>
		<div id="20"></div>
		
		<div id="2"></div>
		<div id="19"></div>
		<div id="13"></div>
		<div id="9"></div>
-->



<div class="news-header">Blogs and Commentaries</div>
<div style="height: 10px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol2">
		<div class="news-list">		
			<div id="31"></div>
			<br>
			<div id="11"></div>
			<br>
			<div id="52"></div>
		</div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="k-outercell kol2">
		<div class="news-list">
		</div>
	</div>
</div>



<div style="height: 50px; position: relative;"></div>



<div class="news-header">News</div>

<div style="height: 10px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol2">
		<div class="news-list">		
			<div id="40"></div>
			<br>
			<div id="41"></div>
			<br>
			<div id="42"></div>
			<br>			
			<div id="34"></div>
			<br>
			<div id="35"></div>
			<br>
			<div id="36"></div>
			<br>
			<div id="14"></div>
			<br>
			<div id="15"></div> 
			<br>
			<div id="16"></div>
		</div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="k-outercell kol2">
		<div class="news-list">
			<div id="44"></div>
			<br>
			<div id="45"></div> 
			<br>
			<div id="46"></div>
			<br>
			<div id="17"></div>
			<br>
			<div id="20"></div>
			<br>					
			<div id="2"></div>			
			<br>
			<div id="19"></div>
			<br>
			<div id="13"></div>
			<br>
			<div id="9"></div>
		</div>
	</div>
</div>





				
<!-- <div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol2">
		<div class="news-list">		
			<div id="40"></div>
			<br>
			<div id="41"></div>
			<br>
			<div id="42"></div>
		</div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="k-outercell kol2">
		<div class="news-list">
			<div id="44"></div>
			<br>
			<div id="45"></div> 
			<br>
			<div id="46"></div>
		</div>
	</div>
</div>
<div style="height: 10px; position: relative;"></div>
<div style="height: 10px; position: relative;"></div>
<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol2">
		<div class="news-list">		
			<div id="34"></div>
			<br>
			<div id="35"></div>
			<br>
			<div id="36"></div>
			<br>
			<div id="14"></div>
			<br>
			<div id="15"></div> 
			<br>
			<div id="16"></div>
		</div>
	</div>
	<div class="k-cell-divider"></div>
	<div class="k-outercell kol2">
		<div class="news-list">
			<div id="17"></div>
			<br>
			<div id="20"></div>
			<br>					
			<div id="2"></div>			
			<br>
			<div id="19"></div>
			<br>
			<div id="13"></div>
			<br>
			<div id="9"></div>
		</div>
	</div>
</div> -->

<!-- end template single row -->				









<div style="height: 30px; position: relative;"></div>


<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="/CommunityRegistration" class="k-link-a">
			<div class="k-inner-cell" style="padding-top: 6px;">
				
				<div class="text_container b_container" style="text-align: center;">
					
					<img src="../repository/banner-3.png" width="850px" onerror="this.src='../altgraphics/error-300-200.png'">

				</div>
			</div>
		</a>	
	</div>
					
</div>


<!-- <div id="ad2">
	<div id="ad2-inner">
		Space Available
	</div>
</div> -->





					<!-- ><div class="container-main">
						<div class="board">					
							  
						</div>
					</div>			-->		 				

					
			<!-- <div class="container-main">
				<div class="board"> -->					
					
				<!-- </div>  -->				
				<!--end  outer container//-->




				<!-- <div id="sfw_865" align="center" style="height:90px">&nbsp;Banner</div>
				<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("/assets/865.swf", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=865");
					so.addVariable("target", "_blank");
					so.write("sfw_865");
					});
					// ]]>
				</script> -->
				
							
							
								
			<!-- </div>  -->			
			<!--white -->
					

				<!-- <div id="sfw_866" align="center" style="height:90px">&nbsp;</div>
					<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("http://i.work.ua/b/866.swf?941883883", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=866");
					so.addVariable("target", "_blank");
					so.write("sfw_866");
					});
					// ]]>
					</script> -->

					
				<div style="height: 100px;"></div>
					
			</div>			    
			
 <%= render 'archives/article' %>
			
			
		</section>
		</div>
		
		<div style="height: 10px;"></div>
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
			// jQuery('html, body').animate({scrollTop: 100}, 1000);				
		}
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						// console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
					if ($(this).hasClass('k-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						// console.log('djj = ' + djj);
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
					
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				// console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;

				// console.log('m = ' + m);
				
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});
			
			
			$("#alter-k-governcell-1").height(342);
			$("#alter-k-cell-divider-1").height(342);
			$("#alter-k-cell-divider-2").height(342);
			$("#10").css({ 'padding-top' : 20 });
			$("#25").css({ 'padding-top' : 20 });
			
			
			
			
			
			$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top
		            	}, 750);
		            	// return false;
		        	}
			    }
			});
			
			
			
		});


		$(window).bind('load', function() {
			// $("#small-slider-top").removeClass("display-none");
			setTimeout( function(){
				$("#small-slider-top").removeClass("display-none");
			}, 1000);
		});

		$("#div-top-right").removeClass("visibility-hidden");
		// $("#small-slider-top").removeClass("display-none");


		// var image = '../backgrounds/comp025.jpg';
		// img = $('<img />');
		// img.bind('load', function() {
		    // $('#loading').fadeOut(1000);
			// setTimeout( function(){
				// centerSignin();
				// showSignin();
				// formValidate();
			// }, 500);
		// });
		// img.attr('src', image);
		// $('#join-image').css({
			// background: '#F1F2E1 url(' + image + ') repeat right top'
		// })



	// var get_file = "../archives/article.htm";
// 
	// $.get( get_file, function( data ) {
		// $( "#render" ).html( data );
	// });

		
	</script>


<!-- <script>
  
	// var get_file = "../archives/article.htm";
// 
	// $(document).ready(function() {
	// //$(window).load( function() {
// 
			// $.get( get_file, function( data ) {
				// $( "#render" ).html( data );
			// });
// 		
	// });
  
</script>		 -->
