
		<style type="text/css">
		
			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
		</style>		
			
		<!-- <link href="/assets/entrepeneurs_screen.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
		
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
				
		<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>
							
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>


    	<script type="text/javascript" src="../scripts/jquery.tmpl.js"></script>


		<style>
			
			.k-decorate-none {
				text-decoration: none;
			}
			
		</style>



<!-- <style>
	
.cykle-slideshow, .cykle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cykle-slideshow { width: 45%; min-width: 200px; max-width: 500px; margin: 10px auto; padding: 0; position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
 }
.cykle-slideshow img { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}
.cykle-slideshow img:first-child {
    position: static; z-index: 100;
}
.cykle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cykle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cykle-pager span.cykle-pager-active { color: #D69746;}
.cykle-pager > * { cursor: pointer;}
.cykle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }
.cykle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}
.cykle-prev, .cykle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cykle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cykle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cykle-prev:hover, .cykle-next:hover { opacity: .7; filter: alpha(opacity=70) }
.disabled { opacity: .5; filter:alpha(opacity=50); }
.cykle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cykle-slideshow { width: 200px;}
    .cykle-overlay { padding: 4px }
    .cykle-caption { bottom: 4px; right: 4px }
}
	
</style> -->

<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/css.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/site.css"> -->
<!-- <link rel="stylesheet" href="http://jquery.malsup.com/cycle2/demo/demo-slideshow.css"> -->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.js"></script> -->
<!-- <script src="http://malsup.github.io/jquery.cycle2.tile.js"></script> -->


		<style>
			
			.kontainer-top {
				position: relative;
				/*margin: 0 auto;*/
				margin-left: 10%;
				clear: both;
				width: 1200px;
				background-color: #fff;
			}
			
		</style>


		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
	    
	    
		<header>		

		 <!-- link_to 'archive', archives_url(:id => '@archive.id')  -->
		 								
			<%= render 'share/backtotop' %>

			
			<div class="table-main">			
				<div class="row">
					<div class="cell-250">
						<div class="table-main">
							<div class="row">
								<div class="cell-250" style="padding-left: 24px;">
						  			<img src="../repository/logo-icon-come-together-tag.png" alt="logo-icon-come-together.png" >
						  		</div>
							</div>
							<div class="row">
								<div class="cell-125" style="padding-left: 34px;">
									<!-- <p style="font-family: msyh; font-size: 12px;">Research and Context for the<br>Shift to Digital Curriculum</p> -->									
									
						  		</div>
							</div>							
						</div>
					</div>
					<div class="cell-650">
						<div class="table-main">
							<div class="row">
								<div class="cell-650" style="padding-left: 10px;">
									
									<a href="/Events">
										<img src="../repository/banner-main-discussions.png" alt="banner-main-discussions.png" width="630px" >
									</a>
									<!-- <div id="main_header_adblock_1">									
										<h3>Space Available</h3>
									</div> -->									
														
								</div>			
							</div>							
						</div>
					</div>
					<div class="cell-100%">
						<div class="table-main">
							<div class="row">
								<div class="cell-100percent">
				 						<!-- link_to image_tag(“/assets/EdMatchUp_logo.png”, :class=>’′), :url =>{:controller=> ‘’,:action=>’’} -->															
									<div id="edmatchuplogo">
										<%= link_to image_tag("../repository/EdMatchUp_logo.png", :alt => 'EdMatchUp_logo.png'), '/Edmatchup' %>															
									</div>							
						  		</div>
							</div>
							<div class="row">
								<div class="cell-100percent">
									<div align="center">
										<%= link_to image_tag("../repository/image_coming_soon_8k.png", :alt => 'image_coming_soon_8k.png'), '/Edmatchup' %>															
									</div>							
						  		</div>							
							</div>
						</div>
					</div>
				</div>					
			</div>	
		 					
		</header>		

		</div>
		
		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
				
		<section>

					
				<!-- <div style="float: right;">
					<div>
						<span onclick="scrollToAnchor('anchor2');">
							<a style="font-family: KlavikaMedium; font-size: 18px; font-weight: 300; color: #555;">Articles</a>
						</span>
					</div>
					<br>					
					<div>
						<span onclick="scrollToAnchor('anchor1');">
							<a style="font-family: KlavikaMedium; font-size: 18px; font-weight: 300; color: #555;">Industry News&raquo;</a>
						</span>
					</div>
				</div> -->
				
				<div style="height: 50px;"></div>
				
				<div class="kontainer-top">
					
				
				<!-- <table style="width: 970px;">	
					<tr>
						<td>
							<table style="width: 800px;">
								<tr>
									<td>		 -->
										
																				
									<div style="display: inline-block; width: 700px;">		
														
										<script>
											$(document).ready(function() {
												$('#prev').hover(function() {$('#prev img').attr('src','/assets/prev-arrow-hov.png')}, function() {$('#prev img').attr('src','/assets/prev-arrow.png')})
												$('#next').hover(function() {$('#next img').attr('src','/assets/next-arrow-hov.png')}, function() {$('#next img').attr('src','/assets/next-arrow.png')})
											});
										</script>
										
										<span id="prev" style="left:-70px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/prev-arrow.png"></span>
										<span id="next" style="left:626px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/next-arrow.png"></span>
					
										<div class="cycle-slideshow" data-cycle-speed="500" data-cycle-pause-on-hover="true" data-cycle-fx="scrollHorz" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width: 604px; position: relative; height: 650px; overflow: hidden;">					
										
											<div style="position: absolute; top: 0px; left: 0px; z-index: 101; opacity: 1;">
												<div class="k-mainfeaturerow">
					    							<div id="12"></div>
										        </div>
											</div>
											<div style="position: absolute; top: 0px; left: 0px; z-index: 100; display: none;">
												<div class="rowfluid k-mainfeaturerow">
					    							<div id="22"></div>
										        </div>
											</div>
											<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;">
												<div class="rowfluid k-mainfeaturerow">
													<div id="3"></div>
										        </div> 
											</div>
													
										</div>
					
										<div style="clear: both; height: 0px; font-size: 1px; line-height: 0px;"></div>
										
									</div>
									
									<div style="display: inline-block; width: 400px; vertical-align: top; padding-left: 50px;">
										<table>
											<tr>
												<td>
														<span style="font-family: KlavikaRegular; color: brown; font-size: 18px;">
															February 27th&nbsp;&nbsp;&nbsp;Columbia, SC
														</span>
												</td>
											</tr>
											<tr>
												<td>
													<div>
														<a href="/Event-News/Columbia-South-Carolina-March-5">
															<img src="../event_news_images/SCpic6-h180.png" class="k-img" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
														</a>
													</div>											
												</td>
												<td>
													
												</td>
											</tr>											
											<tr>
												<td style="text-align: center">
													<a href="/Event-News/Columbia-South-Carolina-March-5" style="color: brown;">
														<span style="font-family: KlavikaRegular; font-size: 18px;">
															&raquo;&nbsp;&raquo;&nbsp;&raquo;&nbsp;&nbsp;Photos&nbsp;&nbsp;&raquo;&nbsp;&raquo;&nbsp;&raquo;
														</span>
													</a>
												</td>
											</tr>											
										</table>
									</div>
									
										
									<!-- </td>
								</tr>
							</table>			
						</td>
						<td>
							<table style="width: 100px;" class="boxtemp-green">
								<tr>
									<td>
										second table
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table> -->
									
				</div>
					
					
</section>
</div>					
					





<!-- <div class="cycle-slideshow" data-cycle-timeout="0" data-cycle-next="#next5" data-cycle-prev="#prev5">
	<img class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; visibility: hidden; display: block;" src="Cycle2%20Tile_files/p1.jpg" data-cycle-fx="tileSlide" data-cycle-tile-vertical="false">
	<img class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1;" src="Cycle2%20Tile_files/p1.jpg" data-cycle-fx="tileSlide" data-cycle-tile-vertical="false">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;" src="Cycle2%20Tile_files/p2.jpg" data-cycle-fx="tileBlind" data-cycle-tile-count="12">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; display: none;" src="Cycle2%20Tile_files/p3.jpg" data-cycle-fx="tileSlide" data-cycle-tile-count="4">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; display: none;" src="Cycle2%20Tile_files/p4.jpg" data-cycle-fx="tileBlind" data-cycle-tile-vertical="false">
</div>
<div class="center">
    <a href="#" id="prev5">&lt;&lt; Prev </a>
    <a href="#" id="next5"> Next &gt;&gt; </a>
</div> -->





					
				
<div style="width: 100%; height: 10px; background-color: #C7CED4; margin-top: 0px; margin-bottom: 0px;"></div>





		
<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
				
<section>			
				<div class="kontainer">
					
					<div style="height: 20px;"></div>
					
				
<div style="height: 20px;"></div>

<a name="anchor2"></a>    		      		     		
				

<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		
		<div id="32"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

    	<div id="33"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<!-- <div id="8"></div> -->
		
	</div>
	
</div>

<!-- end template single row -->				










<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		
		<div id="7"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	
	<div class="k-outercell kol3">

    	<div id="4"></div>
						
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div id="8"></div>
		
	</div>
	
</div>

<!-- end template single row -->				
					
<div style="height: 50px; position: relative;"></div>



<!-- start template single row -->
				
<div class="k-governcell ktop">	
		
	<div class="k-outercell kol3">

		<div id="10"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">

		<div id="25"></div>
		
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3 k-empty">
		
		<!-- <div id="ad1-upper" >
			<div id="ad1-upper-inner">
				Space Available
			</div>
		</div> -->		
				
	</div>
	
</div>

<!-- end template single row -->				
								

				
<!-- start template single row -->		
<div class="k-governcell kbottom">			
						
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz" style=""></div>
								
		<div id="27"></div>
								
	</div>
						
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="5"></div>
						
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell-double kol3">
		
		<!-- <div id="ad1-lower"></div> -->
				
		<a href="/papers" class="k-link-a">
						
			<div class="k-inner-cell">
				<div class="k-b-container" style="padding-bottom: 0px; top: 176px;">
					<div class="k-img-cell-single">
						<a href="/papers">
							<img src="../repository/banner-2.png" class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'">
						</a>
					</div>
				</div>
			</div>
			
		</a>
						
	</div>
	
</div>
		
<!-- end template single row -->				


<div style="height: 50px;"></div>


<!-- start template double row -->
				
<div class="k-governcell ktop">	
		
	<div class="k-outercell kol3 k-empty">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-inner-cell"  style="padding-top: 2px;">
			<div class="text_container b_container line-grow">
				
				<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="300" height="200">          	
		            <param name="wmode" value="opaque" />
		            <param name="quality" value="high" />
		            <param name="bgcolor" value="#E9E9E9" />
		            <param name="allowfullscreen" value="true" />
		         	<param name="allowscriptaccess" value="never" />
		         </object>

				<div class="headline-excelsiorcomics">
					<span>5 Key Areas of Successful K12 Tech Integration Planning</span>
				</div>
			</div>
		</div>
			
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">

		<div id="1"></div>

	</div>
</div>


<div class="k-governcell kbottom">			
						
	<div class="k-outercell-double kol3">
		
		<div id="6"></div>
		
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="18"></div>
						
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>

		<div id="21"></div>
								
	</div>
	
</div>
		
<!-- end template double row -->				
							
							
<div style="height: 50px; position: relative;"></div>

<!-- start template single 2 cell row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol2">
		
		<div id="26"></div>
		
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol2">
		
		<div id="24"></div>
		
	</div>
			
</div>

<!-- end template single row -->				
<div style="height: 20px;"></div>

<a name="anchor1"></a>    		      		     		

<div style="height: 50px; position: relative;"></div>

<!-- start template single 2 cell row -->

<!-- 
	
Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device
Jacob Hanson
		
Pearson announces a strategic investment in English language learning platform Voxy
The LC Staff

Tales2Go Releases Android Version of its Award-Winning Service
Sue Hanson, Contributor

Tales2Go Releases Android Version of its Award-Winning Service
Jacob Hanson, Contributor



Unique AZ District Closes Achievement Gap with Blended Learning Approach
Jacob Hanson, Contributor

Charter School Associates Selects observe4success as Classroom Observation Partner
Jacob Hanson, Contributor

Tulsa Charter School sells cookies to fund purchase of observe4success
The LC Staff

myCore now offers CCSS-Aligned Units and Lessons
Jacob Hanson, Contributor

Miami-Dade Renews contract with GuideK12 for Geovisual Analytics
Jacob Hanson, Contributor
	
-->

<style>
	
	.news-list .news-title a {
		font-family: klavikaMedium;
		font-size: 16px;
		font-weight: 200;
		color: #555;			
	}
	.news-list .news-author a {
		font-family: klavikaLight;
		font-size: 16px;
		font-weight: 200;
		color: #000;			
		margin-left: 10px;
	}
	
	.news-header {
		font-family: klavikaMedium;
		font-size: 22px;
		font-weight: 200;
		color: #000;
	}
	
</style>
				
				
<!-- 
		<div id="14"></div>
		<div id="15"></div>
		<div id="16"></div>
		<div id="17"></div>
		<div id="20"></div>
		
		<div id="2"></div>
		<div id="19"></div>
		<div id="13"></div>
		<div id="9"></div>
-->


<div class="news-header">News</div>

<div style="height: 10px; position: relative;"></div>
				
<div class="k-governcell ktop kbottom">	

	<div class="k-outercell kol2">
		<div class="news-list">		
			<div id="14"></div>
			<br>
			<div id="15"></div>
			<br>
			<div id="16"></div>
			<br>
			<div id="17"></div>
			<br>
			<div id="20"></div>
		</div>
	</div>

	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol2">
		
		<div class="news-list">		
			<div id="2"></div>			
			<br>
			<div id="19"></div>
			<br>
			<div id="13"></div>
			<br>
			<div id="9"></div>
		</div>
		
	</div>
			
</div>

<!-- end template single row -->				









<div style="height: 30px; position: relative;"></div>


<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="/CommunityRegistration" class="k-link-a">
			<div class="k-inner-cell" style="padding-top: 6px;">
				
				<div class="text_container b_container" style="text-align: center;">
					
					<img src="../repository/banner-3.png" width="850px" onerror="this.src='../altgraphics/error-300-200.png'">

				</div>
			</div>
		</a>	
	</div>
					
</div>


<!-- <div id="ad2">
	<div id="ad2-inner">
		Space Available
	</div>
</div> -->





					<!-- ><div class="container-main">
						<div class="board">					
							  
						</div>
					</div>			-->		 				

					
			<!-- <div class="container-main">
				<div class="board"> -->					
					
				<!-- </div>  -->				
				<!--end  outer container//-->




				<!-- <div id="sfw_865" align="center" style="height:90px">&nbsp;Banner</div>
				<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("/assets/865.swf", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=865");
					so.addVariable("target", "_blank");
					so.write("sfw_865");
					});
					// ]]>
				</script> -->
				
							
							
								
			<!-- </div>  -->			
			<!--white -->
					

				<!-- <div id="sfw_866" align="center" style="height:90px">&nbsp;</div>
					<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("http://i.work.ua/b/866.swf?941883883", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=866");
					so.addVariable("target", "_blank");
					so.write("sfw_866");
					});
					// ]]>
					</script> -->

					
				<div style="height: 100px;"></div>
					
			</div>			    
			
 <%= render 'archives/article' %>
			
			
		</section>
		</div>
		
		<div style="height: 10px;"></div>
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
			// jQuery('html, body').animate({scrollTop: 100}, 1000);				
		}
                
		$(window).load( function() {
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});
		});


	// var get_file = "../archives/article.htm";
// 
	// $.get( get_file, function( data ) {
		// $( "#render" ).html( data );
	// });

		
	</script>


<!-- <script>
  
	// var get_file = "../archives/article.htm";
// 
	// $(document).ready(function() {
	// //$(window).load( function() {
// 
			// $.get( get_file, function( data ) {
				// $( "#render" ).html( data );
			// });
// 		
	// });
  
</script>		 -->
