<% provide(:title, 'About KnowStory') %>


	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<style>
		
		#bodykopy p {
			font-family: msyh;
			font-size: 16px;
			color: #000;	
		}
		strong.sub {
			font-family: msyh;
			font-size: 18px;
			font-weight: bold;
			color: #666;			
		}
		p#k-deck {
			font-family: KlavikaLight;
			font-size: 18pt;
			font-weight: 400;
			line-height: 1.2em;
			margin-top: 4px;
			margin-bottom: 2px;
			letter-spacing: -0.03em
		}
		
		#bodykopy a {
			/*font-family: msyh;
			font-size: 16px;*/			
			
			color: #C4740C;
						
		}
		
	</style>


	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff; min-height: 800px;">
	    
		<header>		
								
			<%= render 'share/backtotop' %>
			
			<div class="table-main">			
				<div class="row">
					<div class="cell-100">
					</div>
					<div class="cell-800" style="padding-left: 8px;">
						<div class="table-main">
							<div class="row">
								<div class="cell-650">
									<img src="../assets_knowstory/logo-knowstory-1-w300-h102.png" alt="logo-knowstory-1-w300-h102.png">
								</div>			
							</div>
							<div class="row">
								<div class="cell-650" style="padding-left: 8px;">
									<strong class="sub">Student, Teacher & School Social Hub for Digital Learning Content</strong>
								</div>			
							</div>							
						</div>
					</div>
					<div class="cell-100%">
						<div class="table-main">
							<div class="row">
								<div class="cell-100percent">
				 						<!-- link_to image_tag(“/assets/EdMatchUp_logo.png”, :class=>’′), :url =>{:controller=> ‘’,:action=>’’} -->															
									<div id="edmatchuplogo">
										
										<!-- link_to image_tag("../repository/EdMatchUp_logo.png", :alt => 'EdMatchUp_logo.png'), edmatchups_path  -->										
										<!-- <img src="../repository/EdMatchUp_logo.png" alt="EdMatchUp_logo.png"> -->																									
									</div>							
						  		</div>
							</div>
							<div class="row">
								<div class="cell-100percent">
									<div align="center">
										<!-- <img src="../repository/image_coming_soon_8k.png" alt="image_coming_soon_8k.png"> -->
									</div>							
						  		</div>							
							</div>
						</div>
					</div>
				</div>					
			</div>	
		 					
		</header>		



		<section>

			<div class="kontainer">
				
				<!-- <div class="kontainer-space-1"></div> -->
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
		
							<bodycopy id="bodykopy">
								
<br>
<br>
<p>
    <strong style="font-size: 22px;">What is it?</strong>
</p>
<p>
    <strong>KnowStory </strong>
    is a social media tool and free directory designed to provide <em>learning </em>content and curriculum matches. KnowStory will provide an agnostic platform
    for all publishers, students, teachers, schools and college recruiters. It will host any Apps, full curriculum, lesson plans, learning games, eBooks and
    more, and provide each type of profile with a valuable connection, gap analysis, and recommendations.
</p>
<p>
	KnowStory is not curriculum itself. It's not a school. It's not a learning management system, but it will have inventory metrics and a lot
	 more <em>for</em> those systems or individuals from thousands of other publishers. It's something entirely NEW.
</p>
<p>
    We're soooo excited about it we can hardly wait for the developers to get it done!
</p>
<p>
    <a name="_GoBack"></a>
    <strong>If you are one of these types of people or groups – sign up for our </strong>
    <strong><a href="/LetterRegistration">eNewsletter</a></strong>
    <strong> to get news of our launch today! </strong>
</p>
<p>
    <strong>PUBLISHERS</strong>
</p>
<p>
    <strong>STUDENTS</strong>
</p>
<p>
    <strong>TEACHERS</strong>
</p>
<p>
    <strong>SCHOOLS</strong>
</p>
<p>
    <strong>RECRUITERS</strong>
</p>
<p>
    <strong>PARENTS</strong>
</p>

							</bodycopy>
	
						    <!-- <div id="k-bottom-of-article">
						        <div class="photo-credit"></div>        
						        <div class="updated">November 2013</div>
						    </div>
			
			
			
						    <div id="k-article-credit">
						
								<div class="columnist-photo">
									<a href="#" rel="author"><img src="/assets/article-icon-6-m-white.png" width="100px"></a>
								</div>
								<div class="color-notch bg-industry-news-blue"></div>						
								<div class="credits">
									<p><span class="columnist-name"><a href="#">Jacob Hanson, Contributor</a></span>
									</p>	
								</div>
							
							</div> -->	
	
	
						</div>
	
						<br clear="all">
						
					</div>
	
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">
									
							<div id="render_ad"></div>
																
						</div>
					</div>

					<br clear="all">
			
					<div class"kontainer-space-2"></div>
					
			</div>
			
		</section>
	</div>
	
	<div style="height: 30px;"></div>
	<div style="height: 30px;"></div>








	

