<% provide(:title, 'Reports') %>

	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
		            		<div class="k-channel-article jump tactic">
		            			<div><span>PAPERS</span></div>
		            		</div>

							<div class="kontainer-space-1"></div>
		            				        
		            		<!-- <h1 id="k-headline">Papers
			                    <span class="kbyline">BY <a href="#" style="color: black;" rel="author">Papers</a>
			    				</span>
		    				</h1>                        
		            		
		            		<p id="k-deck">Papers</p>  
							
							<br>
								
							<bodycopy id="bodykopy">
						
								<div style="font-family: KlavikaMedium;">
											
			 						<%= render 'share/papers' %>
			 						
			 					</div>
			 					
							</bodycopy> -->

<!-- Digital-Curriculum-Strategy-Brief.pdf							 -->




<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Digital Curriculum Strategy Brief - The Learning Counsel, Inc..pdf" class="k-link-a" target="_blank"> -->
		<a href="../pdfs/Digital-Curriculum-Strategy-Brief.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-digital-curriculum-2.png" alt="paper-thumb-digital-curriculum-2.png" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						The Learning Counsel 
						<div style="height: 16px;"></div>
						<h2 style="color: #C4740C;">Digital Curriculum Strategy Brief</h2>
						<br>
						<h2>What is a Digital Curriculum Strategy?</h2>
						<br>
						<h2>November 2013</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Digital Curriculum Strategy Brief - The Learning Counsel, Inc..pdf" class="k-link-a" target="_blank"> -->
		<a href="http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px;">
					    <img src="../repository/paper-colorado-w200-h235.png" alt="paper-colorado-w200-h235.png" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						<div style="height: 16px;"></div>
						<h2>Colorado’s Recommended Steps for District-wide<br>
							Blended Learning Implementation</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol1">
		<!-- <a href="../pdfs/McGraw-Hill-DDC.pdf" class="k-link-a" target="_blank"> -->
		<a href="https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-McGraw-Hill-DDC.jpg" alt="paper-McGraw-Hill-DDC.jpg" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">McGraw Hill<br>
						</span>&nbsp;District Digital Conversion
						<div style="height: 4px;"></div>
						<h2>Empowering Personalized Learning</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<a href="../pdfs/Case-Study-Burbank-2013.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-1.jpg" alt="paper-thumb-1.jpg" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;Burbank Elementary 
						<div style="height: 16px;"></div>
						<h2>Burbank Elementary School provides an educational</h2>
						<h2>environment where students are safe and secure,</h2>
						<h2>fully motivated, and able to achieve their</h2>
						<h2>fullest potential.</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol1">
		<a href="../pdfs/Case-Study-Marquez-2013.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-2.jpg" alt="paper-thumb-2.jpg" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;Marquez Elementary
						<div style="height: 16px;"></div>
						<h2>Marquez’ Digital Edge program—an exciting, high-tech</h2>
						<h2>initiative that puts laptop computers directly in</h2>
						<h2>students’ hands</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>


<!-- CASE STUDY:  Mooresville, NC; Napa, CA; Revere, MA
Why Innovative Superintendents Are Creating
Model Innovation Cities™
To Solve the Third Grade Reading Dilemma -->
 

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol1">
		<a href="../pdfs/Model-Innovation-City-Case-Study-Final.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-mooresville.png" alt="paper-thumb-mooresville.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;Mooresville, NC; Napa, CA; Revere, MA
						<div style="height: 16px;"></div>
						<h2>Why Innovative Superintendents Are Creating</h2>
						<h2>Model Innovation Cities™</h2>
						<h2>To Solve the Third Grade Reading Dilemma</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>



<!-- EVALUATION STUDY:  Touro University on Napa County Schools, CA
Using Mobile Technology and the
Footsteps2Brilliance® Academic Language
Program to Accelerate Vocabulary and
Comprehension for Early Learners
A 3rd Party Evaluation Study -->

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/Touro-University-FINAL.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-touro.png" alt="paper-thumb-touro.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">EVALUATION STUDY:<br>
						</span>&nbsp;Touro University on Napa County Schools, CA
						<div style="height: 16px;"></div>
						<h2>Using Mobile Technology and the</h2>
						<h2>Footsteps2Brilliance® Academic Language</h2>
						<h2>Program to Accelerate Vocabulary and</h2>
						<h2>Comprehension for Early Learners</h2>
						<h2>A 3rd Party Evaluation Study</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/ConceptuaMath-case-study_Mequon.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-conceptual-math-mequon.png" alt="paper-conceptual-math-mequon.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;Conceptua&reg;Math
						<div style="height: 16px;"></div>
						<h2>Conceptua&reg;Math at Mequon-Thiensville School District</h2>
						<h2>Common Core with a Focus on Fractions</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-conceptual-math-sunnyside.png" alt="paper-conceptual-math-sunnyside.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;Conceptua&reg;Math
						<div style="height: 16px;"></div>
						<h2>Sunnyside Unified School District & Conceptua&reg;Math</h2>
						<h2>Success with Fractions in an At-Risk District</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/STEM-U.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-stem-u.png" alt="paper-stem-u.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;STEM U
						<div style="height: 16px;"></div>
						<h2>The STEM-U program utilizes robots in classes as they are<br>the ideal partner for teaching</h2>
						<h2>Science, Technology, Engineering and Math's</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/cengage.pdf" class="k-link-a" target="_blank">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-cengage.png" alt="paper-cengage.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:<br>
						</span>&nbsp;GALE CENGAGE Learning
						<div style="height: 16px;"></div>
						<h2>Gale Resources Efficacy Study — Year Two Results</h2>
						<h2>McKinley Technology High School</h2>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

	
						</div>
	
						<!-- <a href="/contacts/new" style="font-family: klavikaBold; color: #000;">Contact Us</a> -->
						
												
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<!-- <div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 135px;">
							    <img src="../repository/image-reports.jpg" alt="image-reports.jpg" width="180px" >
							</div> -->
														
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div> -->
			
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
										<!-- <dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt> -->
										
									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 600px;"></div>
					
			</div>
			
		</section>

	</div>


