<% provide(:title, 'Reports') %>

	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
		            		<div class="k-channel-article jump tactic">
		            			<div><span>PAPERS</span></div>
		            		</div>

							<div class="kontainer-space-1"></div>
		            				        
		            		<!-- <h1 id="k-headline">Papers
			                    <span class="kbyline">BY <a href="#" style="color: black;" rel="author">Papers</a>
			    				</span>
		    				</h1>                        
		            		
		            		<p id="k-deck">Papers</p>  
							
							<br>
								
							<bodycopy id="bodykopy">
						
								<div style="font-family: KlavikaMedium;">
											
			 						<%= render 'share/papers' %>
			 						
			 					</div>
			 					
							</bodycopy> -->
							

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<a href="../pdfs/Case-Study-Burbank-2013.pdf" class="k-link-a">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
								
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
				
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-1.jpg" alt="paper-thumb-1.jpg" width="200px">
					</div>
					
				</div>

				<div class="kpaper-text-wrapper">
					
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:</span>&nbsp;Burbank Elementary 
						<div style="height: 16px;"></div>
						<h2>Burbank Elementary School provides an educational</h2>
						<h2>environment where students are safe and secure,</h2>
						<h2>fully motivated, and able to achieve their</h2>
						<h2>fullest potential.</h2>
																													
					</div>														
					
				</div>

			</div>
		</a>	
	</div>
					
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol1">
		<a href="../pdfs/Case-Study-Marquez-2013.pdf" class="k-link-a">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
								
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
				
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-2.jpg" alt="paper-thumb-2.jpg" width="200px">
					</div>
					
				</div>

				<div class="kpaper-text-wrapper">
					
					<div class="kpaper-text">
						<span style="color: orange;">CASE STUDY:</span>&nbsp;Marquez Elementary
						<div style="height: 16px;"></div>
						<h2>Marquez’ Digital Edge program—an exciting, high-tech</h2>
						<h2>initiative that puts laptop computers directly in</h2>
						<h2>students’ hands</h2>
					</div>														
					
				</div>

			</div>
		</a>	
	</div>
					
</div>


	
						</div>
	
						<!-- <a href="/contacts/new" style="font-family: klavikaBold; color: #000;">Contact Us</a> -->
						
												
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<!-- <div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 135px;">
							    <img src="../repository/image-reports.jpg" alt="image-reports.jpg" width="180px" >
							</div> -->
														
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div> -->
			
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
										<!-- <dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt> -->
										
									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 600px;"></div>
					
			</div>
			
		</section>

	</div>


