<% provide(:title, 'Reports') %>

	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
							<bodycopy id="bodykopy">
						
								<div style="font-family: KlavikaMedium;">
											
			 						<%= render 'share/reports' %>
			 						
			 					</div>
			 					
							</bodycopy>
	
						</div>
	
						<a href="/contacts/new" style="font-family: klavikaBold; color: #000;">Contact Us</a>
						
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 135px;">
							    <img src="../repository/image-reports.jpg" alt="image-reports.jpg" width="180px" >
							</div>
							
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div> -->
			
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
										<dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt>

									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 600px;"></div>
					
			</div>
			
		</section>

	</div>



