<% provide(:title, 'Special Report') %>


	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>

	<style>
		
		 p {
			font-family: Arial;
			font-size: 20px;
			color: #000;	
		}
		strong.sub {
			font-family: Arial;
			font-size: 18px;
			font-weight: bold;
			color: #666;			
		}
		p#k-deck {
			font-family: Arial;
			font-size: 18pt;
			font-weight: 400;
			line-height: 1.2em;
			margin-top: 4px;
			margin-bottom: 2px;
			letter-spacing: -0.03em
		}
		
		#bodykopy a {
			/*font-family: msyh;
			font-size: 16px;*/			
			
			color: #C4740C;
						
		}

		#main-report-cell {vertical-align: top;}
		h2 {font-size:26px; color:#000;font-family: Arial;}
		.left-img {width:220px; float:left;}
		#main-report-fold {width:1200px; margin:0 auto 0;}
		.cover {width:350px; margin:55px 0 0 100px; box-shadow:0 3px 6px #6f6f6f;}
		.tscplayer_inline {margin:25px 0 0 25px; border:2px solid #47b64a; box-shadow:0 3px 6px #6f6f6f;}
		.article-box {border:2px solid #47b64a; box-shadow:0 3px 6px #6f6f6f;
		 font-size:32px; text-align:center;}
		.fr {float:right;margin:25px 45px 0 0;}.fl {float:left; margin:25px 0 0 26px;}
		.article-box img {width:260px;}
		.survey-ad {width:455px; margin-left:-25px;}
		.cover-download {margin-left:200px; padding:5px 20px; border:2px solid #df722f; color:#fff; background: #3453ae; font-size:20px; font-weight: 600;}
		.spec-divider {border-top:2px solid #818181; padding-top:5px; width:1185px; margin:25px 0 35px;}
		.spec-divider h2 {font-size:28px; color:#818181; float:right;}
	</style>


	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff; min-height: 800px;">
								
			<%= render 'share/backtotop' %>
			
			<div class="seperator">
			<!-- <img src="/repository/logo-boxes-alone.png"> -->
			<img height="20px" src="/repository/logo-boxes-alone.png" alt="X">
			SPECIAL REPORT
			</div>

			<div style="display:table; margin:75px auto 0;">
				<div style="display:table-row;">
					<div id="main-report-cell" style="display:table-cell; width:550px;"><!-- left Column-->
						<h2>SPRING/SUMMER SPECIAL REPORT</h2>
						<br/>
						<p style="font-size:17px;">What is a "Model Architecture" for transitioning to digital curriculum? What are other schools doing? This Special Report brings together our past year's work, plus showcases some of the more advanced schools in the U.S. working on bringing some order to the mass of potential learning objects and tactics.</p>

						<a class="" href="/pdfs/spec_report/spec-report-web.pdf"><img class="cover" src="/repository/spec_report/cover.jpg"><br/><br/><span class="cover-download">DOWNLOAD</span></a>
					</div>

					<div style="display:table-cell;width:75px;"></div><!-- This is the divider-->

					<div id="main-report-cell" style="display:table-cell;width:470px;"><!-- Right Column-->
						<a target="_blank" href="https://business.t-mobile.com/schools-libraries-e-rate"><img style="margin-left:-25px;" class="left-img" alt="T-Mobile" src="/repository/spec_report/t-mobile-square-ad.jpg"></a>
						<a target="_blank" href="http://www.hmhco.com/educators/digital-and-mobile-learning/by-platform/hmh-player?dm=136826a"><img style="margin-left:16px;" class="left-img" alt="HMH" src="/repository/spec_report/hmh-ad.jpg"></a>

						<div style="clear:both; height:38px;"></div>
						<a class="" href="/Self-Assessment"><img class="survey-ad" src="/repository/spec_report/survey-ad.jpg"></a>
					</div>

				</div><!-- End Row-->
			</div><!-- End Table-->
			<div class="spec-divider">
				<h2>FEATURE VIDEO INTERVIEWS</h2>
			</div>

			<div id="main-report-fold">
				<!-- copy and paste. Modify height and width if desired. --><iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/LearningCounsel/folders/Special Report_Strategy/media/cb5edcf0-ca79-448d-b340-42ee430396f1/embed" height="240" width="355" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

				<!-- copy and paste. Modify height and width if desired. --><iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/LearningCounsel/folders/Special Report_Strategy/media/af8bce33-79db-4738-9f84-a1ec4a7c568d/embed" height="240" width="355" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

				<!-- copy and paste. Modify height and width if desired. --><iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/LearningCounsel/folders/Special Report_Strategy/media/dbbfe0f2-461b-4f13-aa1f-258abd3a0c05/embed" height="240" width="355" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

				<!-- copy and paste. Modify height and width if desired. --><iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/LearningCounsel/folders/Special Report_Strategy/media/28513394-50a1-4eab-861c-0d44ceec2965/embed" height="240" width="355" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

				<!-- copy and paste. Modify height and width if desired. --><iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/LearningCounsel/folders/Special Report_Strategy/media/b4986cce-799a-488b-b1a1-f16a32f73f49/embed" height="240" width="356" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

				<div class="spec-divider">
				<h2>SPECIAL REPORT SPOTLIGHT ARTICLES</h2>
				</div>
				<!-- Article Box-->
				<a class="article-box fl" href="/pdfs/spec_report/chicago-web.pdf"><img src="/repository/spec_report/chicago-article.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/reconstructing-web.pdf"><img src="/repository/spec_report/restructure.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/fresno-web.pdf"><img src="/repository/spec_report/fresno-article.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/houston-web.pdf"><img src="/repository/spec_report/houston-article.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/model-arch-web.pdf"><img src="/repository/spec_report/model-arch.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/new-jersey-web.pdf"><img src="/repository/spec_report/nj-article.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/north-carolina-web.pdf"><img src="/repository/spec_report/northcarolina-article.jpg"></a>

				<a class="article-box fl" href="/pdfs/spec_report/point-of-view-web.pdf"><img src="/repository/spec_report/point-of-view-web.jpg"></a>

				<div style="clear:both; height:10px; margin-top:15px;"></div>

			</div><!-- End fold -->


	</div><!-- End Main Div-->
	
	<div style="height: 30px;"></div>
	








	

