<% provide(:title, 'Advertise') %>

	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);

		.kontainer { border:2px solid #f7f7f7;
   		 box-shadow: 4px 4px 4px #CCC;
   			width: 950px;
   			 padding-left:20px;}

   		.promote {font-family:Quattrocento sans; font-size: 25px; color: #41b737;}
											
	</style>
							
	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
								
							<bodycopy id="bodykopy">
								
			 					<%= render 'share/sponsor' %>
			 						
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<!--<div style="">
							    <img src="../repository/logo-icon-lc.png" alt="logo-icon-lc.png" >
							</div> -->
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
			</div>
			
		</section>

	</div>


