<% provide(:title, 'Submit an Article') %>

	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);

		/*.kontainer { border:2px solid #f7f7f7;
   		 box-shadow: 4px 4px 4px #CCC;
   			width: 950px;
   			 padding-left:20px;}*/

   		.promote {font-family:Quattrocento sans; font-size: 25px; color: #41b737;}
		
		.submit-h2 {color:#376340;font-size: 27px;}	
		p a {color:#41b737;} p a:visited {color:#41b737;}
		.lgreen {color:#41b737;}

		#closing-graphic img {
  bottom: 220px;
  position: relative;
  float:left;
}

.box-row {
  background: url('/repository/lc-boxes.png') white repeat-x;
  height: 59px;
  margin-left: 440px;
  margin-top: 30px;
}						
	</style>
							
	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		<div class="seperator" style="padding-top: 4px; height: 40px;"><img src="/repository/logo-boxes-alone.png">Submit an Article
</div>
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
				
					<div>
						<h2 class="submit-h2">Submit an Article – Share with Others</h2>
						<p>
						Publish to the growing Learning Counsel community of 46,000+ education leaders as well as thousands of publishers and tech industry executives.
						<br/><br/>
						Ideas to write about:<br/><br/>
						</p>
						<ul style="margin-left: 75px;">
<li><span>Dealing with the transition to digital.</span></li>
<li><span>Innovations in characteristics of digital curriculum.</span></li>
<li><span>Instructional design for K12.</span></li>
<li><span>Meeting Standards.</span></li>
<li><span>File standards.</span></li>
<li><span>Storage issues.</span></li>
<li><span>Devices and network issues.</span></li>
<li><span>Experiences in the classroom.</span></li>
<li><span>Experiences with virtual or distance learning.</span></li>
<li><span>Trends or research.</span></li>
<li><span>Interviews and cases studies.</span></li>
<li><span>Reviews of new software with demo screen shots.</span></li>
						</ul>
						<br/><br/>
						<p>What we will publish:</p>
						<ul style="margin-left: 75px;">
<li><span>Articles with interest from an innovation, research or news perspective, but not purely promotional about a product.</span></li>
<li><span>Authors from education institutions or the digital learning industry.</span></li>
						</ul>
						<br/><br/>
						<p>What we won’t publish:</p>
						<ul style="margin-left: 75px;">
<li><span>Copies of articles or blogs on other websites.</span></li>
<li><span>Purely promotional posts as in a product being named a winner of some other organization’s contest, or posting of new executives.</span></li>
<li><span>Others at the discretion of the Learning Counsel.</span></li>
						</ul>
						<br/><br/>
						<p>Article submissions are unpaid and will include links to the author’s short bio which will also be put on the Learning Counsel site.</p>
						<p><br/>Submissions should be emailed to: 
							<a href="mailto:submissions@learningcounsel.com">submissions@learningcounsel.com</a></p>

						<p style="margin-left: 75px;"><br/><br/>Include:<br/><br/>
<span class="lgreen">1)</span> Name of Author, email, short bio, professional picture, URLs to LinkedIn, Twitter, and company or personal website if available.
If a school or district executive, include URL for associated institution.<br/><br/>
<span class="lgreen">2)</span> Name of article. Please note, the Learning Counsel may edit slightly for reader interest, and will make you aware of the change before publication.<br/><br/>
<span class="lgreen">3)</span> First couple of sentences for short intro with the picture and title.<br/><br/>
<span class="lgreen">4)</span> Main image, including source for credits if needed. If a purchased photo, normally these are not necessary. Image needs to be jpeg, png or eps file, preferably 300 dpi for sizing. It should be a rectangle (horizonally oriented) or an icon that is floated on a white background in a rectangle shape. Other images as needed.<br/><br/>
<span class="lgreen">5)</span> Full article – up to 1,000 words submitted in Microsoft Word.<br/><br/>
<span class="lgreen">6)</span> Any external links should be embedded in the editorial.<br/><br/>
<span class="lgreen">7)</span> References as needed.<br/><br/>
<span class="lgreen">8)</span> We will send you a release to sign and return that asks you to indicate you are the copyright owner and you understand we may use your work with some editing that you would approve. We will also ask if you want readers to be able to make comments at the bottom of the article, with the understanding that the Learning Counsel will edit those comments at our discretion. In addition,
that we may have delays based on programmer availability to make any changes once published.<br/><br/>
						</p>
						<p style="margin-left: 75px;">
							Contact us with any questions at <a href="mailto:submissions@learningcounsel.com">submissions@learningcounsel.com</a>
						</p>


					</div>

					
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<!--<div style="">
							    <img src="../repository/logo-icon-lc.png" alt="logo-icon-lc.png" >
							</div> -->
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
			</div>
			
		</section>

	</div>
	<!-- End squares-->
					<div id="closing-graphic">
<img src="../repository/lc-box-cloud.png">
<div class="box-row"></div>
</div>


