<% provide(:title, 'Talk Here') %>

	<!-- <script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> -->
	
	<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);

		/*.kontainer { border:2px solid #f7f7f7;
   		 box-shadow: 4px 4px 4px #CCC;
   			width: 950px;
   			 padding-left:20px;}*/

   		.promote {font-family:Quattrocento sans; font-size: 25px; color: #41b737;}
		.author-column {width: 350px;}								
	</style>
							
	<div style="width: 1200px; height: 1670px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		<div class="seperator-3"><img src="/repository/logo-boxes-alone.png">Talk Here
</div>
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
				
					<div>
						<div>
		    				<!-- Start author column -->
	<div class="author-column">
		<h2 class="author-header">FEATURED AUTHORS</h2>
		<div class="a-column-box" style="margin-top: 3px; border-top: 1px solid gray;">
			<img class="auth-pic" src="/repository/events/lani-small.jpg" alt="Leilani Cauthen">
			<h3>LEILANI CAUTHEN</h3>
			<p>Well versed in digital content and curriculum
				change, the adoption process,
				successful strategies, and helping
				schools understand what’s available
				and what will work.
				Leilani is a consulting, media, research,
				marketing and sales professional with 26 years of experience
				in the high tech, government and education sectors.</p>
			<div class="social-links-author">
				<a href="https://www.facebook.com/leilani.cauthen" target="_blank"><img src="/repository/facebook.png" alt="Facebook"></a>
				<a href="https://twitter.com/leilanicauthen" target="_blank"><img src="/repository/twitter.png" alt="Twitter"></a>
				<a href="https://www.linkedin.com/profile/view?id=101158241" target="_blank"><img src="/repository/linkedin.png" alt="LinkedIn"></a>
			</div>
		</div>

		<div class="a-column-box">
			<img class="auth-pic" src="/repository/events/david.png" alt="David Kafitz">
			<h3>DAVID KAFITZ, Ed.D.</h3>
			<p>Expert and charismatic change-agent
				helping schools move forward with
				a well-reasoned strategy for digital
				content and curriculum, professional
				development and IT strategy.
				Former Superintendent, Director of
				Technology Services, Principal, and Teacher in North Carolina
				Public Schools.</p>
				<div class="social-links-author">
				<a href="https://www.facebook.com/dkafitz" target="_blank"><img src="/repository/facebook.png" alt="Facebook"></a>
				<a href="https://twitter.com/david_kafitz" target="_blank"><img src="/repository/twitter.png" alt="Twitter"></a>
				<a href="https://www.linkedin.com/profile/view?id=78484533" target="_blank"><img src="/repository/linkedin.png" alt="LinkedIn"></a>
			</div>
		</div>

		<div class="a-column-box">
			<img class="auth-pic" src="/repository/events/joe-du.jpg" alt="Joe Due Fore">
			<h3>JOE DU FORE</h3>
			<p>Founder of the Exceptional Language
				& Innovation Academy and
				owner of both Newline Education
				and Digital Publishing House LLC,
				Joe Du Fore started his educational
				career as a Biology and mathematics teacher. He then
				moved on to be a Professor of Education and Executive
				Director of the Instructional Design Center at
				Wisconsin Lutheran College. He now devotes all of
				his time to writing and traveling the world, promoting
				digital citizenship, literacy, immersion and creativity
				through digital infusion and understanding. As
				a TEDx presenter, self-inflicted techno-twerp, educational
				entrepreneur, and poor unicyclist, Joe spends
				his time consulting, motivational speaking, and helping
				teachers, schools and communities identify ways
				to best incorporate technology.</p>
		</div>
		<div class="a-column-box" style="margin-bottom: 50px;">
			<img class="auth-pic" src="/repository/dr-marion.jpg" alt="Dr. Marion Blank">
			<h3>DR. MARION BLANK</h3>
			<p>Director of Education for ReadingKingdom, a revolutionary online reading & writing program. She is a world-renowned literacy and language expert on the faculty of Columbia University where she created and directed the Light on Literacy Program. She has lectured extensively around the world, authored dozens of peer-reviewed articles and books and developed numerous award winning teaching programs. She is also a recipient of the Upton Sinclair Award which honors individuals who have made a significant contribution to Education.</p>
		</div>
	</div>
<!-- End author column -->
								
							<bodycopy id="bodykopy">
								
			 					<%= render 'share/talk_here' %>
			 						
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

							<!--<div style="">
							    <img src="../repository/logo-icon-lc.png" alt="logo-icon-lc.png" >
							</div> -->
								
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
			</div>
			
		</section>

	</div>
<script type="text/javascript" src="../journalscripts/runningad.js"></script> 

