<!-- Special Gathering-->
<%= render 'share/backtotop_2' %>
<ul class="special-gathering">
  <li class="sg-li">
    <%= render 'share/eventpages_tabs' %>
  </li>
  <li class="sg-li">
    <div class="tab-container">
      <!--<div id="page">-->
        <div class="head">
          <img src="../event_pages/gather-banner.jpg" alt="gathering.png">
          <div class="space-height-20"></div>
          <h1>The Annual "Un-Conference" for K12 District Leaders</h1>
          <h3 id="first-h3">
            Join us in Albuquerque, New Mexico for the 2nd Annual Gathering and National Awards Event.
            This 1 ½-day event is like no other conference you’ll attend—real networking with other education
            executives.
            Hear important thought leaders and authors. Listen as districts compete with short innovations talks and be
            part of choosing the winners.
            Gain needful perspective on solving tech and curriculum complexities while transitioning to digital content
            and testing.
          </h3>
          <table>
            <tr>
              <td class="rust-square">
                The average classroom has:
                <ul class="display-list">
                  <li><span>5-50+Apps</span></li>
                  <li><span>2-20+ Membership Sites (including District systems)</span></li>
                  <li><span>5-100+ Non-Member Sites</span></li>
                </ul>
              </td>
              <td>&nbsp;&nbsp;&nbsp;</td>
              <td>
                <p>Networking –
                  <span id="span-1">Join peers also concerned with the transition to digital curriculum now that 50% of U.S. students are using digital devices in class.</span>
                </p>
                <br/>

                <p>Educational –
                  <span id="span-2">Special briefings and discussions led by other educators on key technology and digital curriculum topics.</span>
                </p>
                <br/>

                <p>Spark creativity and innovation –
                  <span id="span-3">Learn from other education executives what the issues are and solutions they are trying.</span>
                </p>
                <br/>
                <p>Celebrate –
                  <span id="span-4">Digital Curriculum Strategy Survey honored districts in an Awards Ceremony for their strategy and tactics with digital curriculum and technology.</span>
                </p>
              </td>
            </tr>
          </table>
          <table style="margin-top: 40px;">
            <tr>
              <td>
                <h3 style="text-align: center; color:#B45231;">Meet Peer Leaders and<br/> Participate in
                  Discussions<br/> About Transitioning to Digital Curriculum.</h3>

                <p style="color: #000;">
                  This national retreat-style event is a one of a kind meeting that is truly a discussion amongst peers
                  where you can hear what other districts are
                  dealing with and participate with questions and comments. Education executives from North Carolina,
                  California, Texas, New Jersey, Massachusetts,
                  Illinois, Colorado, Minnesota and Michigan are already registered to attend. Invited executives
                  include:
                </p>
                <ul style="margin-left: 25px; color:#B45231;">
                  <li><span style="color: #000;">Superintendents</span></li>
                  <li><span style="color: #000;">District Curriculum Directors</span></li>
                  <li><span style="color: #000;">Chief Academic Officers</span></li>
                  <li><span style="color: #000;">District & School Curriculum &
										Instructional Designers</span></li>
                  <li><span style="color: #000;">CIOs, CTOs, Directors of Technology</span></li>
                  <li><span style="color: #000;">Instructional Technologists &
										Tech Administration Specialists</span></li>
                  <li><span style="color: #000;">Professional Development Staff</span></li>
                  <li><span style="color: #000;">Library and Media Specialists</span></li>
                  <li><span style="color: #000;">Principals</span></li>
                  <li><span style="color: #000;">State Department of Education Executives</span></li>
                  <li><span style="color: #000;">School Board Members</span></li>
                </ul>
              </td>
              <td>&nbsp;&nbsp;&nbsp;</td>
              <td style="vertical-align: top;">
                <h3 style="text-align: center; color:#B45231;">About the Event</h3>

                <p style="color: #000;">The first day will be a historic and educational excursion and then a group
                  dinner. Over dessert around campfires, there will be storytelling about the old west from a Native
                  American Indian and we will discuss how the past in the native old west affected us, and how the past
                  practices in schools have been shaping current practices with digital curriculum—and what needs to
                  change.
                  <br/><br/>
                  Day two will feature discussions shaping the future. Topics hour-by-hour will be about new file
                  standards, transitioning to digital curriculum and the buy-or-build issue, professional development
                  changes, policy issues, and the impacts of tech choices on curriculum flexibility. There will also be
                  Innovation Presentations from leading schools from across the nation. Award winning and transformative
                  education leaders will be on hand to lead these key discussions.<br/><br/>
                  We’ve also invited two special guest speakers, to be announced, on topics that are very timely
                  nationally.
                  <br/><br/>
                  The day ends with an Awards Reception for the winners of the annual Digital Curriculum Strategy Award.
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="space-height-4"></div>
        <div class="event-title">
          <div class="event-name">
            <span>Gathering &amp; National Awards Event</span>
          </div>
          <div class="clear-both"></div>
          <div class="space-height-20"></div>
          <div class="event-text">
            <span>26-27 October: Monday &amp; Tuesday</span>
            <div class="space-height-4"></div>
            <span><em>Hosting
              Hotel: </em></span>&nbsp;<span class="address-span">Hyatt Regency Tamaya</span>
            <br/>
            <span class="address-span">1300 Tuyuna Trail</span>
            <br/>
            <span class="address-span">Santa Ana Pueblo, NM 87004</span>
          </div>
          <div class="clear-both"></div>
        </div>
        <div class="space-height-4"></div>
        <div class="main">
          <img src="../event_pages/albu-balloon.jpg" class="right-img">
          <img src="../event_pages/albu-house.jpg" class="left-img">
          <img src="../event_pages/albu-arches.jpg" class="left-img">
          <img src="../event_pages/albu-camp.jpg" class="right-img">
          <img src="../event_pages/albu-mtns.jpg" class="right-img">
        </div>
        <div class="agenda">
          <h2 class="agenda-title">AGENDA</h2>
          <h2>Agenda - Day 1</h2>
          <table>
            <tr>
              <td>3:00—5:00 p.m.</td>
              <td>Kickoff Welcome at Resort Stables</td>
            <tr>
              <td>5:00—7:00</td>
              <td>Chuck Wagon Dinner & Rodeo</td>
            </tr>
            <tr>
              <td>8:00—</td>
              <td>Native American Storytelling Around Campfires with Smores & Desserts</td>
            </tr>
          </table>
          <h2>Agenda - Day 2</h2>
          <table>
            <tr>
              <td>7:30 a.m.</td>
              <td>Breakfast</td>
            </tr>
            <tr>
              <td>8:00—8:30</td>
              <td>Welcome, Overview & Introductions</td>
            </tr>
            <tr>
              <td>8:30—9:30</td>
              <td>Guest Speaker & Questions</td>
            </tr>
            <tr>
              <td>9:30-9:45</td>
              <td>Industry Guest</td>
            </tr>
            <tr>
              <td>9:45—10:00</td>
              <td>Guest Presentation & Discussion #1</td>
            </tr>
            <tr>
              <td>10:00—10:15</td>
              <td>Guest Presentation & Discussion #2</td>
            </tr>
            <tr>
              <td>10:15—10:30</td>
              <td>BREAK</td>
            </tr>
            <tr>
              <td>10:30—10:45</td>
              <td>Guest Presentation & Discussion #3</td>
            </tr>
            <tr>
              <td>10:45-11:00</td>
              <td>Guest Presentation & Discussion #4</td>
            </tr>
            <tr>
              <td>11:00—11:15</td>
              <td>Industry Guest</td>
            </tr>
            <tr>
              <td>11:15-11:30</td>
              <td>Guest Presentation & Discussion #5</td>
            </tr>
            <tr>
              <td>11:30-11:45</td>
              <td>Guest Presentation & Discussion #6</td>
            </tr>
            <tr>
              <td>11:45-12:00</td>
              <td>Industry Guest</td>
            </tr>
            <tr>
              <td>12:00-12:45 p.m.</td>
              <td>LUNCH</td>
            </tr>
            <tr>
              <td>12:45-1:00</td>
              <td>Industry Guest</td>
            </tr>
            <tr>
              <td>1:00-1:45</td>
              <td>Student Data Privacy Panel</td>
            </tr>
            <tr>
              <td>1:45-2:30</td>
              <td>Student Privacy Bill of Rights Exercise</td>
            </tr>
            <tr>
              <td>2:30-3:00</td>
              <td>Concluding Remarks - KnowStory Overview</td>
            </tr>
            <tr>
              <td>3:00-3:30</td>
              <td>National Awards Ceremony</td>
            </tr>
            <tr>
              <td>3:30-4:00</td>
              <td>Award Recipient Reception</td>
            </tr>
            <tr>
              <td>4:00 p.m.</td>
              <td>Conclusion of Event</td>
            </tr>
          </table>
        </div>
      <!--</div>-->
    </div>
  </li>
</ul>
<div class="special-gathering-bottom-spacer"></div>

<script>
    var offset_top = 0;
    jQuery(window).scroll(function () {
        offset_top = $(window).scrollTop()
        $('#eventstabs').css('top', offset_top);
    });

    $(window).load(function () {
        //$(document).ready(function(){
        $("#tab3").addClass("active");
    });
</script>


