<h1>institutes index</h1>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">
		<div>
			<%= link_to "Return to Home", home_path %>
		</div>
		<h2></h2> 	
        <h2>School Directory</h2>
		<br />
		<div>      <!-- redirect_to(:controller => 'controller', :action => 'show') -->
	
			<%= link_to "School Login", access_institute_login_path %>
		</div>
		<br />
		<div>
			<%= link_to "School Create Account", institutes_new_path %>
		</div>        
      </div>
    </div>
  </div>
</div>
