
	<style>
	
		.contact-wrapper {
			text-align: left;
		}	
    	.contact-header {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 22px;
    		color: black;
    	}    	
    	.contact-message {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 14px;
    		color: black;    		
    	}
		.contact-address {
			font-family: msyh;
			font-size: 18px; 
			color: #26B821;
		}
		.contact-red {
			color: #7D0202;
		}
		
	</style>

	<div class="contact-wrapper">
		<span class="contact-header contact-red">
		    Message Save Failed
		</span>
		<br>
		<br>
		<span class="contact-message">
		    We are very sorry. For some reason, your message was not saved.<br> 
		    You are welcome to try again, but the best way is to contact us directly<br> 
		    by phone or address. 
		</span>
		<div style="height: 20px;"></div>	
		<span class="contact-address">			
			Learning Counsel<br>
			P.O. Box 1315 Fair Oaks<br>
			CA 95628						
		</span>
		<br>
		<br>
		<br>
		<span class="contact-address">			
				888-611-7709						
		</span>
		
	</div>
	
