
<p>
    <strong>WELCOME! </strong>
</p>
<p>
    <strong>
        Are you ready? Join us to get a national perspective on what other districts are doing with digital curriculum from our exclusive research.
    </strong>
</p>
<p>
    If you’re involved with going digital with teaching and learning, IT or school leadership, we’ll look for you when we’re in a city near you.
</p>
<p>
As a research institute and media hub, we’re interested in what works. Our multi-city tour of small events called the    <strong>Digital Curriculum Strategy Discussions</strong> for education executives have a unique goal-setting workshop, group discussion, and show and
    discuss by digital curriculum providers. They are <strong>free to attend</strong> for schools, useful and educational, and sponsored by multiple publishers
    and technology companies.
</p>
<p>
    In addition, we create on annual invitation-only event called “the Gathering” for executives to hear what’s on the horizon nationally, discuss and plan.
</p>
<p>
    <strong>How will you contribute? </strong>
</p>
<p>
    When you attend these one-day events, just be you. Represent for your school and your interests. Bring your curiosity and fellow executives. A lot is
    changing with schools as they are implementing digital curriculum, so everyone has lots of questions and comments. There is more sophistication needed
    beyond what device to select. The world of digital content and curriculum is enormously complex now. Therefore, it’s important to bring the curriculum and
    IT worlds together with district leadership to learn about, and discuss, a complete strategy.
</p>
<p>
    You’ll be surprised at how much you gain from an old-fashioned day of peer discussion and some interesting new developments from the industry.
</p>
<p>
    See you there!
</p>
<p>
	<img src="../repository/image-lani-signature-1.png" alt="image-lani-signature-1.png">	
</p>
<br/>
<br>
<p>
	<a href="/EventRegistration" class="k-link">ATTEND REPRESENTING A SCHOOL</a>	
</p>
<p>
	<a href="/EventRegistration" class="k-link">ATTEND REPRESENTING A VENDOR</a>	
</p>
<p>
	<a href="/contacts/new" class="k-link">SPONSOR</a>	
</p>
