	
<style>
	
	
#lc-landing {
}	
	
#lc-landing #page {
  width:750px;
  margin-left: 435px;
  
  
  /*margin-right: auto;*/  
  
}

#lc-landing #subscribe-box  {
float: right; 
margin-left: 20px;
}

#lc-landing #subscribe-box .form {   
	width: 255px;
	height: 289px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #eaeaea; /* layer fill content */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
}

#lc-landing #subscribe-box .label { 
	height: 35px;
    width: 240px;
	background-color: #414141; /* layer fill content */
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}

#lc-landing #subscribe-box h3 {  
	color: #ebeff1; /* text color */
	/*KlavikaMedium*/
	font-family: KlavikaMedium;
	/*font-family: "Quattrocento Sans", sans-serif;*/
	font-size: 15px;
	margin:0;
	padding-left: 15px;
    padding-top: 15px;
	}
#lc-landing #subscribe-box img {
  float:left;
  position: relative;
  left: 116px;
}



/*#lc-landing .services-ov {
    background-clip: padding-box;
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
}

#lc-landing .services-ov a:link {
    color: #F2F2F2;
    font-family: "Quattrocento Sans",sans-serif;
    font-size: 13px;
    padding: 0 8px 8px 7px;
    text-decoration: none;
}*/



#lc-landing .services-ov {
    background-clip: padding-box;
	
	
  width: 232px;
	height: 22px;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #999;
	margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#lc-landing .services-ov a:link {
    /*padding: 0 8px 8px 7px;*/
   	
	color: #f2f2f2;
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 13px;
	text-decoration: none;
	padding: 2px 2px 3px;	
	position: abolute;
	margin-left: 8px;
}




.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
	-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
.services-ov a:visited {color: #f2f2f2; text-decoration: none;}

#lc-landing p {
	color: #333;
	/*font-family: "Quattrocento";*/
	font-family: KlavikaLight;
	font-size: 13px;
	width: 400px;
	line-height: 1.2em;	
  	font-size: 1.15em;
	
	}

#lc-landing a {
	color: #C4740C;
	}

#lc-landing .table p {
	color: #333;
	/*font-family: "Quattrocento";*/
	font-family: KlavikaLight;
	font-size: 13px;
	/*width: 400px;*/
	line-height: 1.2em;	
  	font-size: 1.15em;
	}

#lc-landing ul li {
	color: #000;
	font-family: KlavikaMedium;
	/*font-family: "Quattrocento";*/	
	font-size: 16px;
	margin-left: 30px;
	font-weight: 600;
	line-height: 1.2em;		
	}
	
#lc-landing .page-title {
  font-size: 35px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

#lc-landing .page-title-centered {
  font-size: 40px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

#lc-landing .center {
	text-align: center;
	margin-right: 17%;
}

#lc-landing .sub-title {
  font-size: 30px;
  color: #34633A;
  margin-left: auto;
  margin-right: auto;
  /*width: 500px;*/  
  width: 470px;
  
}

#lc-landing .green-this {
    color: #41b737;
	font-style: bold;
	}
	
#lc-landing .bold-close {	
	color: #34633a;
	size: 22px;
	font-weight: bold;
	}


#lc-landing #bottom-graphic img {
  bottom: 220px;
  position: relative;
  float:left;
}

#lc-landing .box-row {
  background: url(../repository/lc-boxes.png) white repeat-x;
  height: 59px;
  margin-left: 440px;
  margin-top: 30px;
}

.spacer {
	height: 20px;
}
		
	
</style>	
	

<!-- <script type='text/javascript' src='../scripts/jquery.min.js'></script>		 -->


<%= render 'share/backtotop' %>



<div id="lc-landing">
		
<div class="spacer"></div>
	
<div id="page">

<img src="../repository/events/digital-curric.png" alt="digital-curric.png">

<table width="430" style="font-size:1.15em;">
	<tr><td style="width: 50px">Feb. 27</td>
		<td style="width: 100px">Columbia, SC</td>
		<td style="width: 100px">Columbia Marriott, 1200 Hampton Street,\nColumbia, SC, 29201-2826 (803) 771-7000</td>
	</tr>
	<tr>
		<td>March 17</td>
		<td>Fresno (Central), CA</td>
		<td>Radisson Hotel Fresno 2233 Ventura St,\nFresno, CA, 93721 ‎(866) 539-8430</td>
	</tr>
	<tr>
		<td>April 15</td>
		<td>Chicago, IL</td>
		<td>Forest View Education Center\nTownship High School District 214\n2121 S. Goebbert Road\nArlington Heights, IL 60005</td>
	</tr>
	<tr>
		<td>April 10</td>
		<td>Houston, TX</td>
		<td>TBD</td>
	</tr>
	<tr>
		<td>April 24</td>
		<td>San Bernardino, CA</td>
		<td>On Campus - TBD</td>
	</tr>
	<tr>
		<td>May 6</td>
		<td>Richmond, VA</td>
		<td>TBD</td>
	</tr>
	<tr>
		<td>June TBD</td>
		<td>Minneapolis, MN</td>
		<td>TBD</td>
	</tr>
	<tr>
		<td>June TBD</td>
		<td>Detroit, MI</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Sept. TBD</td>
		<td>Denver, CO</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Sept. TBD</td>
		<td>Dallas, TX</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Sept. TBD</td>
		<td>Newark, NJ</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Sept. TBD</td>
		<td>San Jose, CA</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Oct. TBD</td>
		<td>Las Vegas, NV</td>
		<td>TBD</td>		
	</tr>
	<tr>
		<td>Oct. TBD</td>
		<td>Tampa, FL</td>
		<td>TBD</td>		
	</tr>
</table>

<div style="height: 20px;"></div>

<div class="spacer"></div>

<p>
    <strong>We’ve invited executives from local districts and schools to attend the full day.  Attendance is free to educators. Attendance is FREE to District Executives: </strong>
</p>

<div class="spacer"></div>

<table width="500" style="font-size:1.15em;">

<tr><td>&ndash;School Board Members</td></tr>
<tr><td>&ndash;Superintendents</td></tr>
<tr><td>&ndash;Principals</td></tr>
<tr><td>&ndash;Chief Academic Officers</td></tr>
<tr><td>&ndash;District Curriculum Directors</td></tr>
<tr><td>&ndash;District &amp; School Curriculum &amp; Instructional Designers</td></tr>
<tr><td>&ndash;Professional Development Directors</td></tr>
<tr><td>&ndash;CIOs, CTOs, Directors of Technology</td></tr>
<tr><td>&ndash;Instructional Technologists</td></tr>
<tr><td>&ndash;Library and Media Specialists</td></tr>

</table>

<div class="spacer"></div>

<p>
    <strong>Discussion Agenda – 8:30am – 3:30pm</strong>
</p>

<div class="spacer"></div>

<div>
	<img src="../repository/events/david-small.png" alt="david-small.png" style="text-align: left;">
	<p>Host:  David Kafitz, VP School Relations, The Learning Counsel</p>
	<p>Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum with complementary personnel and IT strategy.  Former Superintendent, Watauga County Schools, Boone, NC, and former Director Technology Services, Union County Public Schools.</p>  
</div>

<div class="spacer"></div>

<div>
	<img src="../repository/events/lani-small.png" alt="lani-small.png" style="text-align: left;">
	<p>Digital Curriculum Trends Speaker:  LeiLani Cauthen, CEO & Publisher, The Learning Counsel</p>
	<p>A Research Publisher and Media personality for 10 years, LeiLani will share the trends in schools for digital curriculum, insight into the future, and best practices.</p>  
</div>

<div class="spacer"></div>

<p>
    &ndash;<strong> Special presentation </strong>by The Learning Counsel on the state-of-developments in curriculum trends nationally.
</p>

<div class="spacer"></div>

<p>
	&ndash; A professional “provocateur” to lead attendees in discussions with each other and through    <strong>half-hour presentations by several digital curriculum publishers</strong> on topics related to digital curriculum, tablets and mobility,
    educational games, and analytics. These presentations get the “wheels turning” for what’s industry current.
</p>

<div class="spacer"></div>

<p>
    &ndash; A special template and discussion time <strong>building a comprehensive digital curriculum strategy. </strong>
</p>

<div class="spacer"></div>

<p>
	Complimentary Continental Breakfast, Snack Breaks, Lunch, and Reception.
</p>

<p>
    &ndash; 4pm<strong> Local Executive Panel </strong>to brief the industry and additional district staff. Schools are invited to send additional interested teachers and other administration executives to hear the panel from 4-5pm, which is usually good timing post the school day.  Non-sponsoring companies may pay to send attendees to the Panel and Reception.
</p>

<div class="spacer"></div>

<p>
    &ndash; 5&ndash;6:30 pm<strong> Reception </strong>for one and all!
</p>


<div class="spacer"></div>
<div class="spacer"></div>

<p>
    <strong>SPONSORS (As of January 20, 2014)</strong>
</p>

<div class="spacer"></div>
<div class="spacer"></div>

<p>
<img src="../logosponsor/edgenuity-360w.png" alt="edgenuity-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/beyond-360w.png" alt="beyond-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/promethean-360w.png" alt="promethean-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/tmo-magenta-blk-360w.png" alt="tmo-magenta-blk-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/ixl-learning.png" alt="ixl-learning.png">
</p>

<div class="spacer"></div>
<div class="spacer"></div>

<p>
	<a href="/Schedule" class="k-link">ATTEND IN ONE OF THE CITIES</a>	
</p>
<p>
	<a href="/contacts/new" class="k-link">INVITE US TO CREATE AN EVENT IN YOUR CITY</a>	
</p>



</div>



<!-- <div style="height: 70px;"></div> -->

	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="box-row"></div>
</div>

</div>
<div style="clear: both;"></div>


