

<a href="/EventRegistration" class="k-link">REGISTER TO ATTEND</a>
<br>
<br>
<br>
<p>
    <strong>WELCOME! </strong>
</p>
<p>
    <strong>So glad you could make it. </strong>
</p>
<p>
    <strong>Are you ready? Let’s get you organized and fierce with a well-reasoned strategy for digital curriculum! </strong>
</p>
<p>
    <em> </em>
</p>
<p>
    If you’re involved with going digital with curriculum, IT or school leadership, we’ll look for you when we’re in a city near you!
</p>
<p>
    As a research institute, we’re interested in what works. Our multi-city tour of small events for educators have workshops, group discussion, and show and
    discuss by digital curriculum providers.
    <br/>
</p>
<br/>
<p>
    In addition, we create on annual invitation-only gathering for executives to hear what’s happening nationally, discuss and plan.
</p>
<p>
    <strong>How will you contribute? </strong>
</p>
<p>
    Just be you. Represent for your school, your interests, and bring your curiosity. A lot is changing with schools as they are implementing digital
    curriculum. There is more sophistication needed beyond what device to select. The world of digital content and curriculum is enormously complex now.
    Therefore, it’s important to bring the curriculum and IT worlds together with district leadership to learn about, and discuss, a complete strategy.
</p>
<p>
    I and my staff host these events, which are educational and sponsored by several vendors from the high tech and digital curriculum community. We work with
    our sponsors to prepare them to contribute to the conversation in meaningful ways.
</p>
<p>
    You’ll be surprised at how much you gain from an old-fashioned day of peer discussion.
</p>
<p>
    See you there!
</p>
<p>
	<img src="../repository/image-lani-signature-1.png" alt="image-lani-signature-1.png">	
</p>
<br/>
<p>
    <strong>Who Attends:</strong>
</p>
<p>
    -Superintendents
</p>
<p>
    -District Curriculum Directors
</p>
<p>
    -District &amp; School Curriculum &amp; Instructional Designers
</p>
<p>
    -CIOs, CTOs, Directors of Technology
</p>
<p>
    -Instructional Technologists &amp; Tech Administration Specialists
</p>
<p>
    -Professional Development Staff
</p>
<p>
    -Library and Media Specialists
</p>
<p>
    -Principals
</p>
<p>
    -State Department of Education Executives
</p>
<p>
    -School Board Members
</p>
<p>
    <strong>2014 Digital Curriculum Strategy Discussion Meetings</strong>
</p>
<p>
    We work with your district and surrounding schools to invite 7-14 executive rank attendees who are comprised of the leadership of the district, the
    schools, curriculum and instruction, and I.T. We want to keep the meeting highly conversational and “working.” Neighboring districts are also invited.
</p>
<p>
    At the Discussion, a special intro by The Learning Counsel on the state-of-developments in curriculum trends nationally kicks off the day. We’ll give a
    day’s discussion assignment for the executive attendees in the morning for note-taking during the presentations.
</p>
<p>
    For part of the morning and early afternoon, we will have a “provocateur” to lead attendees in discussions with each other and through half-hour
    presentations by several digital curriculum publisher sponsors on topics related to digital curriculum. These presentations get the “wheels turning” for
    what’s current in the industry.
</p>
<p>
    We complete the day with:
</p>
<ol>
    <li>
        <p>
            Executive Workshop:
        </p>
    </li>
</ol>
<p>
    Nearly two hours of group planning to complete an assignment towards building a comprehensive digital curriculum strategy. The Learning Counsel will hand
    out its special template for the executives to use.
</p>
<ol start="2">
    <li>
        <p>
            Executive Panel:
        </p>
    </li>
</ol>
<p>
    A selection of the executives in attendance will be panelists for the final hour to an audience of all other district invitees and vendors.
</p>
<p>
	<a href="/Schedule" class="k-link">ATTEND IN ONE OF THE CITIES</a>	
</p>
<p>
	<a href="/contacts/new" class="k-link">INVITE US TO CREATE AN EVENT IN YOUR CITY</a>	
</p>
<p>
	<a href="/sponsor" class="k-link">SPONSOR</a>	
</p>
<br/>
<p>
<img src="../repository/events-image-2.png" alt="events-image-2.png">
</p>
<br>
<p>
    <strong>2014 DIGITAL CURRICULUM GATHERING </strong>
    <em><strong>for District All-Stars </strong></em>
</p>
<p>
    The Digital Curriculum GATHERING Annual Event is an invitation-only national get-together for District All-Stars.
</p>
<p>
    This special gathering is a day and a half event for curriculum staff, IT directors, instructional technologists, and leaders.
</p>
<ul>
    <li>
        <p>
            Discussions and Data on:
        </p>
        <ul>
            <li>
                <p>
                    Strategy
                </p>
            </li>
            <li>
                <p>
                    Buy vs. Build
                </p>
            </li>
            <li>
                <p>
                    Tech Selection
                </p>
            </li>
            <li>
                <p>
                    Instructional Theory &amp; Practice
                </p>
            </li>
            <li>
                <p>
                    And more.
                </p>
            </li>
        </ul>
    </li>
</ul>
<br>
<p>
	<a href="/EventRegistration" class="k-link">PLAN TO ATTEND</a>	
</p>
<p>
	<a href="/sponsor" class="k-link">SPONSOR</a>	
</p>
<p>
	<a href="/contacts/new" class="k-link">CONTACT US</a>	
</p>
