
<p>
    <strong>WELCOME. </strong>
</p>
<p>
    If you’re involved with digital curriculum, IT or school leadership, we’ll look for you when we’re in a city near you!
</p>
<p>
    As a research institute, we’re interested in what works. Our multi-city tour of small events for educators have workshops, group discussion, and show and
    tell by digital curriculum providers.
</p>
<p>
    In addition, we create on annual invitation-only gathering for executives to hear what’s happening nationally, discuss and plan.
</p>
<p>
    <strong>How will you contribute? </strong>
</p>
<p>
    Just be you. Represent for your school, your interests, and bring your curiosity. A lot is changing with schools as they are implementing digital
    curriculum. There is more sophistication needed beyond what device to select. The world of digital content and curriculum is enormously complex now.
    Therefore, it’s important to bring the curriculum and IT worlds together with district leadership to learn about, and discuss, a complete strategy.
</p>
<p>
    I and my staff host these events which are educational and sponsored by several vendors from the high tech and digital curriculum community. We work with
    our sponsors to prepare them to contribute to the conversation in meaningful ways.
</p>
<p>
    You’ll be surprised at how much you gain from an old-fashioned day of peer discussion.
</p>
<p>
    See you there!
</p>
<p>
    LeiLani Cauthen
</p>
<p>
    CEO and Publisher
</p>
<br/>
<p>
    <strong>Who Attends:</strong>
</p>
<p>
    -District Curriculum Directors
</p>
<p>
    -District &amp; School Curriculum &amp; Instructional Designers
</p>
<p>
    -CIOs, CTOs, Directors of Technology
</p>
<p>
    -Instructional Technologists &amp; Tech Administration Specialists
</p>
<p>
    -Professional Development Staff
</p>
<p>
    -Library and Media Specialists
</p>
<p>
    -Principals
</p>
<p>
    -State Department of Education Executives
</p>
<p>
    -School Board Members
</p>
<p>
    -Superintendents
</p>
<br/>
<p>
    <strong>2014 Digital Curriculum Strategy Workshop Tour</strong>
</p>
<p>
    <a name="_GoBack"></a>
    In each of the following cities, we invite 8-15 executives for a day of discussion, workshop and ½ hour presentations on digital curriculum by publishers.
    A special intro by the Learning Counsel on the state-of-developments in curriculum trends nationally kicks off the day. A workshop on building a digital
    curriculum strategy involves all participants.
</p>
<p>
    CURRENTLY SCHEDULING THESE CITIES FOR 2014
</p>
<ul>
    <li>
        <p>
            Las Vegas, NV
        </p>
    </li>
    <li>
        <p>
            San Antonio, TX .
        </p>
    </li>
    <li>
        <p>
            Albuquerque, NM
        </p>
    </li>
    <li>
        <p>
            Fresno, CA (Central)
        </p>
    </li>
    <li>
        <p>
            Columbus, OH
        </p>
    </li>
    <li>
        <p>
            San Bernardino, CA
        </p>
    </li>
    <li>
        <p>
            Salt Lake City, UT
        </p>
    </li>
    <li>
        <p>
            Milwaukee, MI
        </p>
    </li>
    <li>
        <p>
            Newark, NJ
        </p>
    </li>
    <li>
        <p>
            Tucson/Santa Fe, AZ
        </p>
    </li>
    <li>
        <p>
            Tampa, FL
        </p>
    </li>
    <li>
        <p>
            San Jose, CA
        </p>
    </li>
    <li>
        <p>
            Minneapolis, MN
        </p>
    </li>
    <li>
        <p>
            Sacramento, CA
        </p>
    </li>
    <li>
        <p>
            Honolulu, HI
        </p>
    </li>
    <li>
        <p>
            Nashville, TN
        </p>
    </li>
</ul>
<p>
    <u>ATTEND IN ONE OF THE CITIES</u>
</p>
<p>
    <u>INVITE US TO CREATE AN EVENT IN YOUR CITY</u>
</p>
<p>
    <u>SPONSOR</u>
</p>
<br/>
<p>
    <strong>National</strong>
</p>
<p>
    <strong>2014 DIGITAL CURRICULUM GATHERING </strong>
    <em><strong>for District All-Stars </strong></em>
</p>
<p>
    The Digital Curriculum GATHERING Annual Event is an invitation-only national get-together for District All-Stars.
</p>
<p>
    This year we plan to be in <strong>Charleston, SC</strong> in October.
</p>
<p>
    This special gathering is a day and a half event for curriculum staff, IT directors, instructional technologists, and leaders.
</p>
<ul>
    <li>
        <p>
            Discussions and Data on:
        </p>
    </li>
    <li>
        <p>
            Strategy
        </p>
    </li>
    <li>
        <p>
            Buy vs. Build
        </p>
    </li>
    <li>
        <p>
            Tech Selection
        </p>
    </li>
    <li>
        <p>
            Instructional Theory &amp; Practice
        </p>
    </li>
    <li>
        <p>
            And more.
        </p>
    </li>
</ul>
<p>
    A special excursion will kick-off the first day.
</p>
<p>
    <u>SPONSOR</u>
</p>
<br/>

