
<div class="tabs" id="eventstabs" style="text-align: center;">
	<ul class="tall">
	</ul>
  	<ul class="tall">
	    <li id="tab1">
	    	<a href="/Events" class="tab" onclick="make_active(1);">Events</a>
	    </li>
	</ul>
	<ul class="short"></ul>
	<ul class="tall"> 	   
	    <li id="tab2" >
	    	<a href="/Schedule" class="tab" onclick="make_active(2);">Schedule</a>
	    </li>
	</ul>
	<ul class="short"></ul>
	<ul class="tall"> 	   	    
	    <li id="tab3">
	    	<a href="/SpecialGathering" class="tab" onclick="make_active(3);">Special Gathering</a>
	    </li>
	</ul>
	<ul class="short"></ul>	
	<ul class="tall"> 	   
	    <li id="tab4">
	    	<a href="/EventRegistration" class="tab" onclick="make_active(4);">Register</a>
	    </li>
	</ul>
	<ul class="short"></ul>	
	<ul class="tall"> 	   	    
	    <li id="tab5">
	    	<a href="/InternetSeminars" class="tab" onclick="make_active(5);">Internet Seminars</a>	    	
	    </li>
	</ul>
	<ul class="tall">
</div>

<script>
	
	function make_active(index_tab) {		
		switch (index_tab)
		{
		  case 1:
		  		$("#tab1").addClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");			  		
		  	break;
		  case 2:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").addClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");			  					  
		  	break;
		  case 3:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").addClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 4:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").addClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 5:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").addClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 6:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		///$("#tab6").addClass("active");			  		
		  	break;

		  default:
		  //
		}
	}
	
</script>
