
<div class="tabs">
  <ul>
    <li id="tab1">
    	<a href="/Events" class="tab tab-blue" onclick="make_active(1);">Events</a>
    </li>
    <li id="tab2" >
    	<a href="/Discussions" class="tab tab-blue" onclick="make_active(2);">Discussions</a>
    </li>
    <li id="tab3" >
    	<a href="Gathering" class="tab tab-blue" onclick="make_active(3);">Gathering</a>
    </li>
    <li id="tab4">
    	<a href="EventRegistration" class="tab tab-blue" onclick="make_active(4);">Register</a>
    </li>
    <li id="tab5">
    	<a href="InternetSeminars" class="tab tab-yellow" onclick="make_active(5);">Internet Seminars</a>
    </li>
    <li id="tab6">
    	<a href="SeminarRegistration" class="tab tab-yellow" onclick="make_active(6);">Register</a>
    </li>
  </ul>
</div>

<script>
	
	function make_active(index_tab) {		
		switch (index_tab)
		{
		  case 1:
		  		$("#tab1").addClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		$("#tab6").removeClass("active");			  		
		  	break;
		  case 2:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").addClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		$("#tab6").removeClass("active");			  					  
		  	break;
		  case 3:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").addClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		$("#tab6").removeClass("active");			  		
		  case 4:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").addClass("active");
		  		$("#tab5").removeClass("active");
		  		$("#tab6").removeClass("active");			  		
		  case 5:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").addClass("active");
		  		$("#tab6").removeClass("active");			  		
		  case 6:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").addClass("active");			  		
		  	break;

		  default:
		  //
		}
	}
	
</script>
