                       <div id="productsandservices" class="yuimenubar yuimenubarnav">
                            <div class="bd">
                                <ul class="first-of-type">
                                	
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/home" >Home</a>
                                                    
                                    </li>
                                    
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/about">About</a>
                
                                    </li>
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/blogs">Blogs</a>

                                        <div id="blogs" class="yuimenu">
                                            <div class="bd">
                                                <ul>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog&#176;</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 2</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 3</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 4</a>
                                                    
                                                        <div id="pim1" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 4</a></li>
                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 5</a>
                                                    
                                                        <div id="pim2" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 4</a></li>
                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>  
                                            
                                    </li>                                    
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/news">Industry News</a>
                
                                        <div id="news" class="yuimenu">
                                            <div class="bd">
                                                <ul>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 1&#176;</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 2</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 3</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4</a>
                                                    
                                                        <div id="pim3" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 4</a></li>
                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5</a>
                                                    
                                                        <div id="pim4" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 4</a></li>
                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                          
                                    </li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/services">Services</a>
                
                                    </li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/user_contacts">Contact</a>
                
                                    </li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/access/login">Contact List</a>
                
                                    </li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/access/login">Admin</a>
                
                                    </li>
                                    
                                </ul>            
                            </div>
                        </div>
