<% provide(:title, 'Admin Menu') %>


    <div id="topnav_admin">
      <ul>
        <!-- <li class="active"> -->        	
        <li><%= link_to 'Contact List', list_path %></li>
        <li><%= link_to("Logout  ", :controller => 'admin_users', :action => 'logout' ) %></li>
      </ul>
    </div>
