<% provide(:title, 'Admin Menu') %>

<div id="menu_admin">
  	<h1>| <%= link_to 'Contact List', list_path %> | <%= link_to("Logout  ", :controller => 'admin_users', :action => 'logout' ) %></h1>
</div>
