
<div style="font-family: KlavikaBold; font-size: 22px;">
    Hello.
</div>
<br>
<p>
    Teachers and schools all over the U.S. are experiencing an influx of tablet computers, and many aren’t prepared.
</p>
<p>
    As a research institute, we’re incredibly interested in how schools will be using digital curriculum to achieve their goals.
</p>
<p>
    In 2014 we plan to produce our first Digital Curriculum Strategy Special Report. We’re gathering together all the elements, and interviewing schools on
    best practices. We’re completely fascinated by what we are hearing, and you will be, too. Make sure you’ve signed up to join us and receive our enewsletter
    so you get a copy!
</p>
<p>
    We’ll also be producing a series of papers, catalogs of curriculum for various platforms, and other media on topics we know you’ll find interesting.
</p>
<p>
    What is your school struggling with in the transition to digital curriculum? We want to hear from you!
</p>
