
<p>
    <strong>PROMOTE WITH THE LEARNING COUNSEL!</strong>
</p>
<p>
    <strong>THE LEARNING COUNSEL (The LC)</strong>
is a research institute and new media hub, focused on providing context for the shift in education to digital curriculum. The LC is the future home of    <strong>EdMatchUp</strong>, now in development and slated for late 2014.
</p>
<p>
    EdMatchUp is a social media site with intelligent directory of digital learning curriculum. It matches schools, teachers and students up with digital
    curriculum and shows a “gap analysis” against standards and other functions. Plus a lot of other new things we’re keeping secret for now.
</p>
<p>
    <strong>SERVICES FOR SPONSORS &amp; ADVERTISERS:</strong>
</p>
<ul>
    <li>
        <p>
            Online Advertising
        </p>
    </li>
    <li>
        <p>
            eNewsletter Advertising
        </p>
    </li>
    <li>
        <p>
            Multi-Sponsored Special Reports, Custom Whitepaper &amp; Collateral Publishing
        </p>
    </li>
    <li>
        <p>
            Digital Curriculum Workshop Tour of multiple cities in 2013 -- with Show &amp; Tell Sessions
        </p>
    </li>
    <li>
        <p>
            The Digital Curriculum Gathering Annual National Executive Retreat Event
        </p>
    </li>
    <li>
        <p>
            Professional Speaking
        </p>
    </li>
    <li>
        <p>
            Vendor Advisory &amp; Research
        </p>
    </li>
    <li>
        <p>
            Pre-Sales of higher-value metrics and listings within EdMatchUp to Publishers (basics are all free)
        </p>
    </li>
</ul>
<p>
    <strong>THE MARKET</strong>
</p>
<p>
The digital curriculum market in the U.S. is estimated at <strong>$450 Million in K12 alone</strong> and rising steeply to usurp the entire    <strong>$9 Billion in curriculum materials spend</strong>. By 2016, the potential is estimated at $11.8 Billion.
</p>
<p>
    Growth in the digital curriculum market is flanking the meteoric rise of tablet computers in U.S. schools.
</p>
<p>
    -Los Angeles Unified School District – 680,000 iPads in 2013
</p>
<p>
    -Miami-Dade County School District – 150,000 computing devices in 2013, with plans to go to 354,000
</p>
<p>
    -Chicago Public Schools – 14,000+ iPads in 2012-2013, with plans to go to 400,000
</p>
<p>
    Add in the thousands of other districts with 1-1 or BYOD already in place and the national market for existing computing real estate that digital
    curriculum can attempt to claim is already at 50% of all the students, or <strong>25 Million student seats.</strong>
</p>
<p>
    <strong>Another $9.7 Billion</strong>
    is spent annually on tablets, networks, storage and other non-curriculum technologies and IT staff in K12.
</p>
<p>
    <strong>THE AUDIENCE</strong>
</p>
<p>
    With the shift to teaching and learning digitally, many vendors have noticed that device selection for students is largely driven by the curriculum
    leadership and teachers. In addition, they are the real decision makers for actual curriculum and significant influencers of major systems such as learning
    management systems and student information systems. The Learning Counsel’s audience is made up of the curriculum interests, and includes leaders in the
    technology services such as CIOs and Directors of Technology. Our audience approach starts with digital curriculum as a driver for teaching and learning
    transformation.
</p>
<p>
    <strong>The Learning Counsel reaches an ever-growing </strong>
    <u><strong>hand-selected</strong></u>
    <strong> 20,000 key curriculum buyers and executives in the U.S. national education market including:</strong>
</p>
<p>
    -State Departments of Education
</p>
<p>
    -School Board Members
</p>
<p>
    -Superintendents
</p>
<p>
    -District Curriculum Directors
</p>
<p>
    -District &amp; School Curriculum &amp; Instructional Designers
</p>
<p>
    -Professional Development Staff
</p>
<p>
    -Library and Media Specialists
</p>
<p>
    -CIOs, CTOs, Directors of Technology
</p>
<p>
    -Instructional Technologists &amp; Tech Administration Specialists
</p>
<p>
    -Principals
</p>
<p>
    -Teachers
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>ADVERTISE ONLINE &amp; IN ENEWSLETTERS:</strong>
</p>
<p>
    The Learning Counsel’s website will post advertising in several positions on the site inexpensively. Our bi-monthly outgoing eNewsletter also accepts ad
    slots with a logo+text feature box.
</p>
<p>
    Please contact us for more information and pricing.
</p>
<p>
    <strong>CREATE CLASSY CATALOGS, WHITEPAPERS &amp; COLLATERAL:</strong>
</p>
<p>
Need a riveting marketing piece? Let the LC create something with our <strong>proprietary knowledge base</strong> and<strong> distribute it</strong>. Get a    <strong>HOT IDEA </strong>that will spread like wild fire across the teaching and instructional community, and let us research, interview, write, design,
    custom mail, post online and optimize on the web. Contact us for pricing.
</p>
<br>
<p>
    <img src="../repository/sponsor-5.png" alt="sponsor-5.png" >	
</p>
<br>
<p>
    Contact us today! <a href="mailto:sponsor@learningcounsel.com">sponsor@learningcounsel.com</a>
</p>





<!-- <p>
    <strong>PROMOTE WITH THE LEARNING COUNSEL!</strong>
</p>
<p>
    <strong>THE LEARNING COUNSEL (The LC)</strong>
is a research institute and new media hub, focused on providing context for the shift in education to digital curriculum. The LC is the future home of    <strong>EdMatchUp</strong>, now in development and slated for late 2014.
</p>
<p>
    EdMatchUp is a social media site with intelligent directory of digital learning curriculum. It matches schools, teachers and students up with digital
    curriculum and shows a “gap analysis” against standards and other functions. Plus a lot of other new things we’re keeping secret for now.
</p>
<p>
    <strong>SERVICES FOR SPONSORS &amp; ADVERTISERS:</strong>
</p>
<ul>
    <li>
        <p>
            Online Advertising
        </p>
    </li>
    <li>
        <p>
            eNewsletter Advertising
        </p>
    </li>
    <li>
        <p>
            Multi-Sponsored Special Reports, Custom Whitepaper &amp; Collateral Publishing
        </p>
    </li>
    <li>
        <p>
            Digital Curriculum Workshop Tour of multiple cities in 2013 -- with Show &amp; Tell Sessions
        </p>
    </li>
    <li>
        <p>
            The Digital Curriculum Gathering Annual National Executive Retreat Event
        </p>
    </li>
    <li>
        <p>
            Professional Speaking
        </p>
    </li>
    <li>
        <p>
            Vendor Advisory &amp; Research
        </p>
    </li>
    <li>
        <p>
            Pre-Sales of higher-value metrics and listings within EdMatchUp to Publishers (basics are all free)
        </p>
    </li>
</ul>
<p>
    <strong>THE MARKET</strong>
</p>
<p>
The digital curriculum market in the U.S. is estimated at <strong>$450 Million in K12 alone</strong> and rising steeply to usurp the entire    <strong>$9 Billion in curriculum materials spend</strong>. By 2016, the potential is estimated at $11.8 Billion.
</p>
<p>
    Growth in the digital curriculum market is flanking the meteoric rise of tablet computers in U.S. schools.
</p>
<p>
    -Los Angeles Unified School District – 680,000 iPads in 2013
</p>
<p>
    -Miami-Dade County School District – 150,000 computing devices in 2013, with plans to go to 354,000
</p>
<p>
    -Chicago Public Schools – 14,000+ iPads in 2012-2013, with plans to go to 400,000
</p>
<p>
    Add in the thousands of other districts with 1-1 or BYOD already in place and the national market for existing computing real estate that digital
    curriculum can attempt to claim is already at 50% of all the students, or <strong>25 Million student seats.</strong>
</p>
<p>
    <strong>Another $9.7 Billion</strong>
    is spent annually on tablets, networks, storage and other non-curriculum technologies and IT staff in K12.
</p>
<p>
    <strong>THE AUDIENCE</strong>
</p>
<p>
    <strong>The Learning Counsel reaches an ever-growing </strong>
    <u><strong>hand-selected</strong></u>
    <strong> 20,000 key curriculum buyers and executives in the U.S. national education market including:</strong>
</p>
<p>
    -State Departments of Education
</p>
<p>
    -School Board Members
</p>
<p>
    -Superintendents
</p>
<p>
    -District Curriculum Directors
</p>
<p>
    -District &amp; School Curriculum &amp; Instructional Designers
</p>
<p>
    -Professional Development Staff
</p>
<p>
    -Library and Media Specialists
</p>
<p>
    -CIOs, CTOs, Directors of Technology
</p>
<p>
    -Instructional Technologists &amp; Tech Administration Specialists
</p>
<p>
    -Principals
</p>
<p>
    -Teachers
</p>
<p>
    <img src="../repository/sponsor-1.jpg" alt="sponsor-1.jpg" >	
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>THE MIX:</strong>
</p>
<p>
    <img src="../repository/sponsor-2.jpg" alt="sponsor-2.jpg" >	
</p>
<p>
    <strong>ADVERTISE ONLINE:</strong>
</p>
<p>
    <img src="../repository/sponsor-3.jpg" alt="sponsor-3.jpg" >	
</p>
<p>
    <strong>ADVERTISE in eNEWSLETTERS:</strong>
</p>
<p>
    <img src="../repository/sponsor-4.jpg" alt="sponsor-4.jpg" width="619px" >	
</p>
<p>
    $1,000 per launch bi-weekly.
</p>
<p>
    <em>SPECIAL eNEWSLETTER EVENT 2014:</em>
</p>
<p>
    Annual Awards Nominations &amp; Custom Publication. Call for details!
</p>
<p>
    <strong>CREATE CLASSY CATALOGS, WHITEPAPERS &amp; COLLATERAL:</strong>
</p>
<p>
Need a riveting marketing piece? Let the LC create something with our <strong>proprietary knowledge base</strong> and<strong> distribute it</strong>. Get a    <strong>HOT IDEA </strong>that will spread like wild fire across the teaching and instructional community, and let us research, interview, write, design,
    custom mail, post online and optimize on the web. Papers from $7,500.
</p>
<p>
    <img src="../repository/sponsor-5.png" alt="sponsor-5.png" >	
</p>
<p>
    Contact us today! <a href="mailto:sponsor@learningcounsel.com">sponsor@learningcounsel.com</a>
</p> -->
