<style>
p a:link {color:#41b737;}
p a:visited {color:#41b737;}
#bodykopy p {color:#214025;}
</style>

<p>
    <span class="promote">PROMOTE WITH THE LEARNING COUNSEL</span>
</p>
<p>
    <span style="color:#41b737; font-size: 18px;">THE </span><span style="color: #376340; font-size: 18px;">LEARNING </span><span style="color:#A6A6A6; font-size: 18px;">COUNSEL</span>
is a research institute and new media hub, focused on providing context for the shift in education to digital curriculum. The Learning Counsel is also the future home of KnowStory, now in development and slated for early 2015.
</p>
<p>
    KnowStory is a social media site with intelligent directory of digital learning curriculum. It matches schools, teachers and students up with digital curriculum
and shows a “gap analysis” against standards and other functions. Plus a lot of other new things we’re keeping secret for now.
</p>
<p>
    <span style="color:#41b737; font-size: 18px;">SERVICES FOR SPONSORS &amp; ADVERTISERS:</span>
</p>
<ul style="margin-left: 70px;">
    <li>
        <p>
            Online Advertising
        </p>
    </li>
    <li>
        <p>
            eNewsletter Advertising
        </p>
    </li>
    <li>
        <p>
            Multi-Sponsored Special Reports, Custom Whitepaper &amp; Collateral Publishing
        </p>
    </li>
    <li>
        <p>
            Digital Curriculum Workshop Tour of multiple cities in 2013 -- with Show &amp; Tell Sessions
        </p>
    </li>
    <li>
        <p>
            The Digital Curriculum Gathering Annual National Executive Retreat Event
        </p>
    </li>
    <li>
        <p>
            Professional Speaking
        </p>
    </li>
    <li>
        <p>
            Vendor Advisory &amp; Research
        </p>
    </li>
    <li>
        <p>
            Pre-Sales of higher-value metrics and listings within EdMatchUp to Publishers (basics are all free)
        </p>
    </li>
</ul>




<p>
    <span style="color:#41b737; font-size: 18px;">THE AUDIENCE</span>
</p>
<p>
    The Learning Counsel’s audience is made up of the curriculum interests, and includes leaders in the technology services such as CIOs and Directors of
    Technology.
</p>
<p>
    The Learning Counsel reaches an ever-growing U.S. national education market including:
</p>
<ul style="margin-left: 70px;">
    <li>
<p>
    State Departments of Education
</p>
</li>
<li>
<p>
    School Board Members
</p>
</li>
<li>
<p>
    Superintendents
</p>
</li>
<li>
<p>
    District Curriculum Directors
</p>
</li>
<li>
<p>
    Chief Academic Officers
</p>
</li>
<li>
<p>
    District &amp; School Curriculum &amp; Instructional Designers
</p>
</li>
<li>
<p>
    Professional Development Staff
</p>
</li>
<li>
<p>
    Library and Media Specialists
</p>
</li>
<li>
<p>
    CIOs, CTOs, Directors of Technology
</p>
</li>
<li>
<p>
    Instructional Technologists &amp; Tech Administration Specialists
</p>
</li>
<li>
<p>
    Principals
</p>
</li>
<li>
<p>
    Teachers
</p>
</li>
</ul>

<p>
    <span style="color:#41b737; font-size: 18px;">ADVERTISE ONLINE &amp; IN ENEWSLETTERS:</span>
</p>
<p>
    The Learning Counsel’s website will post advertising in several positions on the site inexpensively. Our bi-monthly outgoing eNewsletter also accepts ad
    slots with a logo+text feature box.
</p>
<p>
    Please contact us for more information and pricing.
</p>
<p>
    <span style="color:#41b737; font-size: 18px;">CREATE CLASSY CATALOGS, WHITEPAPERS &amp; COLLATERAL:</span>
</p>
<p style="float:left; margin-right: 20px;">
    <img src="../repository/sponsor-5.png" alt="sponsor-5.png" >    
</p>
<p>
Need a riveting marketing piece? Let the LC create something with our proprietary knowledge base and distribute
it. Get a HOT IDEA that will spread like wild fire across the teaching and instructional community, and let us
research, interview, write, design, custom mail, post online and optimize on the web. Contact us for pricing.
</p>
<br>

<br>
<p style="clear: both;">
    Contact us today! <a href="mailto:sponsor@learningcounsel.com">sponsor@learningcounsel.com</a>
</p>
