

<br>
<br>
<p>
    <strong>PROMOTE WITH THE LEARNING COUNSEL!</strong>
</p>
<p>
    <strong>THE LEARNING COUNSEL (The LC)</strong>
is a research institute and new media hub, focused on providing context for the shift in education to digital curriculum. The LC is the future home of    <strong>EdMatchUp</strong>, now in development and slated for late 2014.
</p>
<p>
    EdMatchUp is a social media site with intelligent directory of digital learning curriculum. It matches schools, teachers and students up with digital
    curriculum and shows a “gap analysis” against standards and other functions. Plus a lot of other new things we’re keeping secret for now.
</p>
<p>
    <strong>SERVICES FOR SPONSORS &amp; ADVERTISERS:</strong>
</p>
<ul>
    <li>
        <p>
            Online Advertising
        </p>
    </li>
    <li>
        <p>
            eNewsletter Advertising
        </p>
    </li>
    <li>
        <p>
            Multi-Sponsored Special Reports, Custom Whitepaper &amp; Collateral Publishing
        </p>
    </li>
    <li>
        <p>
            Digital Curriculum Workshop Tour of multiple cities in 2013 -- with Show &amp; Tell Sessions
        </p>
    </li>
    <li>
        <p>
            The Digital Curriculum Gathering Annual National Executive Retreat Event
        </p>
    </li>
    <li>
        <p>
            Professional Speaking
        </p>
    </li>
    <li>
        <p>
            Vendor Advisory &amp; Research
        </p>
    </li>
    <li>
        <p>
            Pre-Sales of higher-value metrics and listings within EdMatchUp to Publishers (basics are all free)
        </p>
    </li>
</ul>




<p>
    <strong>THE AUDIENCE</strong>
</p>
<p>
    The Learning Counsel’s audience is made up of the curriculum interests, and includes leaders in the technology services such as CIOs and Directors of
    Technology.
</p>
<p>
    <strong>The Learning Counsel reaches an ever-growing U.S. national education market including:</strong>
</p>
<p>
    -State Departments of Education
</p>
<p>
    -School Board Members
</p>
<p>
    -Superintendents
</p>
<p>
    -District Curriculum Directors
</p>
<p>
    -Chief Academic Officers
</p>
<p>
    -District &amp; School Curriculum &amp; Instructional Designers
</p>
<p>
    -Professional Development Staff
</p>
<p>
    -Library and Media Specialists
</p>
<p>
    -CIOs, CTOs, Directors of Technology
</p>
<p>
    -Instructional Technologists &amp; Tech Administration Specialists
</p>
<p>
    -Principals
</p>
<p>
    -Teachers
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>ADVERTISE ONLINE &amp; IN ENEWSLETTERS:</strong>
</p>
<p>
    The Learning Counsel’s website will post advertising in several positions on the site inexpensively. Our bi-monthly outgoing eNewsletter also accepts ad
    slots with a logo+text feature box.
</p>
<p>
    Please contact us for more information and pricing.
</p>
<p>
    <strong>CREATE CLASSY CATALOGS, WHITEPAPERS &amp; COLLATERAL:</strong>
</p>
<p>
Need a riveting marketing piece? Let the LC create something with our <strong>proprietary knowledge base</strong> and<strong> distribute it</strong>. Get a    <strong>HOT IDEA </strong>that will spread like wild fire across the teaching and instructional community, and let us research, interview, write, design,
    custom mail, post online and optimize on the web. Contact us for pricing.
</p>
<br>
<p>
    <img src="../repository/sponsor-5.png" alt="sponsor-5.png" >	
</p>
<br>
<p>
    Contact us today! <a href="mailto:sponsor@learningcounsel.com">sponsor@learningcounsel.com</a>
</p>
