<!-- START SURVEY CODE -->
<div id="survey-top2">
	<img src="/repository/digital-cur.png" class="digital-cur-img">
</div>

	<div class="mid-bar">Survey Report on the U.S. Transition to Digital Curriculum</div>

	<div class="content">
		<div class="left2">
			<h1 class="green">The Learning Counsel is surveying an invitation-only
audience of senior K12 leadership,
curriculum and technology executives.</h1>

				<p>We asked our readers to answer in-depth questions about:</p>
<ul>
<li><span>Levels of asset purchasing, differentiated for core or
supplemental digital curriculum or content.</span></li>
<li><span>Vendor install, numbers of seats, total spend.</span></li>
<li><span>Policies concerning teacher-created materials.</span></li>
<li><span>Issues preventing adoption or transition.</span></li>
<li><span>Predominant Instructional Design Model.</span></li>
<li><span>Tactics and intentions of strategy.</span></li>
<li><span>Device, storage and network profiles.</span></li>
<li><span>And much more!</span></li>
</ul>

<h1 class="green">The Survey Report</h1>
<p>Survey Report Sponsor benefits include:</p>

<ul>
<li><span>A 20-page Survey Report of our key findings from the survey
and the Learning Counsel’s added analysis.</span></li>
<li><span>Accompanying PowerPoint format that details our findings for
the 40+ survey questions and recommendations.</span></li>
<li><span>Presentation of findings in a conference call. (Additional calls and
in-person presentations are added charges.)</span></li>
</ul>

<h2 class="midgreen">Full Study Sponsor Investment: $6,000</h2>
<p class="indent">Note: If cross-tabulation is required by sponsor, the Learning
Counsel will work with that sponsor to conduct any additional
custom cross-tabulations for an additional $350 per crosstab.
(A cross-tab is when you want one question’s answers
compared against another question’s answers such as the
number who indicated they have provided access to digital
textbook creation tools with those who have indicated “Yes” to
having written policies to inspect flaws on teacher created
materials. Potentially the value would be in seeing if those
creation tools were not accompanied with professional help
and inspection.)</p>

<h2 class="midgreen">4-Page Executive Summary Investment: $1,500</h2>

<ul>
<li><span>A 4-page overall executive summary of our top-line national trends
from the Survey.</span></li>
<li><span>Limited to: Top 3 adoption prevention issues; Ratio of free vs. paid
digital content/curriculum install; Included strategy elements;
Estimated spend per School; Intention of Strategy; Top 10
digital tools provided; Top SIS/LMS; Top learning object vendor; Top
digital curriculum vendor; Number of Apps in use; Device, network
and storage analysis; Top device platform.</span></li>
</ul>
		</div>


		<div class="right2">
			<img src="/repository/umbrella.jpg">

			<p><span class="green">Gather</span> with other education
executives to discuss meaningful
strategy in a time when digital
curriculum of all types is
raining down disruption on
School operations. Step out to
New Orleans to gain needful
perspective with other senior
executives from across the U.S.
also addressing leadership issues,
tech and curriculum complexities
while the nation shifts to digital
content and testing.</p>

	<h2 class="midgreen">the Gathering</h2>
		<h2 class="green">Nov 2-3, Sunday & Monday
							Hosting Hotel:
							Hotel Monteleone
							214 Royal Street
							New Orleans, Lousiana</h2>

	<img class="tlc-logo" src="repository/logo-icon-come-together.png">

		</div>


	</div> <!-- End content-->


<!-- END SURVEY -->
