<style>
p a:link {color:#41b737;}
p a:visited {color:#41b737;}
#bodykopy p {font-size: 20px; color:#376340;}
.talk-here-photo {float: left; margin-bottom: 55px;
    margin-right: 30px;
    width: 350px;}
.talk-here-links {/*clear: both;*/ margin-top:200px;}
.talk-here-links a {border: 1px solid transparent; border-radius: 10px; margin: 20px 0px 10px 25px;}
.arti-link{background: #41b737; color: #fff; padding: 5px 10px;}
.comm-link{background: #376340; color: #fff; padding: 5px 10px;}
.cont-link{background: #a6a6a6; color: #fff; padding: 5px 10px;}
.spon-link{background: #808080; color: #fff; padding: 5px 10px;}
#render_ad .k-img{height: 400px !important; position: absolute; top: 0px; right: 0px;}

.this-column-height {
	height: 2000px;	
}

</style>

<!-- <div class="this-column-height boxtemp-blue"> -->
	<img class="talk-here-photo" src="/repository/talk-here-photo.jpeg" alt="Talk here photo">
	
	<p>
	    We welcome your input.<br/> Become an
	author.<br/> Comment on articles.<br/> Be a sponsor
	or advertise.
	</p>
	<p>
	Click a button below<br/> to share in the
	adventure.
	</p>
	
	<div class="talk-here-links">
	<a class="arti-link" href="/Submit-Article">SUBMIT AN ARTICLE</a>
	<!-- <a class="comm-link" href="/#">COMMENT</a> -->
	<a class="cont-link" href="/ContactUs">CONTACT US</a>
	<a class="spon-link" href="/Sponsor">SPONSOR or ADVERTISE</a>
	</div>
<!-- </div> -->
