
<img class="talk-here-photo" src="/repository/talk-here-photo.jpeg" alt="Talk here photo">

<p class="title-header">
    We welcome your input.<br/> 
    Become an author.<br/>
    Comment on articles.<br/>
    Be a sponsoror advertise.
</p>
<p class="title-header">
	Click a button below<br/>
	to share in the adventure.
</p>
<div class="talk-here-links">
	<a class="arti-link" style="font-size: 12px;" href="/Submit-Article">SUBMIT AN ARTICLE</a>
	<a class="cont-link" style="font-size: 12px;" href="/ContactUs">CONTACT US</a>
	<a class="spon-link" style="font-size: 12px;" href="/Sponsor">SPONSOR or ADVERTISE</a>
</div>

<div class="author-main">
	<h2 class="author-header">FEATURED AUTHORS</h2>
			<div class="a-column-box" style="border-top: 1px solid gray;">
			<img class="auth-pic" src="/repository/events/emily.jpg" alt="Emily Garner Sumner">
			<h3>EMILY GARNER SUMNER</h3>
			<p>She has the pleasure and honor of showcasing the amazing work that educators across the country are doing. As Principal of Underscore Creative, a boutique marketing firm that specializes in working with education businesses, a significant part of Emily’s week is spent talking with educators about the innovative ways they’re using her clients’ products and services to improve learning outcomes for their students. Emily holds a Masters of Library and Information Science from Emporia State University. When she’s not at the office, she loves to read, eat doughnuts and ride her bike up tall mountains. Though rarely all at the same time..</p>
		</div>
		<div class="a-column-box">
			<img style="margin-bottom: 25px;" class="auth-pic" src="/repository/events/jamie.jpg" alt="Jamie McQuiggan">
			<h3>JAMIE MCQUIGGAN</h3>
			<p>Jamie McQuiggan is a technical writer at SAS and co-author of the book “Mobile Learning: A Handbook for Developers, Educators and Learners.” She also co-authored last year’s “Implement, Improve and Expand Your Statewide Longitudinal Data System: Creating a Culture of Data in Education.” </p>
		</div>
		<div class="a-column-box">
			<img class="auth-pic" src="/repository/events/suzi.jpg" alt="Suzi Wilczynski" style="margin-bottom: 40px;">
			<h3>SUZI WILCZYNSKI</h3>
			<p>A former archaeologist and middle school teacher, is the founder and president of Dig-It! Games, an independent developer of interactive educational games for kids. Through a seamless blend of fun and learning, Dig-It! Games believes in the power of games to change the way kids learn.</p>
		</div>
		<div class="a-column-box">
			<img class="auth-pic" src="/repository/vinod.jpg" alt="Vinod Lobo">
			<h3>VINOD LOBO</h3>
			<p>Founder and CEO of Learning Upgrade, which publishes online courses to teach math and reading through songs, video, and games. In 1998, he brought together educators, musicians, artists and programmers to produce innovative, engaging lessons designed to support struggling students in reading and math. Through the incorporation of song, video, games and educational research, Learning Upgrade has helped over 1 million students find a new path to learning success.</p>
		</div>
		<div class="a-column-box" style="margin-bottom: 50px;">
			<img class="auth-pic" src="/repository/events/dennis-p.jpg" alt="Dennis Pierce" style="margin-bottom: 40px;">
			<h3>DENNIS PIERCE</h3>
			<p>The former Editor in Chief of eSchool News, Dennis is now a freelance writer covering education and technology. He has been following the ed-tech space for more than 17 years.</p>
		</div>
</div> <!-- End Author Main -->

