    <div class="fl_left">

	  <div><%= image_tag("image_learning_counsel.png", :alt => '') %></div>
	  
      <!-- <h1><a href="home.html.erb">The Learning Counsel</a></h1>      
      <p>Education starts here</p> -->
            
    </div>
