<% provide(:title, 'Tablets') %>


	<script src="/assets/jquery.min.js"></script>
	<script src="../scripts/jquery-ui.js"></script>				

				
			<div id="tabs">
				<ul>
					<li><a href="#tabs-A" id="tabsA">Tablets</a></li>				
					<li><a href="#tabs-0" id="tabs0">Tablet 0</a></li>				
					<li><a href="#tabs-1" id="tabs1">Tablet 1</a></li>
					<li><a href="#tabs-2" id="tabs2">Tablet 2</a></li>
				</ul>

				<div id="tabs-A">
					<div style="height: 800px;">Admin Tablets</div>	
				</div>			
				<div id="tabs-0">
					<div id="render0"></div>	
				</div>			
				<div id="tabs-1">
					<div id="render1"></div>	
				</div>
				<div id="tabs-2">
					<div id="render2"></div>	
				</div>
			</div>	
			
					
		<script>
			
			$('#tabsA').on('click', function() {
				// alert('tabs1');
			   	//$.get("/tablets", null, null, "script");
			});

			$('#tabs0').on('click', function() {
				// alert('tabs1');
			   $.get("/tablets", null, null, "script");
			});
		
			$('#tabs1').on('click', function() {
				// alert('tabs1');
			   $.get("/tab1lets", null, null, "script");
			});

			$('#tabs2').on('click', function() {
				//alert('tabs3');
			   $.get("/tab2lets", null, null, "script");
			});

			
			
			$(function() {
				$( "#tabs" ).tabs({
					ajaxOptions: { cache: true },
					cache: true,
					beforeLoad: function( event, ui ) {
						ui.ajaxSettings(function() {
						});
						ui.jqXHR.error(function() {
							ui.panel.html(
							"Couldn't load this tab. We'll try to fix this as soon as possible. " +
							"If this wouldn't be a demo." );
						});
					}
				});
				
				// $( "#tabs" ).tabs( "enable", 2 );
				// $( "#tabs" ).tabs( "load", 2 );
				// $('#tabs0').click();
				// $('#tabs1').click();
				// $('#tabs2').click();
				
				$( "#tabs" ).tabs({ active: 0 });
			});			


			// $(window).load( function() {
			// $(document).ready(function(){

			   	// $.get("/tablets0", null, null, "script");
			   	// $.get("/tablets1", null, null, "script");
			   	// $.get("/tablets2", null, null, "script");
			   	// $.get("/tablets3", null, null, "script");
			   	// $.get("/tablets4", null, null, "script");

			// });
			
			

    		// $("#tabs").tabs({ ajaxOptions: { cache: true }, cache: true });

			// $( "#tabs" ).tabs({
				// cache:true,
				// spinner: 'Loading...'
			// });



		// $(document).on('click','#tab1lets th a, #tab1lets .pagination a',function(){
			// alert(this.href);
			// // http://localhost:3000/tab1lets/index?direction=desc&sort=id
		    // $.getScript(this.href);
		    // return false;
		// });



			// $('#tabs2').on('click', function() {
// 				
				// alert('tabs2');
// 				
			   	// $.get("/tab1lets", null, null, "script");
// 		
			// });


			
		</script>
	
