	
<style>
	
	
	#lc-landing {
		
	}	
		
	#lc-landing #page {
	  width: 800px;
	  /*margin-left: 235px;*/
	 	  
	  margin-left: auto;
	  margin-right: auto;
	  
	  
	  /*margin-right: auto;*/  
	  
	}
	
	#lc-landing #subscribe-box  {
	float: right; 
	margin-left: 20px;
	}
	
	#lc-landing #subscribe-box .form {   
		width: 255px;
		height: 289px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		background-color: #eaeaea; /* layer fill content */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}
	
	#lc-landing #subscribe-box .label { 
		height: 35px;
	    width: 240px;
		background-color: #414141; /* layer fill content */
		-moz-border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		}
	
	#lc-landing #subscribe-box h3 {  
		color: #ebeff1; /* text color */
		/*KlavikaMedium*/
		font-family: KlavikaMedium;
		/*font-family: "Quattrocento Sans", sans-serif;*/
		font-size: 15px;
		margin:0;
		padding-left: 15px;
	    padding-top: 15px;
		}
	#lc-landing #subscribe-box img {
	  float:left;
	  position: relative;
	  left: 116px;
	}
	
	
	
	/*#lc-landing .services-ov {
	    background-clip: padding-box;
	    background-color: #999999;
	    border: 1px solid #999999;
	    border-radius: 4px 4px 4px 4px;
	    height: 22px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	    width: 200px;
	}
	
	#lc-landing .services-ov a:link {
	    color: #F2F2F2;
	    font-family: "Quattrocento Sans",sans-serif;
	    font-size: 13px;
	    padding: 0 8px 8px 7px;
	    text-decoration: none;
	}*/
	
	
	
	#lc-landing .services-ov {
	    background-clip: padding-box;
		
		
	  width: 232px;
		height: 22px;
		border: 1px solid #999;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #999;
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	}
	
	#lc-landing .services-ov a:link {
	    /*padding: 0 8px 8px 7px;*/
	   	
		color: #f2f2f2;
		font-family: "Quattrocento Sans", sans-serif;
		font-size: 13px;
		text-decoration: none;
		padding: 2px 2px 3px;	
		position: abolute;
		margin-left: 8px;
	}
	
	
	
	
	.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
	.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
		-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
	.services-ov a:visited {color: #f2f2f2; text-decoration: none;}
	
	#lc-landing p {
		color: #333;
		/*font-family: "Quattrocento";*/
		font-family: KlavikaLight;
		font-size: 13px;
		width: 800px;
		line-height: 1.2em;	
	  	font-size: 1.15em;
		
		}
	
	#lc-landing a {
		color: #C4740C;
		}
	
	#lc-landing .table p {
		color: #333;
		/*font-family: "Quattrocento";*/
		font-family: KlavikaLight;
		font-size: 13px;
		/*width: 400px;*/
		line-height: 1.2em;	
	  	font-size: 1.15em;
		}
	
	#lc-landing ul li {
		color: #000;
		font-family: KlavikaMedium;
		/*font-family: "Quattrocento";*/	
		font-size: 16px;
		margin-left: 30px;
		font-weight: 600;
		line-height: 1.2em;		
		}
		
	#lc-landing .page-title {
	  font-size: 35px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .page-title-centered {
	  font-size: 40px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .center {
		text-align: center;
		margin-right: 17%;
	}
	
	#lc-landing .sub-title {
	  font-size: 30px;
	  color: #34633A;
	  margin-left: auto;
	  margin-right: auto;
	  /*width: 500px;*/  
	  width: 470px;
	  
	}
	
	#lc-landing .green-this {
	    color: #41b737;
		font-style: bold;
		}
		
	#lc-landing .bold-close {	
		color: #34633a;
		size: 22px;
		font-weight: bold;
		}
	
	
	#lc-landing #bottom-graphic img {
	  bottom: 220px;
	  position: relative;
	  float:left;
	}
	
	/*#lc-landing .box-row {*/	
	.lc-landing-box-row {
	  background: url(../repository/lc-boxes.png) white repeat-x;
	  height: 59px;
	  margin-left: 440px;
	  margin-top: 30px;
	}
	
	.spacer {
		height: 20px;
	}
			
	#lc-landing table tr td {
		vertical-align: top;
	}			
	
	.city-color {
		color: #1B237A;	
	}
	
</style>	
	

<!-- <script type='text/javascript' src='../scripts/jquery.min.js'></script>		 -->


<%= render 'share/backtotop' %>



<div id="lc-landing">
		
<!-- <div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div> -->

	
<div id="page">

<img src="../repository/events/main-discussions-banner.png" alt="main-discussions-banner.png" width="800px">

<div class="spacer"></div>
<div class="spacer"></div>

<table width="800px" style="font-size:1.15em;">
	<tr>
		<td style="width: 150px;">Feb. 27</td>
		<td class="city-color" style="width: 200px">Columbia, SC</td>
		<td style="width: 500px">Columbia Marriott, 1200 Hampton Street,<br>Columbia, SC, 29201-2826 (803) 771-7000</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>March 17</td>
		<td class="city-color">Fresno (Central), CA</td>
		<td>Radisson Hotel Fresno 2233 Ventura St,<br>Fresno, CA, 93721 ‎(866) 539-8430</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>April 10</td>
		<td class="city-color">Houston, TX</td>
		<td>TBD</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>April 15</td>
		<td class="city-color">Chicago, IL</td>
		<td>Forest View Education Center<br>Township High School District 214<br>2121 S. Goebbert Road<br>Arlington Heights, IL 60005</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>April 23</td>
		<td class="city-color">San Bernardino, CA</td>
		<td>On Campus - TBD</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>May 6</td>
		<td class="city-color">Richmond, VA</td>
		<td>TBD</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>June TBD</td>
		<td class="city-color">Minneapolis, MN</td>
		<td>TBD</td>
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>June TBD</td>
		<td class="city-color">Detroit, MI</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Sept. TBD</td>
		<td class="city-color">Denver, CO</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Sept. TBD</td>
		<td class="city-color">Dallas, TX</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Sept. TBD</td>
		<td class="city-color">Newark, NJ</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Sept. TBD</td>
		<td class="city-color">San Jose, CA</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Oct. TBD</td>
		<td class="city-color">Las Vegas, NV</td>
		<td>TBD</td>		
	</tr>
	<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<tr>
		<td>Oct. TBD</td>
		<td class="city-color">Tampa, FL</td>
		<td>TBD</td>		
	</tr>
</table>

<div style="height: 20px;"></div>

<div class="spacer"></div>

<p>
    <strong>We’ve invited executives from local districts and schools to attend the full day.  
    	<span style="color: blue;">Attendance is</span><span style="color: green;"> Free </span><span style="color: blue;">to educators. Attendance is</span><span style="color: green;"> FREE</span><span style="color: blue;">to District Executives</span>: </strong>
</p>

<div class="spacer"></div>

<table width="500" style="font-size:1.15em;">

<tr><td>&ndash;School Board Members</td></tr>
<tr><td>&ndash;Superintendents</td></tr>
<tr><td>&ndash;Principals</td></tr>
<tr><td>&ndash;Chief Academic Officers</td></tr>
<tr><td>&ndash;District Curriculum Directors</td></tr>
<tr><td>&ndash;District &amp; School Curriculum &amp; Instructional Designers</td></tr>
<tr><td>&ndash;Professional Development Directors</td></tr>
<tr><td>&ndash;CIOs, CTOs, Directors of Technology</td></tr>
<tr><td>&ndash;Instructional Technologists</td></tr>
<tr><td>&ndash;Library and Media Specialists</td></tr>

</table>

<div class="spacer"></div>
<div class="spacer"></div>

<p>
    <strong>Discussion Agenda – 8:30am – 3:30pm</strong>
</p>

<div class="spacer"></div>

<div>
	<p><img src="../repository/events/david-small.png" alt="david-small.png" align="left" width="140px" style="margin-right: 10px;">
	<em>Host:</em>  David Kafitz, VP School Relations, The Learning Counsel</br>
	Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum with complementary personnel and IT strategy.  Former Superintendent, Watauga County Schools, Boone, NC, and former Director Technology Services, Union County Public Schools.</p>  
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div>
	<p><img src="../repository/events/lani-small.jpg" alt="lani-small.jpg" align="left" width="140px" style="margin-right: 10px;">
	Digital Curriculum Trends Speaker:  LeiLani Cauthen, CEO & Publisher, The Learning Counsel</br>
	A Research Publisher and Media personality for 10 years, LeiLani will share the trends in schools for digital curriculum, insight into the future, and best practices.</p>  
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<p>
    &ndash;<strong> Special presentation </strong>by The Learning Counsel on the state-of-developments in curriculum trends nationally.
</p>

<div class="spacer"></div>

<p>
	&ndash; A professional “provocateur” to lead attendees in discussions with each other and through    <strong>half-hour presentations by several digital curriculum publishers</strong> on topics related to digital curriculum, tablets and mobility,
    educational games, and analytics. These presentations get the “wheels turning” for what’s industry current.
</p>

<div class="spacer"></div>

<p>
    &ndash; A special template and discussion time <strong>building a comprehensive digital curriculum strategy. </strong>
</p>

<div class="spacer"></div>

<p>
	Complimentary Continental Breakfast, Snack Breaks, Lunch, and Reception.
</p>

<div class="spacer"></div>

<p>
    &ndash; 4pm<strong> Local Executive Panel </strong>to brief the industry and additional district staff. Schools are invited to send additional interested teachers and other administration executives to hear the panel from 4-5pm, which is usually good timing post the school day.  Non-sponsoring companies may pay to send attendees to the Panel and Reception.
</p>

<div class="spacer"></div>

<p>
    &ndash; 5&ndash;6:30 pm<strong> Reception </strong>for one and all!
</p>


<div class="spacer"></div>
<div class="spacer"></div>

<p>
    <strong style="color: #96328E">SPONSORS (As of January 20, 2014)</strong>
</p>

<div class="spacer"></div>
<div class="spacer"></div>

<table>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 36px;">
			<img src="../logosponsor/edgenuity-360w.png" alt="edgenuity-360w.png">
		</td>
		<td style="width: 360px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/beyond-360w.png" alt="beyond-360w.png">
		</td>
	</tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/promethean-360w.png" alt="promethean-360w.png">
		</td>
		<td style="width: 360px; height: 160px; padding-top: 30px;">
			<img src="../logosponsor/tmo-magenta-blk-360w.png" alt="tmo-magenta-blk-360w.png">			
		</td>
	</tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/ixl-learning-360w.png" alt="ixl-learning-360w.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			
		</td>
	</tr>
</table>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<p>
	<a href="/Schedule" class="k-link"><strong>ATTEND IN ONE OF THE CITIES</strong></a>	
</p>

<div class="spacer"></div>

<p>
	<a href="/contacts/new" class="k-link"><strong>INVITE US TO CREATE AN EVENT IN YOUR CITY</strong></a>	
</p>



</div>


</div>

<!-- <div style="height: 70px;"></div> -->

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="lc-landing-box-row"></div>
</div>

<div style="clear: both;"></div>


