<% provide(:title, 'Digital Curriculum Strategy Discussions') %>

					
		<style type="text/css">
		
			/*@font-face {
			  	font-family: 'Vollkorn';
			  	font-style: italic;
			  	font-weight: 400;				
			  	font-family: 'Vollkorn-Italic';
			  	src: url('/assets/Vollkorn-Italic.ttf') format('truetype');
			  	src: url('/assets/Vollkorn-BoldItalic.ttf') format('truetype');			  	
			  	src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url('/assets/vollkorn-italic.woff') format('woff');			  
			}*/
											
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
												
		</style>
							
	
	<!-- <#%= stylesheet_link_tag "schedule", media: "all", "data-turbolinks-track" => false %#> -->
	<!-- <script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script> -->


<style>
	
	
	
	#lc-landing #bottom-graphic-2 img {
	  bottom: 180px;
	  position: relative;
	  float:left;
	}
	
	.lc-landing-box-row-2 {
	  background: url(../repository/lc-boxes.png) white repeat-x;
	  height: 59px;
	  margin-left: 440px;
	  margin-top: -208px;
	  margin-bottom: 160px;
	}

	
	
</style>

<style>
        .leader-title {color:gray; font-size: 52px;}
        .main-left {border-bottom: none; border-right: 2px solid #376340;}
        
		
</style>

<ul class="lc-inline" style="width: 1200px; margin: 0 auto; padding-right: 20px; vertical-align: top;">
<li style="margin: 0 auto; padding-right: 20px; vertical-align: top; display: inline-block;">
	<%= render 'share/eventpages_tabs' %>
</li>
<li style="margin: 0 auto; padding-right: 20px; vertical-align: top; display: inline-block;">
	
<div id="tab-container">

			
			<div class="kontainer">
				
			<img class="head-banner" src="/repository/schedule/large-header.jpeg" alt="Schedule Banner">
				<!-- Main content on left here -->
				<div class="main-left">
					<h1 class="leader-title">Leadership Solutions</h1>
					<p>The Learning Counsel specializes in leading the leaders, providing perspective and organizational tools on the transition to digital. The 2014 event tour was truly magical, drawing 2-4 times the audience size originally planned and causing the Learning Counsel community to expand to 48,000+ along the way. The unique help provided drew two states to offer support for the events with continuing education credits for attending executives.</p>	

					<h3 style="margin: 20px 0; color: #41b737; font-size: 22px;">Why Attend?</h3>
					<p>Tons of organizations focus on professional development for teachers, but what about professional development for organizations? For Leaders?</p>
					<br/>
					<p>We’ve said it before and we will say it again, schools are in the eye of a “perfect storm” of transitioning to digital curriculum. Strategy, and not mere tactics, is so important.</p>
					<br/>
					<p>As a leader, you should attend:</p>
					<br/>
					<div style="width: 610px; padding-left: 40px;">
						<ul>
							<li><span>To network with peers.</span></li>
							<li><span>To learn about, see and discuss the digital transition.</span></li>
							<li><span>To be a part of this “living tour” crisscrossing the United States bringing best practices information from other parts of the country.</span></li>
							<li><span>To build your school or district into a model of digital transition, going from strategy to tactics to sustainability to design to experience -- the path the Learning Counsel is helping schools go down and learn from each other about.</span></li>
							<li><span>To make sure your school or district is not left behind.</span></li>
						</ul>
					</div>

					<p>In 2014 we started with discussions with some short discussions about using an administrative scale to lead forth, and how to use that. We learned a lot about what was in place in schools for leadership and what was missing. We also built a digital curriculum strategy model architecture, whose pieces were taken from the ongoing conversations city-by-city. For 2015, we will continue this “living tour,” learning and sharing with all.</p><br/>

					<p>Equity in education is a very important consideration, and the expectation by most parents and students today is digital.</p><br/>

					<p>The very real storm of change includes the fact that the traditional mode of curriculum acquisition has fractured as the industry has built up from a handful of major publishers to thousands in a few short years. By survey, teachers are spending upwards of five hours a week just trying to find content to fit the additional changes in standards and testing. In the meantime, technology and digital content collections are advancing at a rapid rate into realms that individual teachers can’t hope to keep up with.</p><br/>

					<p>It’s time to talk about this – and lead.</p><br/>

					<p>The Digital Curriculum Strategy Discussion meetings bring together interested district executives to discuss real strategy points, tactics and more.</p><br/>

					<p>Highlights of a Digital Curriculum Strategy Discussion meeting include:</p>
					<br/>

					<div style="width: 610px; padding-left: 40px;">
						<ul>
							<li><span>Local education executives lead some of the sessions and participate on the panel.</span></li>
							<li><span>Special presentation by the Learning Counsel on the state-of-developments in curriculum trends nationally.</span></li>
							<li><span>Several group exercises to sharpen your wits and leadership skills.</span></li>
							<li><span>A professionally-led discussion through each educator presentation and publisher’s “show & discuss” interludes.</span></li>
							<li><span>Dedicated time for building and honing strategy to bring it up to date – with Q&A and sharing time.</span></li>
							<li><span>Complimentary Continental Breakfast, Snack Breaks, and Lunch.</span></li>
						</ul>
					</div>
					
					<h3 style="margin: 20px 0; color: #41b737; font-size: 22px;">Who Attends?</h3>
							<div style="width: 390px; padding-left: 40px;">
									<ul>
										<li><span>School Board Members</span></li>
										<li><span>Superintendents</span></li>
										<li><span>Principals</span></li>
										<li><span>Chief Academic Officers</span></li>
										<li><span>District Curriculum Directors</span></li>
										<li><span>District & School Curriculum & Instructional Designers</span></li>
										<li><span>Professional Development Directors</span></li>
										<li><span>CIOs, CTOs, Directors of Technology</span></li>
										<li><span>Instructional Technologists</span></li>
										<li><span>Library and Media Specialists</span></li>
									</ul>
								</div>
<style>
.agenda-box table td {min-width: 130px;}
.lightgreen {font-size: 20px; margin-left: 15px;}
.gray {text-align: right; margin: 10px 0 30px 0;}

.main-left p, .side-bar-right p, .main-left ul li {font-family: Arial; font-size: 17px;}
.leader-title  {font-family: Arial;}
.agenda-box h3 {font-family: Arial;}
</style>
					<div class="agenda-box">
						<h3 class="center-h3">2015 Agenda</h3>

					<table>
						<tr>
							<td style="vertical-align: top;">7:30 a.m.</td>
							
							<td style="vertical-align: top;">Breakfast & Welcome Introductions</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">8:00—9:00</td>
							
							<td style="vertical-align: top;">Learning Counsel 2015 Market Briefing & 1st Exercise</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">9:00—9:20</td>
							
							<td style="vertical-align: top;">Show & Discuss</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">9:20—9:50</td>
							
							<td style="vertical-align: top;">Workshop 1 - Goals & Policies</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">9:50—10:10</td>
							
							<td style="vertical-align: top;">Show & Discuss</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">10:10—10:25</td>
							
							<td style="vertical-align: top;">15-Minute Break</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">10:25—10:55</td>
							
							<td style="vertical-align: top;">Workshop 2 - Standards & Inventory</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">10:55—11:15</td>
							
							<td style="vertical-align: top;">Show & Discuss</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">11:15—11:35</td>
							
							<td style="vertical-align: top;">2nd Exercise</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">11:35—11:55</td>
							
							<td style="vertical-align: top;">Show & Discuss</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">11:55—12:40</td>
							
							<td style="vertical-align: top;">LUNCH</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">12:40—1:00p.m. </td>
							
							<td style="vertical-align: top;">Show & Discuss</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">1:00—2:00</td>
							
							<td style="vertical-align: top;">Workshop Whole Group Discussion - Future Direction, Leadership, & the Digital Curriculum Strategy Model Architecture</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">2:00—3:00</td>
							
							<td style="vertical-align: top;">Local Executive Panel Guests</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">3:00—4:00</td>
							
							<td style="vertical-align: top;">Networking</td>
						</tr>
						<tr>
						<td></td><td></td></tr>
					</table>

					</div>

					<a href="/EventRegistration" class="kso"><h2>ATTEND IN ONE OF THE CITIES</h2></a>
					
					<!-- Commented out 1 Dec 14
					<div class="green-box">
						<h2>DIGITAL CURRICULUM STRATEGY DISCUSSIONS</h2>
						

						<h3 style="margin-top: 35px; font-size: 24px;">2015 Events</h3>

					<table class="table-2"> <tr>
<td>Jan. 14th</td><td>Phoenix, AZ</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Jan. 27th</td><td>Seattle, WA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Feb. 10th</td><td>Atlanta, GA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Feb. 19th</td><td>Denver, CO</td><td>Education Digital Transition | Flipped Conference</td>
</tr><tr>
<td>Mar. 4th</td><td>Fresno, CA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Mar. 11th</td><td>Minneapolis, MN</td><td>Digital Curriculum Strategy Discussion within MASA/MASE Spring Conf.</td>
</tr><tr>
<td>Mar. 24th</td><td>Los Angeles, CA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Apr. 16th</td><td>Charlotte, NC</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Apr. 23rd</td><td>Chicago, IL</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Apr. 29th</td><td>Houston, TX</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>May 14th</td><td>Richmond, VA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>May TBD</td><td>Memphis, TN</td><td>Education Digital Transition | Flipped Conference</td>
</tr><tr>
<td>Sept. 19th</td><td>Dallas, TX</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Sept. 17th</td><td>Tampa, FL</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Sept. 23rd</td><td>Newark, NJ</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Sept. 30th</td><td>San Jose, CA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Oct. 7th</td><td>Kansas City, MO (IA, NE, KS)</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Oct. 15th</td><td>Boston, MA</td><td>Digital Curriculum Strategy Discussion</td>
</tr><tr>
<td>Oct. 26th-27th</td><td>Albuquerque, NM</td><td>National Gathering</td>
</tr>
					</table>
						<div style="height: 14px;"></div>
					</div> -->

					<!--<a href="/EventRegistration" class="kso"><h2>ATTEND IN ONE OF THE CITIES</h2></a>
					<a href="/ContactUs" class="kso"><h2 style="margin-bottom: 50px;">INVITE US TO CREATE AN EVENT</h2></a>-->

				</div>


				<!-- Side bare here -->
				<div class="side-bar-right">
					<br/>
					<a href="/archives/2015-Discussions-Launch-Seattle"><img alt="Seattle Discussion Video" src="/event_news_images/seattle-vid-img.png"></a>
					<!-- Was: <img alt="Santa Clara" src="/repository/schedule/santa-clara-group.jpeg">-->
					<p class="lightgreen">“Thank you very much for inviting and including me yesterday. I found the day to be a great use of my time, and look forward to more work together in the future.”</p>
					<p class="gray">Brian Gatens, Superintendent,<br/>
					Emerson School District, NJ</p><br/>
					<br/>
					<img alt="Dallas" src="/repository/schedule/dallas-two-women.jpg">
					<p class="lightgreen">“I just want to thank you for this workbook! This is really going to help our district.”</p>
					<p class="gray">Karla Burkholder,<br/> Director of Instructional Technology,<br/> Northwest ISD, TX</p><br/>
					<br/>
					<img alt="Beatriz" src="/repository/schedule/beatriz-talking.jpeg">
					<br/>
					<br/>
					<img alt="Newark Group" src="/repository/schedule/newark-group1.jpeg">
					<p class="lightgreen">"People were interested and excited about the information.”</p>
					<p class="gray">Beatriz Arnillas, Senior Manager IT,<br/>
					Instructional Manager, Houston ISD, TX</p><br/>
					<br/>
					<img alt="Dallas Panel" src="/repository/schedule/dallas-panel.jpeg">
					<br/><br/>
					<img alt="Newark" src="/repository/schedule/newark-28.jpeg">
					<br/><br/>
					<img alt="Dallas" src="/repository/schedule/dallas-17.jpeg">
					<br/><br/>
		
					
				</div>


			</div>
			
		<!-- </section> -->
		
	<!-- </div> -->
		

<div style="height: 50px;"></div>

</div>

</li>

</ul>

	
<div id="bottom-graphic-2">
<img src="../repository/lc-box-cloud.png"/>
<div class="lc-landing-box-row-2"></div>
</div>

<div style="clear: both;"></div>



<script>

		var offset_top = 0;
		jQuery(window).scroll(function() {
			offset_top = $(window).scrollTop()
			$('#eventstabs').css('top', offset_top);
		});

		function resizeArea(){

			var txtarea_id = "";
			var lines = 0;
			var txtarea;
			var hght = 0;
			for( i=1; i<= gon.cnt; i++) {
				txtarea_id = "#txtarea_" + i;
				if ( !($.isEmptyObject($(txtarea_id).val().match(/\n/g))) ) {
					lines = $(txtarea_id).val().match(/\n/g).length + 1;
				}
				else {
					lines = 1;
				}
				
				switch(lines)
				{
				case 1:
					hght = 26;	  
				  break;
				case 2:
					hght = 54;	  
				  break;
				case 3:
					hght = 82;	  
				  break;
				case 4:
					hght = 110;	  
				  break;
				case 5:
					hght = 138;	  
				  break;

				default:
					hght = 166;
				}				

				$(txtarea_id).css({
					height : hght
				})			
				
				//alert("hght = " + hght);
			}
		}
	
	
		$(window).load( function() {
		//$(document).ready(function(){

			$("#tab6").addClass("active");

			
			// var s = "txtarea_<#%= i %#>"
			// <#% i = 0 %#>
			// <#% @reg_event_itins.each do |reg_event_itin| %#>
				// <#% i = i + 1 %#>
				// s = "#txtarea_<#%= i %#>";
				// $(s).elastic();			
			// <#% end %#>
			
			
			resizeArea();
			// alert(gon.cnt);
			
			// $("#txtarea_5").val().match(/\n/g).length
			// alert($("#txtarea_5").val().match(/\n/g).length + 1);			
			
		});
	
</script>
		

