
	<!-- <link rel="stylesheet" type="text/css" href="../styles/jquery-custom-tabs.css"/> -->
	
		
<style>
	
	@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
	
	#lc-landing {
		
	}	
		
	#lc-landing #page {
	  width: 800px;
	  /*margin-left: 235px;*/
	 	  
	  margin-left: auto;
	  margin-right: auto;
	  
	  
	  /*margin-right: auto;*/  
	  
	}
	
	#lc-landing #subscribe-box  {
	float: right; 
	margin-left: 20px;
	}
	
	#lc-landing #subscribe-box .form {   
		width: 255px;
		height: 289px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		background-color: #eaeaea; /* layer fill content */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}
	
	#lc-landing #subscribe-box .label { 
		height: 35px;
	    width: 240px;
		background-color: #414141; /* layer fill content */
		-moz-border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		}
	
	#lc-landing #subscribe-box h3 {  
		color: #ebeff1; /* text color */
		/*KlavikaMedium*/
		font-family: KlavikaMedium;
		/*font-family: "Quattrocento Sans", sans-serif;*/
		font-size: 15px;
		margin:0;
		padding-left: 15px;
	    padding-top: 15px;
		}
	#lc-landing #subscribe-box img {
	  float:left;
	  position: relative;
	  left: 116px;
	}
	
	
	
	/*#lc-landing .services-ov {
	    background-clip: padding-box;
	    background-color: #999999;
	    border: 1px solid #999999;
	    border-radius: 4px 4px 4px 4px;
	    height: 22px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	    width: 200px;
	}
	
	#lc-landing .services-ov a:link {
	    color: #F2F2F2;
	    font-family: "Quattrocento Sans",sans-serif;
	    font-size: 13px;
	    padding: 0 8px 8px 7px;
	    text-decoration: none;
	}*/
	
	
	
	#lc-landing .services-ov {
	    background-clip: padding-box;
		
		
	  width: 232px;
		height: 22px;
		border: 1px solid #999;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #999;
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	}
	
	#lc-landing .services-ov a:link {
	    /*padding: 0 8px 8px 7px;*/
	   	
		color: #f2f2f2;
		font-family: "Quattrocento Sans", sans-serif;
		font-size: 13px;
		text-decoration: none;
		padding: 2px 2px 3px;	
		position: abolute;
		margin-left: 8px;
	}
	
	
	
	
	.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
	.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
		-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
	.services-ov a:visited {color: #f2f2f2; text-decoration: none;}
	
	#lc-landing p {
		color: #333;
		/*font-family: "Quattrocento";*/
		/*font-family: KlavikaLight;*/
		font-family: 'Quattrocento Sans', sans-serif;		
		font-size: 13px;
		width: 800px;
		line-height: 1.2em;	
	  	font-size: 1.15em;
		}
	
	#lc-landing a {
		color: #C4740C;
		}
	
	#lc-landing .table p {
		color: #333;
		/*font-family: "Quattrocento";*/
		font-family: KlavikaLight;
		font-size: 13px;
		/*width: 400px;*/
		line-height: 1.2em;	
	  	font-size: 1.15em;
		}
	
	#lc-landing ul li {
		color: #333;
		
		/*font-family: msyhb;*/
		
		/*font-family: KlavikaMedium;*/		
		font-family: "Quattrocento";	
		font-size: 16px;
		margin-left: 30px;
		font-weight: 400;
		line-height: 1.2em;		
		}
			
	#lc-landing .page-title {
	  font-size: 35px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .page-title-centered {
	  font-size: 40px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .center {
		text-align: center;
		margin-right: 17%;
	}
	
	#lc-landing .sub-title {
	  font-size: 30px;
	  color: #34633A;
	  margin-left: auto;
	  margin-right: auto;
	  /*width: 500px;*/  
	  width: 470px;
	  
	}
	
	#lc-landing .green-this {
	    color: #41b737;
		font-style: bold;
		}
		
	#lc-landing .bold-close {	
		color: #34633a;
		size: 22px;
		font-weight: bold;
		}
	
	
	#lc-landing #bottom-graphic img {
	  bottom: 220px;
	  position: relative;
	  float:left;
	}
	
	/*#lc-landing .box-row {*/	
	.lc-landing-box-row {
	  background: url(../repository/lc-boxes.png) white repeat-x;
	  height: 59px;
	  margin-left: 440px;
	  margin-top: 30px;
	}
	
	.spacer {
		height: 20px;
	}
			
	#lc-landing table tr td {
		vertical-align: top;
	}			
	
	.city-color {
		color: #1B237A;	
	}
	
</style>	
	


<%= render 'share/backtotop_2' %>


<ul class="lc-inline" style="width: 1200px; margin: 0 auto; padding-right: 20px; vertical-align: top;">
<li style="margin: 0 auto; padding-right: 20px; vertical-align: top; display: inline-block;">
	<%= render 'share/eventpages_tabs' %>
</li>
<li style="margin: 0 auto; padding-right: 20px; vertical-align: top; display: inline-block;">

	
<div id="tab-container">

<div id="lc-landing">
		
<div id="page">

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<p><span style="color: #3D3D3D; font-family: 'Quattrocento Sans', sans-serif; font-size: 40px; font-weight: bold;">
	The Learning Counsel Internet Seminars	
</p></span>

<div class="spacer"></div>
<div class="spacer"></div>

<span style="color: #3D3D3D; font-family: 'Quattrocento Sans', sans-serif; font-size: 26px; font-weight: bold;">UPCOMING EVENTS</span>

<div class="spacer"></div>
<div class="spacer"></div>

<div style="width: 100%; height: 370px; border-top: 2px solid #000; border-bottom: 2px solid #000;">
	
<img src="../repository/events/little-girl-w400-h267.png" alt="little-girl-w400-h267.png" width="400px">

<div class="spacer"></div>

<ul>
	<li>
		<span>Stay tuned to email announcements for upcoming events.</span>
		<!-- <span>February 19th &ndash; 2014 Market Briefing: Digital Curriculum & Devices, 11am PST / 1pm CST/ 2pm EST</span> -->
	</li>
</ul>

<p>
	<a href="/SeminarRegistration" class="k-link"><strong>Click here to Register</strong></a>	
</p>

</div>

<div class="spacer"></div>
<div class="spacer"></div>

<span style="color: #3D3D3D; font-family: 'Quattrocento Sans', sans-serif; font-size: 26px; font-weight: bold;">PAST EVENTS</span>

<div class="spacer"></div>

<ul>
	<li>
		<span>VIEW RECORDING - February 19th – 2014 Market Briefing: Digital Curriculum & Devices, 11am PST / 1pm CST/ 2pm EST   -- Our apologies 
			for a couple of sound and technical slows during this event, while even so unprecedented demand for review of our data has prompted us to 
			put the recording up as is and as soon as possible.</span>
	</li>
</ul>


<!-- <p><strong>Sign up to attend</strong> an upcoming Internet seminar with The Learning Counsel for an update 
	on the size of the IT spend in the K12 and Higher Education markets, the spend on digital curriculum versus 
	traditional instructional materials and a discussion of trends.
</p> -->


<div class="spacer"></div>


		<!-- width="525" 
		height="325" -->

<iframe title="YouTube video player" 
		width="800"
		height="495" 
		src="http://www.youtube.com/embed/QyQZwP0jYl0?wmode=transparent" 
		frameborder="0" 
		allowfullscreen>
</iframe>

<!-- http://youtu.be/QyQZwP0jYl0 -->
<!-- http://www.youtube.com/watch?v=QyQZwP0jYl0&feature=youtu.be -->

	
<div class="spacer"></div>
<div class="spacer"></div>

<!-- <div id="render_links"></div>
<script type="text/javascript" src="../journalscripts/links.js"></script> --> 

	   	<style type="text/css">
	    	.social-button-container {
	            background-color: #DCE3DD;
	            width: 132px;
	            height: 63px;
	        }
	        .social-button {
	        	text-align: left;
	        	display: inline;
	        }
			.IN-widget {
				position: relative;
				left: 70px;
				top: -65px;
			}	        
	    </style>
	  	<div class="social-button-container">
	        <div class="social-button">
				<a 	id="btn-twitter"
					href="https://twitter.com/share" 
					class="twitter-share-button" 
					data-lang="en"
					data-url=""
					data-text=""
					data-count="vertical"
					>Tweet
				</a>
			</div>                
	        <div>
				<script type="IN/Share" data-counter="top">
				</script>
			</div>                
	  	</div>
		<script>
			!function(d,s,id) {
				var js,fjs=d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)) {
					js=d.createElement(s);
					js.id=id;
					js.src="https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document,"script","twitter-wjs");
			var datatext = document.getElementById("desc").innerHTML + "\n";
			var dataurl = document.URL;				
			document.getElementById("btn-twitter").setAttribute("data-text", datatext);
			document.getElementById("btn-twitter").setAttribute("data-url", dataurl);
		</script>			 						
		<script src="//platform.linkedin.com/in.js" type="text/javascript">
		 lang: en_US
		</script>	


<div class="spacer"></div>


<!-- <p>
	<a href="/SeminarRegistration" class="k-link"><strong>Click here to Register</strong></a>	
</p> -->

</div>


</div>

<div style="height: 100px;"></div>


</div>

</li>

</ul>

	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="lc-landing-box-row"></div>
</div>

<div style="clear: both;"></div>


<script>
		
		var offset_top = 0;
		jQuery(window).scroll(function() {
			offset_top = $(window).scrollTop()
			$('#eventstabs').css('top', offset_top);
		});

		$(window).load( function() {
		//$(document).ready(function(){
			$("#tab5").addClass("active");
		});
		
	
</script>

