@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: local('Acme'), local('Acme-Regular'), url(http://themes.googleusercontent.com/static/fonts/acme/v2/-nVwQJDyFoBcrvpER8f-lA.woff) format('woff');
}
