<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"  
 "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
 
 <meta http-equiv="Content-Type"  
 content="text/html; charset=utf-8"> 

<title>Email Landing Page | The Learning Counsel</title>
<link rel="stylesheet" href="landing-style.css" type="text/css" media="screen" />
</head> 


<body> -->

	
<style>
	
	
#lc-landing {
}	
	
#lc-landing #page {
  width:750px;
  margin-left: 435px;
  
  
  /*margin-right: auto;*/  
  
}

#lc-landing #subscribe-box  {
float: right; 
margin-left: 20px;
}

#lc-landing #subscribe-box .form {   
	width: 255px;
	height: 289px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #eaeaea; /* layer fill content */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
}

#lc-landing #subscribe-box .label { 
	height: 35px;
    width: 240px;
	background-color: #414141; /* layer fill content */
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}

#lc-landing #subscribe-box h3 {  
	color: #ebeff1; /* text color */
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 15px;
	margin:0;
	padding-left: 15px;
    padding-top: 15px;
	}
#lc-landing #subscribe-box img {
  float:left;
  position: relative;
  left: 116px;
}
#lc-landing .services-ov {
  width: 232px;
	height: 22px;
	border: 1px solid #999; /* stroke */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #999; /* layer fill content */
	margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#lc-landing .services-ov a:link {color: #f2f2f2; /* text color */
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 13px;
	text-decoration: none;
	padding: 2px 2px 3px;	
	position: abolute;
	margin-left: 8px;
}
.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
	-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
.services-ov a:visited {color: #f2f2f2; text-decoration: none;}

#lc-landing p {
	color: #333;
	font-family: "Quattrocento";
	font-size: 15px;
	width: 600px;
	line-height: 1.2em;	
  	font-size: 1.15em;
	
	}

#lc-landing ul li {
	color: #000;
	font-family: "Quattrocento";
	font-size: 16px;
	margin-left: 30px;
	font-weight: 600;
	}
	
#lc-landing .page-title {
  font-size: 35px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

#lc-landing .sub-title {
  font-size: 30px;
  color: #34633A;
  margin-left: auto;
  margin-right: auto;
  /*width: 500px;*/  
  width: 470px;
  
}

#lc-landing .green-this {
    color: #41b737;
	font-style: bold;
	}
	
#lc-landing .bold-close {	
	color: #34633a;
	size: 22px;
	font-weight: bold;
	}


#lc-landing #bottom-graphic img {
  bottom: 220px;
  position: relative;
  float:left;
}

#lc-landing .box-row {
  background: url(../repository/lc-boxes.png) white repeat-x;
  height: 59px;
  margin-left: 440px;
  margin-top: 30px;
}

.spacer {
	height: 20px;
}
	
</style>	
	

<div id="lc-landing">
	
<div class="spacer"></div>
<div class="spacer"></div>
	
<div id="page">

<!--<div id="title">-->
<h1 class="page-title">Introducing - <span class="green-this">the Learning Counsel</span></h1>
<h2 class="sub-title">Helping you Sell to Schools in 2014</h2>


<div id="subscribe-box">
	
<div class="spacer"></div>
	
<h3 class="label">Subscribe for Exclusive Access</h3>

<img src="../repository/subscribe-box-triangle.png">

<div class="form">
	
	<%= render 'landings/mailchimp_form'%>
	
</div>
<div class="services-ov">
	<a href="#" >Download our Services Overview</a>
</div>
</div>


<div class="spacer"></div>

<!--</div>-->
<p>The biggest tech sales opportunity in 2014 is the <span class="green-this">emerging digital curriculum market.</span> Decisions to meet Standards and new Testing requirements and the choice of curriculum will be influencing all other tech purchasing.</p> 
 
<p><span class="green-this">How big is the Digital Curriculum Market in the U.S.?</span> Already $901 Million in K12 and $104 M in Higher Ed, but rising steeply to usurp the $22.2 Billion curriculum resources market – and influence the other $24.8 Billion in regular tech spend.<p> 
 
<p>Sell and promote through <span class="green-this">the Learning Counsel</span> in 2014 to reach budget authorities in schools who are influencing:</p>

<div class="spacer"></div>

<ul>
<li>Digital curriculum</li>
<li>Testing & Assessment technology</li>
<li>Learning management systems</li>
<li>Student information systems</li>
<li>Massive device purchases</li>
<li>Digital Storage & Cloud</li>
<li>Networks</li>
<li>Telecom</li>
<li>Security and access</li>
<li>and all manner of classroom devices</li>
</ul>

<div class="spacer"></div>
 
<p><span class="green-this">The Learning Counsel</span> is advancing new leadership around Digital Curriculum Strategy. We’re presenting <span class="green-this">a series of one-day events in 14 cities in 2014</span> as schools’ device conversations turn to digital curriculum concerns. These “discussion” meetings are already attracting the attention of <span class="green-this">Superintendents, Chief Academic Officers, Curriculum Directors, CIOs, CTOs, Directors of Technology, Instructional Technologists and Media/Library experts.</span></p> 
 
<p><span class="green-this">YOU CAN SPONSOR</span> our events, whitepapers, reports, research and online advertising. Sign up for exclusive access so you don’t miss out on the best promotion you could ever do!</p> 
 
<p>Cities planned: Charleston/Columbia, SC; Houston, TX; Albuquerque, NM; Fresno, (Central CA); Chicago, IL (Naperville); San Bernardino, (Southern CA – Valley); Richmond, VA; Minneapolis, MN; Milwaukee, WI or Detroit, MI; Las Vegas, NV;  San Jose, (North Coast CA); Newark, NJ; Tucson/Santa Fe, AZ; Tampa, FL.</p> 
 
<p><span class="green-this">YOU CAN ATTEND</span> our events even without sponsorship for just the final hour of the day and reception for a small fee. Sponsors have panel leadership roles or “show & discuss” sessions during the day, and get to sit in on the workshop discussion with real live Superintendents and other top curriculum and tech execs in a small meeting-style event.</p>   
 
<div>
<p>You can also attend our upcoming market trend briefing via a limited attendance Join.Me meeting coming soon.</p>

<p class="bold-close">These opportunities and exclusive inside information are available to our email subscribers only.</p>
</div>
</div>

<!-- <div style="height: 70px;"></div> -->

	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="box-row"></div>
</div>

</div>
<div style="clear: both;"></div>







<!-- </body>

</html> -->