<h1>user_publishers index</h1>

<div class="wrapper row3">
  <div id="container" class="clear">

	<div>
		<%= link_to "Return to Home", home_path %>
	</div>
	<br />
	<div>      <!-- redirect_to(:controller => 'controller', :action => 'show') -->

		<%= link_to "Publisher Login", access_publisher_login_path %>
	</div>
	<br />
	<div>
		<%= link_to "Publisher Create Account", user_publishers_new_path %>
	</div>
	
  </div>
</div>
