<% provide(:title, 'About') %>

<h1>About us</h1>

<div>
	<table>
		<tr>
			<td>
				<p>This site is under developement for</p>
			</td>
			<td width="10"></td>			
			<td>
				<h1>The Learning Counsel</h1>				
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<p>The site is written in Ruby on Rails</p>
			</td>
			<td width="10"></td>
			<td>
				<%= image_tag('rails-black-large-2.jpeg') %>
				<img src="/images/rails-black-large-2.jpeg" />				
			</td>
		</tr>
		<tr>			
			<td>
				<p>Database powered by PostgreSQL</p>
			</td>
			<td width="50"></td>			
			<td>
				<%= image_tag('black-locomotive.jpeg') %>
				<img src="/images/black-locomotive.jpeg" />
			</td>									
		</tr>	
	</table>
</div>
