<% provide(:title, 'About') %>

<h1>About us</h1>



<div id="main-nav" class="yui3-u"><nav>
    <ul class="nav hoverable-group">
        
            <li class="nav-tab hoverable ">
                <a href="/">Home</a>
                
            </li>
        
            <li class="nav-tab hoverable ">
                <a href="/yui/quick-start/">Quick Start</a>
                
                    <ul class="nav-submenu">
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/configurator/">Configurator</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/download/yui3/">Download YUI 3</a>
                                
                            </li>
                        
                    </ul>
                
            </li>
        
            <li class="nav-tab hoverable  nav-tab-active">
                <a href="/yui/docs/">Documentation</a>
                
                    <ul class="nav-submenu">
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/docs/guides/">User Guides</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/docs/examples/">Examples</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/docs/api/">API Docs</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/environments/">Environments</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/docs/tutorials/">Tutorials</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/yui/docs/tutorials/faq/">FAQ</a>
                                
                            </li>
                        
                    </ul>
                
            </li>
        
            <li class="nav-tab hoverable nav-break">
                <a href="/community/">Community</a>
                
                    <ul class="nav-submenu">
                        
                            <li class="nav-child ">
                                
                                    <a href="/gallery/">Gallery</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yuiblog.com/">Blog</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/forum/">Forums</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/theater/">YUI Theater</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="https://github.com/yui/yui3/wiki/Development-Schedule" target="_blank" title="External link">Calendar &#187;</a>
                                
                            </li>
                        
                    </ul>
                
            </li>
        
            <li class="nav-tab hoverable ">
                <a href="/contribute/">Contribute</a>
                
                    <ul class="nav-submenu">
                        
                            <li class="nav-child ">
                                
                                    <a href="https://github.com/yui/" target="_blank" title="External link">YUI on GitHub &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yui3/newticket/">File a Ticket</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yui3/report/">View Tickets</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yui3/dashboard/">Dashboard</a>
                                
                            </li>
                        
                    </ul>
                
            </li>
        
            <li class="nav-tab hoverable ">
                <a href="/projects/">Other Projects</a>
                
                    <ul class="nav-submenu">
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/shifter/" target="_blank" title="External link">Shifter &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/yogi/" target="_blank" title="External link">Yogi &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yui2/">YUI 2</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/yuidoc/" target="_blank" title="External link">YUI Doc &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yuitest/">YUI Test</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/yuilibrary/">YUI Website</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/yuicompressor/" target="_blank" title="External link">YUI Compressor &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://github.com/yui/builder" target="_blank" title="External link">YUI Builder &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="/projects/phploader/">YUI PHP Loader</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/gridbuilder/" target="_blank" title="External link">Grid Builder &#187;</a>
                                
                            </li>
                        
                            <li class="nav-child ">
                                
                                    <a href="http://yui.github.com/skinbuilder/" target="_blank" title="External link">Skin Builder &#187;</a>
                                
                            </li>
                        
                    </ul>
                
            </li>
        
    </ul>
</nav>
</div>













<div>
	<table>
		<tr>
			<td>
				<p>This site is under developement for</p>
			</td>
			<td width="10"></td>			
			<td>
				<h1>The Learning Counsel</h1>				
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<p>The site is written in Ruby on Rails</p>
			</td>
			<td width="10"></td>
			<td>
				<%= image_tag('rails-black-large-2.jpeg') %>
				<img src="/images/rails-black-large-2.jpeg" />				
			</td>
		</tr>
		<tr>			
			<td>
				<p>Database powered by PostgreSQL</p>
			</td>
			<td width="50"></td>			
			<td>
				<%= image_tag('black-locomotive.jpeg') %>
				<img src="/images/black-locomotive.jpeg" />
			</td>									
		</tr>	
	</table>
</div>
