<% provide(:title, 'Blogs') %>

<h1>Blogs</h1>

            <div id="hd">
                    <h1>Wanted Teacher Features of the 22nd Century</h1>
            </div>
            
            <div id="bd">

                <!-- start: primary column from outer template -->
                <div id="yui-main">
                    <div class="yui-b">
                        <!-- start: stack grids here -->
                        
                        <p id="note"><strong>NOTE:</strong> <em>by LeiLani Cauthen, The Learning Counsel -- Sept 2013</em></p>

                        <p>
							My dad was a teacher that taught high school English, history, ran the photography class, and coached basketball.  It was a pretty small school district and teachers were multi-taskers.   He would be the first to question an educational system that, for sake of efficiency, used more technology and fewer teachers. He would question such a reality because he was a real master of his flock of students.  He was well beyond a guide and source of information, he was an entertainer and challenger-of-minds.  It is my experience that such a teacher is not every teacher.  Far from it, and yet we’re set up as a nation with a system of education that would have every teacher be that ideal.   In this year 2012, we should consider how we feel about a profession that would demand such a high level of art from more than 3 million people.  That’s a tremendous pool of would-be talent and incredibly expensive.  Just do the math for the median salary at $49,228 (http://www.teacherportal.com/teacher-salaries-by-state/ ) and 3 Million Teachers – that’s $150 Billion.  Add in the phenomenal benefits packages, and … 
							Well, you have the idea.                         	
                        </p>
                        <p>
                        	The fact is, while hard to admit, we have never really had a gifted and brilliant teacher for every classroom.  We have had mediocrity and sometimes even abject failures for teachers.  Unlike in business, the kids don’t ask for a refund.  They just move on, or fail on, without recourse.  
                        </p>
                        <p>
                        	Since technology makes it possible for truly engaging, remedial, personalized and fully vetted materials, and the prospect of lectures by the best being reused innumerable times, education is at a new crossroads of potential. What if you could supplement mediocrity with some phenomenal YouTube lectures? Or set the smartest kids off on an online curriculum that runs them right up to college credit-level work? 
                        </p>
						<p>
							The leaders of the education sector need to consider some new teacher-features.     Teacher Features for the 22nd Century? 
						</p>
						<p>
							1)     High tolerance of change.  The supersonic growth of world knowledge makes for a nearly overwhelming amount of change constantly, new possible materials, and views.  Rather than compete with this reality, adapt. 
						</p>
						<p>
							2)     Willingness to value other’s competence in subjects.  There is no need to have a viewpoint of being in competition with the internet, hordes of highly trained curriculum developers and researchers, and as a teacher be the “source of all knowledge” ourself on any subject.  Being the “sage on the stage” is a favored position by many teachers but is really best channeled into being a really great facilitator. 
						</p>
						<p>
							3)     Delight in personalization.  Hard to do without digital content and curriculum, but so very possible with it. 
						</p>
						<p>
							4)     Be supremely organized.  Whether managing a large class or group, or just managing deep personalization for one student, being organized and aware of digital resources , projects, and cognizant of the time involved in any one assigned task is a new skill set required in the digital age.  
						</p>
						<p>
							5)     Possibly be “placeless.”  Imagine a class with no physical classroom or building, and managing a group and individual students anyway.  Online teaching skills are much discussed these days. 
						</p>
						<p>
							6)     And many more… While there are many more, all of those listed here are merely points of discussion.  Differingrealities exist in different schools.  Send in your own comments on needed teacher features for the 22nd Century.  
						</p>
						<p>
							***
						</p>

                        <form name="example">
                            <select name="test">
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>                                
                            </select>
                        </form>

                        <!-- end: stack grids here -->
                    </div>
                </div>
                <!-- end: primary column from outer template -->

                <!-- start: secondary column from outer template -->
                <div class="yui-b">
					<table>
						<tr>
							<td>
								<%= image_tag('image_keep_calm.jpeg', :size => '150x152') %>
							</td>
						</tr>
					</table>
					
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sit amet metus. Nunc quam elit, posuere nec, auctor in, rhoncus quis, dui. Aliquam erat volutpat.
                </div>
                <!-- end: secondary column from outer template -->
            </div>
            
            
            
