<% provide(:title, 'Services') %>

<h1>Services</h1>

<div>
	<table>
		<tr>
			<td width="200"></td>
			<td>
				<%= image_tag('image_student_2.jpeg') %>
				<img src="/images/image_student_2.jpeg" />				
			</td>
			<td width="200"></td>
			<td>
				<%= image_tag('ruby-black-mounted.jpeg') %>
				<img src="/images/ruby-black-mounted.jpeg" />				
			</td>			
		</tr>
		<tr>
			<td width="200"></td>
			<td>
				<%= image_tag('image_coming_soon.png') %>
				<img src="/images/image_coming_soon.png" />				
			</td>
			<td width="200"></td>
			<td>
				<%= image_tag('ruby-cat.jpeg') %>
				<img src="/images/ruby-cat.jpeg" />				
			</td>						
		</tr>		
	</table>
</div>
