<% provide(:title, 'Publishers Home') %>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">
			
					<div class="line-space-20"></div>
			
					<div style="text-align: left;">
						<span class="normal pad-left-20">My Home</span>
					</div>
					
					<div class="line-space-20"></div>

					<div id="render"></div>		
								
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>								
			</div>
		</div>
	</div>

	<script>
	  
		$(window).load( function() {
		//$(document).ready(function () {				
	
				var cnt = 1;
				var cells = "";
				
				// alert(gon.image_name);
	
				if (gon.image_name !== '') {								
					cells += "</td><td style='width: 10px;'></td><td><img src='../images_publisher/" + gon.image_name + "' alt='image'>";
					var tbl = "<table><tr>" + cells + "</tr></table>";
					$( "#render" ).html( tbl);
				}
				else {
					var tbl = "<table><tr><td><span class='normal-red pad-left-20'>No photo</span><td></tr></table>";
					$( "#render" ).html( tbl);				
				}
		});
	  
	</script>		
