<% @title = "user_contacts show" %>

<h1>user_contacts show template</h1>

<div class="contact show">
  <h2><p>Your message</p></h2>
  
  <table>
    <tr>
      <td><%= @user_contact.message %></td>
      <td class="actions">
        <%= link_to('Edit', {:action => 'edit', :id => @user_contact.id}, :class => 'action edit') %>
      </td>
    </tr>
  </table>

</div>
