<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"  
 "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
 
 <meta http-equiv="Content-Type"  
 content="text/html; charset=utf-8"> 

<title>Email Landing Page | The Learning Counsel</title>
<link rel="stylesheet" href="landing-style.css" type="text/css" media="screen" />
</head> 


<body> -->

	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>
	
<style>
	
	
#lc-landing {
}	
	
#lc-landing #page {
  width:750px;
  margin-left: 435px;
  
  
  /*margin-right: auto;*/  
  
}

#lc-landing #subscribe-box  {
float: right; 
margin-left: 20px;
}

#lc-landing #subscribe-box .form {   
	width: 255px;
	height: 289px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #eaeaea; /* layer fill content */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
}

#lc-landing #subscribe-box .label { 
	height: 35px;
    width: 240px;
	background-color: #414141; /* layer fill content */
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}

#lc-landing #subscribe-box h3 {  
	color: #ebeff1; /* text color */
	/*KlavikaMedium*/
	font-family: KlavikaMedium;
	/*font-family: "Quattrocento Sans", sans-serif;*/
	font-size: 15px;
	margin:0;
	padding-left: 15px;
    padding-top: 15px;
	}
#lc-landing #subscribe-box img {
  float:left;
  position: relative;
  left: 116px;
}



/*#lc-landing .services-ov {
    background-clip: padding-box;
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
}

#lc-landing .services-ov a:link {
    color: #F2F2F2;
    font-family: "Quattrocento Sans",sans-serif;
    font-size: 13px;
    padding: 0 8px 8px 7px;
    text-decoration: none;
}*/



#lc-landing .services-ov {
    background-clip: padding-box;
	
	
  width: 232px;
	height: 22px;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #999;
	margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#lc-landing .services-ov a:link {
    /*padding: 0 8px 8px 7px;*/
   	
	color: #f2f2f2;
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 13px;
	text-decoration: none;
	padding: 2px 2px 3px;	
	position: abolute;
	margin-left: 8px;
}




.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
	-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
	box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
.services-ov a:visited {color: #f2f2f2; text-decoration: none;}

#lc-landing p {
	color: #333;
	/*font-family: "Quattrocento";*/
	font-family: KlavikaLight;
	font-size: 13px;
	width: 400px;
	line-height: 1.2em;	
  	font-size: 1.15em;
	
	}

#lc-landing a {
	color: #C4740C;
	}

#lc-landing .table p {
	color: #333;
	/*font-family: "Quattrocento";*/
	font-family: KlavikaLight;
	font-size: 13px;
	/*width: 400px;*/
	line-height: 1.2em;	
  	font-size: 1.15em;
	}

#lc-landing ul li {
	color: #000;
	font-family: KlavikaMedium;
	/*font-family: "Quattrocento";*/	
	font-size: 16px;
	margin-left: 30px;
	font-weight: 600;
	line-height: 1.2em;		
	}
	
#lc-landing .page-title {
  font-size: 35px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

#lc-landing .page-title-centered {
  font-size: 40px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

#lc-landing .center {
	text-align: center;
	margin-right: 17%;
}

#lc-landing .sub-title {
  font-size: 30px;
  color: #34633A;
  margin-left: auto;
  margin-right: auto;
  /*width: 500px;*/  
  width: 470px;
  
}

#lc-landing .green-this {
    color: #41b737;
	font-style: bold;
	}
	
#lc-landing .bold-close {	
	color: #34633a;
	size: 22px;
	font-weight: bold;
	}


#lc-landing #bottom-graphic img {
  bottom: 220px;
  position: relative;
  float:left;
}

#lc-landing .box-row {
  background: url(../repository/lc-boxes.png) white repeat-x;
  height: 59px;
  margin-left: 440px;
  margin-top: 30px;
}

.spacer {
	height: 20px;
}
		
	
</style>	
	

<script type='text/javascript' src='../scripts/jquery.min.js'></script>		

<%= render 'share/backtotop' %>



<div id="lc-landing">
		
	
<div class="spacer"></div>
	
<div id="page">

<img src="../repository/events-intervening-logo-bar.png" alt="events-intervening-logo-bar.png">

<img src="../repository/logo-icon-come-together.png" alt="logo-icon-come-together.png">

<div class="spacer"></div>

<div class="center">
<h1 class="page-title-centered">Digital Curriculum</h1>
<h1 class="page-title-centered">Strategy Discussions</h1>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<img src="../repository/landing-conference.jpg" alt="landing-conference.jpg" >

<div class="spacer"></div>
<div class="spacer"></div>

<p>
	<span class="green-this" style="font-family: KlavikaMedium; font-size: 20px;">Do you have a digital curriculum strategy yet?</span>
</p>

<div class="spacer"></div>

<p>
Note: some cities are awaiting final venue selection and date agreement with local district executives.<br>    
<a href="/EventRegistration"  style="font-weight: 600;">Click to Register</a>:
</p>

<div class="spacer"></div>

<!--									
Columbia, SC – Feb 27, 2014
Fresno, CA (Central Valley) – March 17, 2014  
Chicago, IL –April 15, 2014
Houston, TX – April 10, 2014 (tentative)
San Bernardino, CA (Southern Valley Schools)– April 24th, 2014 (tentative)
Richmond, VA – May 6, 2014
Minneapolis, MN – June TBD
Detroit, MI – June TBD
Denver, CO – Sept. TBD
Dallas, TX – Sept. TBD        
Newark, NJ – Sept. TBD                          
San Jose, CA (Silicon Valley Schools) – Sept. TBD    
Las Vegas – Oct. TBD           
Tampa, FL – Oct. TBD
National “the Gathering” Event – New Orleans, Nov 3-4, 2014
-->

<table width="430" style="font-size:1.15em;">
	<tr><td style="width: 50px">Feb. 27</td><td style="width: 100px">Columbia, SC</td></tr>
	<tr><td>March 17</td><td>Fresno (Central), CA</td></tr>
	<tr><td>April 15</td><td>Chicago, IL</td></tr>
	<tr><td>April 10</td><td>Houston, TX</td></tr>
	<tr><td>April 24</td><td>San Bernardino, CA</td></tr>
	<tr><td>May 6</td><td>Richmond, VA</td></tr>
	<tr><td>June TBD</td><td>Minneapolis, MN</td></tr>
	<tr><td>June TBD</td><td>Detroit, MI</td></tr>
	<tr><td>Sept. TBD</td><td>Denver, CO</td></tr>
	<tr><td>Sept. TBD</td><td>Dallas, TX</td></tr>
	<tr><td>Sept. TBD</td><td>Newark, NJ</td></tr>
	<tr><td>Sept. TBD</td><td>San Jose, CA</td></tr>
	<tr><td>Oct. TBD</td><td>Las Vegas, NV</td></tr>
	<tr><td>Oct. TBD</td><td>Tampa, FL</td></tr>
</table>
<div style="height: 20px;"></div>
<table width="430" style="font-size:1.15em;">
	<tr>
		<td>National "the Gathering" Event</td>
	</tr>
</table>
<table width="430" style="font-size:1.15em;">
	<tr>
		<td style="width: 50px">Nov 3-4</td>
		<td style="width: 100px">New Orleans</td>
	</tr>
</table>

    <!-- Columbia, SC – Feb 27, 2014
    Houston, TX – March 4, 2014
    Albuquerque, NM – March TBD
    Fresno, CA (Central) – March TBD
    Chicago, IL –April 15, 2014
    San Bernardino, CA –April TBD
    Richmond, VA – May TBD
    Minneapolis, MN – June TBD
    Detroit, MI – June TBD
    Las Vegas – Sept. TBD
    San Jose, CA – Sept. TBD
    Newark, NJ – Sept. TBD
    Tucson/Santa Fe, AZ – Oct. TBD
    Tampa, FL – Oct. TBD -->


<div class="spacer"></div>

<p>
    <strong>Attendance is FREE to District Executives: </strong>
</p>

<div class="spacer"></div>

<table width="500" style="font-size:1.15em;">

<tr><td>&ndash;School Board Members</td></tr>
<tr><td>&ndash;Superintendents</td></tr>
<tr><td>&ndash;Principals</td></tr>
<tr><td>&ndash;Chief Academic Officers</td></tr>
<tr><td>&ndash;District Curriculum Directors</td></tr>
<tr><td>&ndash;District &amp; School Curriculum &amp; Instructional Designers</td></tr>
<tr><td>&ndash;Professional Development Directors</td></tr>
<tr><td>&ndash;CIOs, CTOs, Directors of Technology</td></tr>
<tr><td>&ndash;Instructional Technologists</td></tr>
<tr><td>&ndash;Library and Media Specialists</td></tr>

</table>





<!--
-School Board Members
-Superintendents
-Principals
-Chief Academic Officers
-District Curriculum Directors
-District &amp; School Curriculum &amp; Instructional Designers
-Professional Development Directors
-CIOs, CTOs, Directors of Technology
-Instructional Technologists
-Library and Media Specialists
-->

<div class="spacer"></div>

<p>
    <strong>The Agenda – 8:30am – 6:30pm</strong>
</p>

<div class="spacer"></div>

<p>
    -<strong>Special presentation</strong> by The Learning Counsel on the state-of-developments in curriculum trends nationally.
</p>

<div class="spacer"></div>

<p>
-A professional “provocateur” to lead attendees in discussions with each other and through    <strong>half-hour presentations by several digital curriculum publishers</strong> on topics related to digital curriculum, tablets and mobility,
    educational games, and analytics. These presentations get the “wheels turning” for what’s industry current.
</p>

<div class="spacer"></div>

<p>
    -A special template and discussion time <strong>building a comprehensive digital curriculum strategy. </strong>
</p>

<div class="spacer"></div>

<p>
    -<strong>Local Executive Panel</strong> to brief the industry and additional district staff in the afternoon.
</p>

<div class="spacer"></div>

<p>
    -Schools are invited to send interested teachers and other administration executives to hear the panel from 4-5pm, which is usually good timing post the
    school day.
</p>

<div class="spacer"></div>

<p>
    -5-6:30 pm <strong>evening reception</strong> for one and all!
</p>
<p>
    Complimentary Continental Breakfast, Snack Breaks, Lunch, and Reception.
</p>

<div class="spacer"></div>
<div class="spacer"></div>


<p>
    <strong>SPONSORS (As of December 2013)</strong>
</p>

<div class="spacer"></div>
<div class="spacer"></div>

<p>
<img src="../logosponsor/edgenuity-360w.png" alt="edgenuity-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/beyond-360w.png" alt="beyond-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/promethean-360w.png" alt="promethean-360w.png">
</p>

<div class="spacer"></div>

<p>
<img src="../logosponsor/tmo-magenta-blk-360w.png" alt="tmo-magenta-blk-360w.png">
</p>

<div class="spacer"></div>
<div class="spacer"></div>


</div>



<!-- <div style="height: 70px;"></div> -->

	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="box-row"></div>
</div>

</div>
<div style="clear: both;"></div>


