
	<style>

		.contact-wrapper {
			text-align: left;
		}	
    	.contact-header {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 22px;
    		color: black;
    	}
    	
    	.contact-message {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 14px;
    		color: black;    		
    	}
		.contact-green {
			color: #003D05;
		}
	
	</style>

	<div class="contact-wrapper">
		<span class="contact-header contact-green">
		    Your message was sent.
		</span>
		<br>
		<br>
		<span class="contact-message">
		    Please await a prompt reply. 
		</span>
	</div>
