<% provide(:title, 'Contacts List') %>

<h1>Contacts</h1>

<%= will_paginate %>

<ul class="users">
  <%#= render @contacts %>
  
 <% @contacts.each do |contact| %>
    <li>
      <%#= gravatar_for user, size: 52 %>
      <%#= link_to user.name, user %>
      <%= link_to contact.name, contact %>
      
    </li>
  <% end %>  
  
</ul>

<%= will_paginate %>
