
<div>
	<div style="font-family: KlavikaBold; font-size: 22px;">
	    Email Preferences failed to save.
	</div>
	<br>
	<p>
	    We are very sorry. For a technical reason, your Email Preferences were not saved.
	</p>
	<p>
	    This matter is very important to us. Please call us or leave a message.
	</p>
	<p>
		<a href="/ContactUs" style="font-family: klavikaBold; color: #000;">Contact Us</a>
	</p>
</div>