
<div>
	<div style="font-family: KlavikaBold; font-size: 22px;">
	    Registration failed
	</div>
	<br>
	<p>
	    We are very sorry. For some reason, your registration was not saved.
	</p>
	<p>
	    You are welcome to try again, but the best way is to contact us directly.
	</p>
	<p>
	    Your registration is very important to us. Please call us or leave a message.
	</p>
	<p>
		<a href="/contacts/new" style="font-family: klavikaBold; color: #000;">Contact Us</a>
	</p>
</div>