


	<style>

		.success-saved {
			text-align: left; 
			margin-left: 50px;
		}

		.success-saved .success-title {
			font-family: KlavikaBold; font-size: 22px;
		}	
		.success-saved p {
			font-family: KlavikaMedium;
			font-size: 20px;
		}	
		.success-saved ul li {
			font-family: KlavikaMedium;
			font-size: 20px;			
		}					
		.k-link {
			color: #C4740C;
			font-size: 20px;
			font-family: KlavikaMedium;		
		}
		
	</style>


	<div class="success-saved">
		<div class="success-title">
		    Your registration is saved.
		</div>
		<br>
		<p>
		    Thank you. An email confirmation has been sent. 
		</p>
		<p>
		    If the confirmation is not recieved:
		</p>
		<ul>
			<li>
				it may be in your Spam folder
			</li>
			<li>
				or, the email address you entered was incorrect
			</li>		
		</ul>
		<br>
		<p>
			Please <a href="/contacts/new" class="k-link">contact us</a> with any questions.
		</p>
	</div>