<% provide(:title, 'Reports') %>

	<!-- <script type="text/javascript" src="../scripts/slidedeck.jquery.js"></script> -->
	<!-- <script src="/assets/jquery.colorbox.js"></script> -->
	<!-- <link rel="stylesheet" href="/assets/colorbox.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../styles/slidedeck.skin.css" media="screen,handheld" /> -->
	<script src="/assets/jqModal.js"></script>
	<script src="/assets/jquery.easing.1.3.js"></script>
	<link rel="stylesheet" href="/assets/jqModal.css" />
	<script src="/assets/jquery.validate.js"></script>



    <!-- <style type="text/css">
        #slidedeck_frame {
            width: 901px;
            /*height: 295px;*/
            height: 324px;
			margin: 0px auto 0;
			font-family: Arial, Helvetica, sans-serif;			
        }
		.hide {display: none !important;}
		.top-container {padding-top:20px;}
    </style> -->



	<style type="text/css">
										
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
											
	</style>




	<!-- <style>

		/*
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		*/
		
		.input-gen {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 400;
			font-size: 13px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #f6f6f6;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		/*.input-gen:focus {
			border-color: #478A3E;
			color: #11520B;
		}*/
		.input-gen:focus,
		.input-gen:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-gen:focus:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-gen:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		::-webkit-input-placeholder {
		   color: #778899; /*#C0C0C0;*/
		}
		
		:-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		::-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		:-ms-input-placeholder {  
		   color: #778899; /*#C0C0C0;*/

		}		
		.form-edit-close {
			width:20px;
			height:20px;
			/*background-color: #ddd;*/
			float: right;
			margin-right: 8px;
			margin-top: 4px;
		}		
		.form-edit-close:hover {
			cursor: pointer;
			/*background-color: #FFD1D1;*/
		}		
		.form-dl-error {
			/*font-family: Arial, Helvetica, sans-serif;
			color: red;*/
			/*font-weight: 400;*/
			/*font-size: 13px;*/
			padding-top: 4px;
			margin-left: 6px;
			width: 160px; 
			height: 20px;
		}
		.form-dl-error label {
			margin-left: 20px;
			font-family: Arial, Helvetica, sans-serif;
			color: red;
			font-weight: 400;
			font-size: 12px;
			padding-top: 4px;
			margin-left: 0px;
		}
		.btn-submit {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: 400;		
			text-align: center;	
			padding-top: 0px;
		  	/*color: #FBB040;*/
		  	color: #fff;
		  	/*display: inline-block;*/
		  	text-decoration: none; 
		  	width: 160px;
		  	height: 34px;
		  	/*background: linear-gradient(#41B737, #37633A);*/
		  	background: linear-gradient(#2899A1, #1F7C82);

		  	/*text-shadow: 1px 1px 1px #0E86B2;*/
		  	border: 0px solid #fff; 
		  	border-radius: 2px;
		}
		.btn-submit:focus {
			/*border-color: #478A3E;
			color: #11520B;
			font-weight: 700;*/
			-webkit-box-shadow: 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: 0 0 1px 1px #3DC8D1;
			        box-shadow: 0 0 1px 1px #3DC8D1;
		  	background: linear-gradient(#2899A1, #1F7C82);
		  	/*background: #CCC;*/ 
		  	/*color: #5F7A2A;*/
		  	/*box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);*/
		}
		.btn-submit:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.1),
		  inset 0 1.5em 1em rgba(255,255,255,0.2);
		  cursor: pointer;
		}
		.btn-submit:active { 
		  	box-shadow: inset 0 1px 1px rgba(255,255,255,0.0), 
		  	inset 0 1.5em 1em rgba(0,0,0,0.0);
		 	/*color: #FBB040;*/
		 	color: #fff;
		  	/*background: linear-gradient(#37633A, #41B737);*/
		  	background: linear-gradient(#1F7C82, #2899A1);
		  	outline:none;
		}
		.table-dl-form {
			display: table;
			vertical-align: top;
			width: 700px;	
		}
		.dl-form-divider-line {
			width: 98%;
			color: #fff;
		}
		/*.check-required {
			background-image: url("/assets/red_star_7.png");		
			background-repeat: no-repeat;
			background-position: 0px 0px;
			top: 0px;			
		}*/
		input.error {
			background-color: #FFF1F0;
			background-image: url("/assets/red_star_7.png");		
			background-repeat: no-repeat;
			background-position: 288px 0px;			
		}
		.display-none {
			display: none;
		}
		.form-pdf {
		}
		.form-pdf-title {
			font-family: Arial, Helvetica, sans-serif;
			color: #185C61;
			font-weight: 400;
			font-size: 14px;			
		}
		.table-dl-form-background {
			padding: 10px 10px;
			border-top: 1px solid #185C61;
			border-bottom: 1px solid #185C61;
			background-color: #DCE7E8; /*#BCD4D6;*/			
		}
		.row-divider {
			height: 4px;	
		}
		
	</style> -->

	<style>

		/*
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		*/
		
		.input-gen {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 400;
			font-size: 13px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #f6f6f6;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		/*.input-gen:focus {
			border-color: #478A3E;
			color: #11520B;
		}*/
		.input-gen:focus,
		.input-gen:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-gen:focus:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-gen:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		::-webkit-input-placeholder {
		   color: #778899; /*#C0C0C0;*/
		}
		
		:-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		::-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		:-ms-input-placeholder {  
		   color: #778899; /*#C0C0C0;*/

		}		
		.form-edit-close {
			width:20px;
			height:20px;
			/*background-color: #ddd;*/
			float: right;
			margin-right: 8px;
			margin-top: 4px;
		}		
		.form-edit-close:hover {
			cursor: pointer;
			/*background-color: #FFD1D1;*/
		}		
		.form-dl-error {
			/*font-family: Arial, Helvetica, sans-serif;
			color: red;*/
			/*font-weight: 400;*/
			/*font-size: 13px;*/
			padding-top: 4px;
			margin-left: 6px;
			width: 160px; 
			height: 20px;
		}
		.form-dl-error label {
			margin-left: 20px;
			font-family: Arial, Helvetica, sans-serif;
			color: red;
			font-weight: 400;
			font-size: 12px;
			padding-top: 4px;
			margin-left: 0px;
		}
		.btn-submit {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: 400;		
			text-align: center;	
			padding-top: 0px;
		  	/*color: #FBB040;*/
		  	color: #fff;
		  	/*display: inline-block;*/
		  	text-decoration: none; 
		  	width: 160px;
		  	height: 34px;
		  	/*background: linear-gradient(#41B737, #37633A);*/
		  	background: linear-gradient(#2899A1, #1F7C82);

		  	/*text-shadow: 1px 1px 1px #0E86B2;*/
		  	border: 0px solid #fff; 
		  	border-radius: 2px;
		}
		.btn-submit:focus {
			/*border-color: #478A3E;
			color: #11520B;
			font-weight: 700;*/
			-webkit-box-shadow: 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: 0 0 1px 1px #3DC8D1;
			        box-shadow: 0 0 1px 1px #3DC8D1;
		  	background: linear-gradient(#2899A1, #1F7C82);
		  	/*background: #CCC;*/ 
		  	/*color: #5F7A2A;*/
		  	/*box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);*/
		}
		.btn-submit:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.1),
		  inset 0 1.5em 1em rgba(255,255,255,0.2);
		  cursor: pointer;
		}
		.btn-submit:active { 
		  	box-shadow: inset 0 1px 1px rgba(255,255,255,0.0), 
		  	inset 0 1.5em 1em rgba(0,0,0,0.0);
		 	/*color: #FBB040;*/
		 	color: #fff;
		  	/*background: linear-gradient(#37633A, #41B737);*/
		  	background: linear-gradient(#1F7C82, #2899A1);
		  	outline:none;
		}
		.table-dl-form {
			display: table;
			vertical-align: top;
			width: 700px;	
		}
		.dl-form-divider-line {
			width: 98%;
			color: #fff;
		}
		/*.check-required {
			background-image: url("/assets/red_star_7.png");		
			background-repeat: no-repeat;
			background-position: 0px 0px;
			top: 0px;			
		}*/
		input.error {
			background-color: #FFF1F0;
			background-image: url("/assets/red_star_7.png");		
			background-repeat: no-repeat;
			background-position: 288px 0px;			
		}
		.display-none {
			display: none;
		}
		.form-pdf {
		}
		.form-pdf-title,
		.form-pdf-title a {
			font-family: Arial, Helvetica, sans-serif;
			color: #185C61;
			font-weight: 400;
			font-size: 14px;			
		}
		.form-pdf-title-2 {
			font-family: Arial, Helvetica, sans-serif;
			color: #185C61;
			font-weight: 400;
			font-size: 12px;			
		}
		.table-dl-form-background {
			padding: 10px 10px;
			border-top: 1px solid #185C61;
			border-bottom: 1px solid #185C61;
			background-color: #DCE7E8; /*#BCD4D6;*/			
		}
		.row-divider {
			height: 4px;	
		}
		
	</style>



	<style>
		
		.papers-top-info {
			color: #376340;
			font-size: 20px;
		}

		.sub {margin: 35px auto 0; width: 275px;}

		#k-sidebar_inner {
			width: 380px;
		}

		.ktop {
			border: 1px solid #767676;
    		padding-left: 10px;
		}
		.ktop a:hover {text-decoration: none;}
		.ktop h2 {font-size: 20px; font-family: Quatrocento, sans;}
		.ktop p {color:#000; font-size: 17px; font-family: Quatrocento, sans;}
		.b_container {
			float:left;
			padding-right: 25px;
		}

		.papers-logo {
			width: 150px;
			margin-top: 15px;
		}

		.kpaper-text-wrapper {
			display: inline;
			margin: 0;
		}

		.papers-download-btn {
			background: #41b737;
   			 border: 2px solid #41b737;
    		border-radius: 6px;
		    bottom: 3px;
		    color: #fff;
		    padding: 2px 5px;
		    position: absolute;
		    right: 3px;
		}

	</style>

	<style>
		
		.jqmWindow {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 350px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}
		.jqmOverlay { background-color: #000; }
		* html .jqmWindow {
		     position: absolute;
		     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
		}		

	</style>

	<style>
	
		input[type=radio] {
		    display:none;
		}				
		.input-label {
			font-family: msyh;
			font-size: 16px;
			width: 220px;
			height: 18px;
		}
		.rd-button {
			width: 12px;
			height: 12px; 
			border-style: solid; 
			border-width: 2px; 
			border-color: #11520B; 
			border-radius: 12px;		
			margin-bottom: -4px;
			display: inline-block;
			margin-right: 0px;
			cursor: pointer;		
		}
		.rd-button:focus {
			box-shadow: 0 0 10px #2899A1; /*#29731F;*/
			outline: none;
		}
		.rd-button:hover {
			box-shadow: 0 0 10px #1F7C82;
			outline: none;
		}
		.rd-button:select {
			/*box-shadow: 0 0 10px #2899A1;*/ /*#29731F;*/		
			outline: none;
		}
		.rd-background {
			background-color: #2899A1; /*#3DC8D1;*/ /*#1F7C82;*/ /*#A5E5B4*/
		}	
		.label-rd:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		.label-rd:focus {
			text-decoration: underline;
		}
		
	</style>


	<%= render 'share/backtotop' %>

	<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">


			<div class="jqmWindow" id="dialog">
		   		<div class="table-dl-form">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form1" class="form-edit-close jqmClose" tabindex="1">
		   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
		   					</div>
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<!-- <a href="#" class="jqmClose">Close</a> -->
				<hr class="dl-form-divider-line">
				<div style="height: 10px;"></div>
		   		<div class="table-dl-form">
		   			<div class="row">
		   				<div class="cell-100percent" style="text-align: center;">
		   					<span class="form-pdf-title">
		   						<em>For free perusal and download,</em>
		   						<br>
		   						please enter your Community registration email.
		   					</span>
		   				</div>
   					</div>
				</div>				   				
				<div style="height: 20px;"></div>
				<form id="form_pdf" class="form-pdf">
					<div class="table-dl-form-background">
				   		<div class="table-dl-form">

				   			<div class="row">
				   				<div class="cell-200"></div>
				   				<div class="cell-300">
									<input class="input-gen" id="dl_email" name="dl[email]" placeholder="Email" tabindex="2" type="" autofocus />
				   				</div>
				   				<div class="cell-200">
				   					<div id="error_dl_email" class="form-dl-error error-div"><span></span></div>
				   				</div>
		   					</div>
				   			<!-- <div class="row row-divider"></div>
				   			<div class="row">
				   				<div class="cell-200"></div>
				   				<div class="cell-300">
									<input class="input-gen" id="dl_phone" name="dl[phone]" placeholder="Phone" tabindex="3" type="" />
				   				</div>
				   				<div class="cell-200">
				   					<div id="error_dl_phone" class="form-dl-error error-div"><span></span></div>
				   				</div>
		   					</div> -->

		   				</div>
	   				</div>
	   				<div style="height: 10px;"></div>
			   		<div class="table-dl-form">
			   			<div class="row">
			   				<div class="cell-100">
			   				</div>
			   				<div class="cell-600">
			   					<span class="form-pdf-title-2">
			   						Open PDF: 
			   					</span>
			   				</div>
	   					</div>
			   			<div class="row">
			   				<div class="cell-100">
			   				</div>
			   				<div class="cell-600">
								<div style="display: inline-block; width: 20px;"></div>
								<div id="div_rd_win_same" class="rd-button"></div>
								<input id="rd_win_same" type="radio" value="1" name="rd_win">
								<label id="label_rd_win_same" class="label-rd" tabindex="3" onclick="rd_win('same');" for="rd_win">
				   					<span class="form-pdf-title-2">
				   						on this page <em> - the browser's back arrow may be used to return to the Learning Counsel</em>
				   					</span>
								</label>
			   				</div>
	   					</div>
			   			<div class="row">
			   				<div class="cell-100">
			   				</div>
			   				<div class="cell-600">
								<div style="display: inline-block; width: 20px;"></div>
								<div id="div_rd_win_new" class="rd-button"></div>
								<input id="rd_win_new" type="radio" value="2" name="rd_win">
								<label id="label_rd_win_new" class="label-rd" tabindex="4" onclick="rd_win('new');" for="rd_win">
				   					<span class="form-pdf-title-2">
				   						in a new window / tab <em> - the new tab opens to the left of this page</em>
				   					</span>
								</label>
			   				</div>
	   					</div>
	   					
					</div>				   				



	   				<div style="height: 16px;"></div>
	   				<div class="table-dl-form">
			   			<div class="row">
			   				<div class="cell-100percent" style="text-align: center;">
								<input id="submit_dl_contact" class="btn-submit" type="submit" value="Submit" tabindex="4">
			   				</div>
	   					</div>
					</div>														   				
				</form>
				<div style="height: 20px;"></div>
		   		<div class="table-dl-form">
		   			<div class="row">
		   				<div class="cell-100percent" style="text-align: center;">
		   					<span class="form-pdf-title">
		   						<em>Not registered in our Community?</em>
		   						<br>
		   						<a href="/CommunityRegistration">&laquo; Community Registration &raquo;</a>
		   					</span>
		   				</div>
   					</div>
				</div>				   								
			</div>








		<header>				
		</header>	

					<div class="seperator-2">
							<img src="/repository/logo-boxes-alone.png">
							PAPERS
							</div>



		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
							<p class="papers-top-info">
								The Learning Counsel presents papers and briefs on critical topics in Digital Education.
								Click on the papers below to access and download.
							</p>


							<div class="kontainer-space-1"></div>
		            				        



<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Digital Curriculum Strategy Brief - The Learning Counsel, Inc..pdf" class="k-link-a" target="_blank"> -->
		<!-- <a href="../pdfs/Digital-Curriculum-Strategy-Brief.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_1">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-digital-curriculum-2.png" alt="paper-thumb-digital-curriculum-2.png" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2 style="color: #41b737;">2013-2014<br/>
						Digital Curriculum Strategy for K12 Schools</h2>
						<p>
							This brief addresses digital curriculum strategy from the
							viewpoint of innovation in K12 districts. It first defines a
							Digital Curriculum Strategy and then covers processes for
							developing a workable Digital Curriculum Strategy in your
							area.
						</p>

						<img class="papers-logo" src="/repository/logo-icon-come-together-tag.png">
						<span class="papers-download-btn">DOWNLOAD</span>
						
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Digital Curriculum Strategy Brief - The Learning Counsel, Inc..pdf" class="k-link-a" target="_blank"> -->
		<!-- <a href="http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_2">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px;">
					    <img src="../repository/paper-colorado-w200-h235.png" alt="paper-colorado-w200-h235.png" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2 style="color: #1f7c82;">
							School District Partnerships Help Colorado<br/>
							K12	Blended Learning Take Flight</h2>
						<p>
							Blended learning is a versatile teaching method that combines
							in-person instruction with online learning in the classroom,
							lab, or other work space including home. This paper focuses
							on syste m-wide efforts in three Front Range school districts
							and a group of rural districts in the San Luis Val- ley. The report
							also provides a list of state and national resources for
							schools and districts looking to implement blended learning
							techniques on a limited or system-wide basis and questions to
							consider prior to starting.
						</p>

						<img style="margin-left: 250px;" class="papers-logo" src="/repository/independence-institute.jpg">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/McGraw-Hill-DDC.pdf" class="k-link-a" target="_blank"> -->
		<!-- <a href="https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_3">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-McGraw-Hill-DDC.jpg" alt="paper-McGraw-Hill-DDC.jpg" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2 style="color: #e51b24;">
							District Digital Conversion<br/>
							Empowering Personalized Learning</h2>
						<p>
							How do we go from a status quo, paper driven organization,
							to a more progressive and engaging digital school system?
							This is a question many school district leadership teams
							are wrestling with today. It is very important to address this
							question because the mechanics of going digital can sometimes
							be daunting. However, additional and even more important
							questions to ask are: What defines success and how
							will a district know it’s attaining success?
						</p>

						<img style="margin-left: 0px;" class="papers-logo" src="/repository/mcgraw-hill-sized.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Case-Study-Burbank-2013.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_4">
			<div class="k-inner-cell" style="padding-top: 14px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-1.jpg" alt="paper-thumb-1.jpg" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Burbank Elementary School</h2>
						<div style="height: 16px;"></div>
						<p>
							Burbank Elementary School provides an educational
							environment where students are safe and secure, fully
							motivated and able to achieve their fullest potential.
						</p>
						<img style="margin-left: 0px;" class="papers-logo" src="/repository/bte-sized.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Case-Study-Marquez-2013.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_5">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-2.jpg" alt="paper-thumb-2.jpg" width="200px">
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Marquez Elementary Charter School</h2>
						<div style="height: 16px;"></div>
						<p>
							Marquez’ Digital Edge program is an exciting, high-tech
							initiative that puts laptop computers directly in students’
							hands.
						</p>
						<img style="margin-left: 0px;" class="papers-logo" src="/repository/bte-sized.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>


<!-- CASE STUDY:  Mooresville, NC; Napa, CA; Revere, MA
Why Innovative Superintendents Are Creating
Model Innovation Cities™
To Solve the Third Grade Reading Dilemma -->
 

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Model-Innovation-City-Case-Study-Final.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_6">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-mooresville.png" alt="paper-thumb-mooresville.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Moorefield, NC; Napa, CA; Revere, MA</h2>
						<div style="height: 16px;"></div>
						<p>
							Why innovative superintendents are creating Model
							Innovation Cities &#8482; to solve the third grade reading dilemma.
						</p>
						<img style="margin-left: 0px;" class="papers-logo" src="/repository/footsteps2brilliance.jpg">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>



<!-- EVALUATION STUDY:  Touro University on Napa County Schools, CA
Using Mobile Technology and the
Footsteps2Brilliance® Academic Language
Program to Accelerate Vocabulary and
Comprehension for Early Learners
A 3rd Party Evaluation Study -->

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/Touro-University-FINAL.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_7">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-thumb-touro.png" alt="paper-thumb-touro.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">EVALUATION STUDY:</span><br/>
						Touro Univeristy on Napa County Schools, CA</h2>
						<div style="height: 16px;"></div>
						<p>
							A 3rd party evaluation on using mobile technology and the
							Footsteps2Brilliance&copy; Academic Language Program to accelerate
							vocabulary and comprehension for early learners.
						</p>
						<img style="margin-left: 0px;" class="papers-logo" src="/repository/tuorouniversity-logo.png"><img style="margin-left: 15px;" class="papers-logo" src="/repository/napa-learns-logo.png">
						<span style="bottom: -20px;" class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/ConceptuaMath-case-study_Mequon.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_8">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-conceptual-math-mequon.png" alt="paper-conceptual-math-mequon.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Conceptua&reg; Math at Mequon-Thiensville<br/>
						School District</h2>
						<div style="height: 16px;"></div>
						<p>
							Conceptua&reg; Fractions is used to address Common Core
							at the Mequon-Thiensville School District.
						</p>
						<img style="margin-left: 0px; margin-top: 70px;" class="papers-logo" src="/repository/conceptua-logo.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_9">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-conceptual-math-sunnyside.png" alt="paper-conceptual-math-sunnyside.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Conceptua&reg; Math at<br/>
						Sunnyside Union School District</h2>
						<div style="height: 16px;"></div>
						<p>
							Sunnyside Unified School District & Conceptua&reg; Math succeed
							with fracions in an at- risk district.
						</p>
						<img style="margin-left: 0px; margin-top: 70px;" class="papers-logo" src="/repository/conceptua-logo.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/STEM-U.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_10">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-stem-u.png" alt="paper-stem-u.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						STEM U</h2>
						<div style="height: 16px;"></div>
						<p>
							Robotics is the fastest-growing and most advanced
							technology used in education, research and industry.
							<br/><br/>
							The STEM-U program utilizes robtos in classes as they
							are the ideal partner for teaching Science, Technology,
							Engineering and Math's core concepts at all levels.
						</p>
						<img style="margin-left: 0px;" class="papers-logo" src="/repository/robotslab-logo.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

<div style="height: 30px; position: relative;"></div>

<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol-619">
		<!-- <a href="../pdfs/cengage.pdf" class="k-link-a" target="_blank"> -->
		<a href="#" class="jqModal" id="pdf_11">
			<div class="k-inner-cell" style="padding-top: 6px; padding-bottom: 6px; vertical-align: top;">
				<div class="text_container b_container" style="text-align: left; display: inline-block;">
					<div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 200px; height: 258px;">
					    <img src="../repository/paper-cengage.png" alt="paper-cengage.png" width="200px">					    
					</div>
				</div>
				<div class="kpaper-text-wrapper">
					<div class="kpaper-text">
						<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
						Gale-Cengage Learning at McKinley<br/>
						High School</h2>
						<div style="height: 16px;"></div>
						<p>
							This paper highlights the results of the McKinley/Gale Study
							Project conducted by Project Tomorrow for Cengage Learning
							at McKinley Technology High School in Washington, D.C. The
							purpose of this efficacy study is to evaluate and document how
							teachers can use high-quality, digitally rich Gale resources to
							develop students' 21st century skills and what effects the use of
							technology in the classroom has on student engagement and
							performance.
						</p>
						<img style="margin-left: 220px;" class="papers-logo" src="/repository/gale-sized.png">
						<span class="papers-download-btn">DOWNLOAD</span>
					</div>														
				</div>
			</div>
		</a>	
	</div>
</div>

	
						</div>
	
						<!-- <a href="/contacts/new" style="font-family: klavikaBold; color: #000;">Contact Us</a> -->
						
												
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">
							<div class="sub">
					<a href="/LetterRegistration">Subscribe to Newsletter</a>
							</div>
							<a href="http://thelearningcounsel.com/ContactUs"><img src="../repository/banner-2.png" class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'"></a>
							<br/><br/>
							<a href="http://thelearningcounsel.com/SpecialGathering"><img src="../repository/gathering-ad.jpeg" class="k-img" height="500px" onerror="this.src='/assets/error-300-700-blue.png'"></a>


							<!-- <div style="border-style: solid; border-width: 1px; border-color: orange; padding: 3px; width: 180px; height: 135px;">
							    <img src="../repository/image-reports.jpg" alt="image-reports.jpg" width="180px" >
							</div> -->
														
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div> -->
			
							<div id="select_services">
								<!-- <h2 class="feature">Select Services</h2> -->
																
								<dl id="Services">
										<!-- <dt><a target="_new" href="#">LeiLani Cauthen, CEO</a></dt> -->
										
									<!-- <dd>LeiLani Cauthen</dd>
										<dt>LeiLani Cauthen</dt> -->
																				
									<!-- <dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd> -->									
									
								</dl>
								
							</div>				
							
						</div>
					</div>

					<br clear="all">
			
					<div class="kontainer-space-2"></div>
					
					<div style="height: 0px;"></div> <!--Was height 600px -->
					
			</div>
			
		</section>

	</div>


	<script>
		SlideDeckAssistant.init();
	</script>

	<script>
		
		
		// $().ready(function() {
		  // $('#dialog').jqm();
		// });		
		
		function formValidate() {
			
			// alert('formValidate');
						
			$("#form_pdf").validate({
			
				submitHandler: function(form) {
					submit_dl_pdf();
				},
			
				// errorElement: "span",
				
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				focusInvalid: false,
								
				rules: {
					// 'reg_commun[name_first]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					// 'reg_commun[name_last]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					// 'reg_commun[name_title]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					// 'dl[phone]': {
						// required: true,
						// minlength: 10,						
						// maxlength: 25						
					// },
					'dl[email]': {
						required: true,
						maxlength: 100,
						email: true
					}					
				},
				// invalidHandler: function(commun, validator) {
				invalidHandler: function(validator) {
					// // // val = validator;
					// var errors = validator.numberOfInvalids();
					// if (errors) {
						// // var message = errors == 1
						// // ? '1 required field missed'
						// // : errors + ' required fields missed';
						// // $("div.errors p").html(message);
						// // $("div.errors").show();
						// // $("#submit_dl_contact").blur();
						// // $("#dialog").focus();			
						// // scrollToAnchor('anchor1');
						// // jQuery('html, body').animate({scrollTop: 0}, 1000);			
					// } else {
						// // $("div.errors").hide();
					// }
					// $("#error_dl_email").html("<span></span>");			
					// $("#error_dl_email").removeClass('check-required');						
					// $("#error_dl_phone").html("<span></span>");			
					// $("#error_dl_phone").removeClass('check-required');						
					// alert('invalidHandler');
				},				
				messages: {
					// 'reg_commun[name_first]': {
						// required: "*",
						// maxlength: "First Name exceeds 50 characters"							
					// },
					// 'reg_commun[name_last]': {
						// required: "*",
						// maxlength: "Last Name exceeds 50 characters"							
					// },
					// 'reg_commun[name_title]': {
						// required: "*",
						// maxlength: "Title exceeds 50 characters"							
					// }, xxx-xxx-xxx ext xxxxx
					// 'dl[phone]': {
						// required: "Required",
						// minlength: "Minimum 10 characters",							
						// maxlength: "Exceeds 25 characters"							
					// },
					'dl[email]': {
						required: "Required",
						maxlength: "Exceeds 100 characters",
						email: "Invalid email"
					}					
				},
				errorContainer: $("div .error-div"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id') + " span");
					// var s_id = "#error_" + element.attr('id');
					// alert(error.text());
					// if (error.text() == "*") {
						// alert("*");
						// $(s_id).addClass('check-required');
					// }
					// else {
						// alert("not *");
						// $(s_id).addClass('check-required');
						// error.insertAfter('#error_' + element.attr('id') + " span");
					// }

					// alert(document.getElementsByTagName("LABEL")[0].childNodes[0].nodeValue);
					// alert(element.attr('id'));
					// error.insertAfter('#error_' + element.attr('id'));
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
				},
				// invalid: function(element, label) {
					// $('#error_' + label.attr('for')).addClass('check-required');
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#error_' + label.attr('for')).addClass('check-required');
					// $('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#error_' + label.attr('for')).removeClass('check-required').html("<span></span>");
					
					// $('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					// $('#state_' + label.attr('for')).css ({			
						// background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					// });
					// $('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	// $('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});

			// $.validator.setDefaults({
				// submitHandler: function() {
					// form.submit();
				// }
			// });
		}
		
		
		
		var id_pdf = "";
		
		function pdf_href(id) {
			
			var href = "";
			switch (id)
			{
			  case '1':
			  	href = "../pdfs/Digital-Curriculum-Strategy-Brief.pdf";
			  	break;
			  case '2':
			  	href = "http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf";
			  	break;
			  case '3':
			  	href = "https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf";
			  	break;
			  case '4':
			  	href = "../pdfs/Case-Study-Burbank-2013.pdf";
			  	break;
			  case '5':
			  	href = "../pdfs/Case-Study-Marquez-2013.pdf";
			  	break;
			  case '6':
			  	href = "../pdfs/Model-Innovation-City-Case-Study-Final.pdf";
			  	break;
			  case '7':
			  	href = "../pdfs/Touro-University-FINAL.pdf";
			  	break;
			  case '8':
			  	href = "../pdfs/ConceptuaMath-case-study_Mequon.pdf";
			  	break;
			  case '9':
			  	href = "../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf";
			  	break;
			  case '10':
			  	href = "../pdfs/STEM-U.pdf";
			  	break;
			  case '11':
			  	href = "../pdfs/cengage.pdf";
			  	break;

			  default:
			  //
			}
			
			return href;
		}
		
		function openHREF(href) {
			// window.open(href);
	        window.location.href = href;			
		}		
		function openHREF_new_win(href) {
			// var win = window.open(href, '_blank');
			// win.focus();
			// var win_lc = window.open("http://localhost:3000/Papers", '_blank');
			var win_lc = window.open("http://thelearningcounsel.com/Papers", '_blank');			
			var win = window.location.href = href;
			// win.focus();
		}		
		function form_pdf_close() {
			// alert('form_pdf_close()');
			$("#close_form1").trigger('click');
		}
		
		function submit_dl_pdf() {
			
			$("#close_form1").blur();
			$("#dialog").focus();			
			
			var int_pdf = id_pdf.substring(4, id_pdf.length);
			var href = pdf_href(int_pdf);
			// window.location.href = $(this).attr('href');
			var input_dl_email = $("#dl_email").val();
			// var input_rd_win = $("#form_pdf input[name=rd_win]:checked").val();
			var input_rd_win = $("input:radio[name=rd_win]:checked").val();	
			
			// var input_dl_phone = $("#dl_phone").val();
			
			// var obj_list = '{' + 
							// '"email":"' + input_dl_email +
							// '", "phone":"' + input_dl_phone +
							// '", "int_pdf":' + parseInt(int_pdf) + 								 
						   // '}';      

			var obj_list = '{' + 
							'"email":"' + input_dl_email +
							'", "int_pdf":' + parseInt(int_pdf) +
							', "rd_win":' + input_rd_win + 								 
						   '}';      
		  	var obj = '{ "dl_contact": [' +  obj_list + '] }';                  
		  	$.ajax({
		    	type: 'POST',
		    	// data : JSON.stringify(obj),
		    	data : obj,
		    	// url: '/dl_contacts/create_dl',
		    	url: 'papers/search_contact',			    	
		    	dataType: "json",
		    	contentType: "application/json",
		    	processData: false,
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
            		if( data.b_reg_commun_record) {
	            		form_pdf_close();
            			if( data.rd_win == 1 ) {
	            			openHREF(href);						            			            				
            			}
            			else {
            				openHREF_new_win(href);
            			}
            		}
            		else {
            			var msg = "We are sorry.\n" + data.email + "\nwas not found in our Community Registration.";
            			alert(msg);
            		}
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
		  			  	
	  		return false;
		}
		
		function form_init() {
			$("#dl_email").val('');
			// $("#error_dl_email").removeClass('check-required');						
			$("#error_dl_email").html("<span></span>");			
			// $("#dl_phone").val('');
			// $("#error_dl_phone").removeClass('check-required');						
			// $("#error_dl_phone").html("<span></span>");			
			set_rd_1();
			unset_rd_2();
		}
		
		function set_rd_1() {
			var rd ="#rd_win_same";
			var sd = "#div_rd_win_same";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_1() {
			var sd = "#div_rd_win_same";
			$(sd).removeClass("rd-background");			
		}
		function set_rd_2() {
			var rd ="#rd_win_new";
			var sd = "#div_rd_win_new";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_2() {
			var sd = "#div_rd_win_new";
			$(sd).removeClass("rd-background");			
		}
		
		function set_rd(caller) {
			switch (caller)
			{
			  case 'same':
			  		set_rd_1();
			  		unset_rd_2();
			  	break;
			  case 'new':
			  		set_rd_2();
			  		unset_rd_1();
			  	break;
			  default:
			  //
			}
		}
		
		
		
		$(window).load( function() {
		//$(document).ready(function(){
		
		
    		$("#div_rd_win_same").keypress(function(e){
      			if(e.keyCode==13)
      			$("#div_rd_win_same").click();
    		});							
    		$("#div_rd_win_new").keypress(function(e){
      			if(e.keyCode==13)
      			$("#div_rd_win_new").click();
    		});							
    		$("#label_rd_win_same").keypress(function(e){
      			if(e.keyCode==13)
      			$("#label_rd_win_same").click();
    		});							
    		$("#label_rd_win_new").keypress(function(e){
      			if(e.keyCode==13)
      			$("#label_rd_win_new").click();
    		});									
			$('#div_rd_win_same').on('click', function() {
				set_rd('same');
			});
			$('#div_rd_win_new').on('click', function() {
				set_rd('new');
			});
			$('#label_rd_win_same').on('click', function() {
				set_rd('same');
			});
			$('#label_rd_win_new').on('click', function() {
				set_rd('new');
			});
		
			formValidate();
			
			$(".jqModal").on('click', function() {
				id_pdf = $(this).attr('id');
			});
		
			// $("#submit_dl_contact").on('click', function() {
				// // alert('pdf_save');
				// alert($("#pdf_email").val());
				// return false;
			// });
		
		
		
		  	// $('#dialog').jqm();
		
			// From jqModal.js >
			// // onShow callback. Responsible for showing a modal and overlay.
			// //  return false to stop opening modal. 
			// // hash object;
			// //  w: (jQuery object) The modal element
			// //  c: (object) The modal's options object 
			// //  o: (jQuery object) The overlay element
			// //  t: (DOM object) The triggering element
			// // display the overlay (prepend to body) if not disabled
			// if(hash.c.overlay > 0)
			  // hash.o.prependTo('body');
			// // make modal visible
			// hash.w.show();
			// // call focusFunc (attempts to focus on first input in modal)
			// $.jqm.focusFunc(hash.w);
			// return true;
			// }		


			// $(selector).animate({params},speed,callback);
					
 			// $( "#book" ).animate({
				// opacity: 0.25,
				// left: "+=50",
				// height: "toggle"
				// }, 
				// 5000, 
				// function() {
					// // Animation complete.
				// }
			// );					
			
					
			$('#dialog').jqm({
				onShow: function(hash) {
					
					form_init();
					
					hash.o.prependTo('body');
					hash.w.css('top', '-360px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog').animate(
						{bottom:'-=400', top:'+=400'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							$('#dl_email').focus();
						}
					);
				}
			}); 		
		
			// var t = $('#ex4 div.jqmdMSG');
			// $('#ex4').jqm({
				// trigger: 'a.ex4Trigger',
			    // ajax: '@href', /* Extract ajax URL from the 'href' attribute of triggering element */
			    // target: t,
			    // modal: true, /* FORCE FOCUS */
			    // onHide: function(h) { 
			      // t.html('Please Wait...');  // Clear Content HTML on Hide.
			      // h.o.remove(); // remove overlay
			      // h.w.fadeOut(888); // hide window
			    // },
			    // overlay: 0
			// });
			// // nested dialog
			// $('#ex4c').jqm({modal: true, overlay: 10, trigger: false});		
		
		
			// $(".group1").colorbox({rel:'group1'});
			// $(".group2").colorbox({rel:'group2', transition:"fade"});
			// $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
			// $(".group4").colorbox({rel:'group4', slideshow:true});
			// $(".ajax").colorbox();
			// $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
			// $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
			// $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			// $(".inline").colorbox({inline:true, width:"50%"});
			// $(".callbacks").colorbox({
				// onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				// onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				// onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				// onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				// onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			// });
			// $('.non-retina').colorbox({rel:'group5', transition:'none'})
			// $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			// $("#click").click(function(){ 
				// $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				// return false;
			// });
		
			// $('a[href*=#]:not([href=#])').click(function() {
				// var target_offset = 1;
			    // if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        // || location.hostname == this.hostname) {
			        // var target = $(this.hash);
			        // target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	// if (target.length) {
		             	// $('html,body').animate({
		                	// scrollTop: target.offset().top + target_offset
		            	// }, 750);
		            	// // return false;
		        	// }
			    // }
			// });
		
		
			// $("#submit_dl_contact").on('click', function() {
// 				
				// // var href = pdf_href(id_pdf.substring(4, id_pdf.length));
				// // // alert(href);
				// // // window.location.href = $(this).attr('href');
				// // // alert(id_pdf.substring(4, id_pdf.length));
				// // var input_dl_email = $("#dl_email").val();
// 				
				// // if (formValidate()) {
					// // // var obj_list = '{' + 
									// // // '"email":"' + input_dl_email +
									// // // '"id_pdf":"' + input_dl_email + 								 
								   // // // '"}';      
				  	// // // var obj = '{ "dl_contact": [' +  obj_list + '] }';                  
				  	// // // $.ajax({
				    	// // // type: 'POST',
				    	// // // // data : JSON.stringify(obj),
				    	// // // data : obj,
				    	// // // url: '/dl_contacts/create_dl',			    	
				    	// // // dataType: "json",
				    	// // // contentType: "application/json",
				    	// // // processData: false,
				    	// // // beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		            	// // // statusCode: {
		                	// // // // 200:function() { alert("200"); },
		                	// // // // 202:function() { alert("202"); }
		            	// // // },
		            	// // // success: function(data) {
		            		// // // alert('success');
		            	// // // },
		            	// // // error: function(xhr){  alert("error: " + xhr.statusText); }        
				  	// // // });
			  	// // }
		  		// return false;
			// });
		



		
		});

		
	</script>



	<!-- <script>
		
		
		// $().ready(function() {
		  // $('#dialog').jqm();
		// });		
		
		function formValidate() {
			
			// alert('formValidate');
						
			$("#form_pdf").validate({
			
				submitHandler: function(form) {
					submit_dl_pdf();
				},
			
				// errorElement: "span",
				
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				focusInvalid: false,
								
				rules: {
					// 'reg_commun[name_first]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					// 'reg_commun[name_last]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					// 'reg_commun[name_title]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// },
					'dl[phone]': {
						required: true,
						minlength: 10,						
						maxlength: 25						
					},
					'dl[email]': {
						required: true,
						maxlength: 100,
						email: true
					}					
				},
				// invalidHandler: function(commun, validator) {
				invalidHandler: function(validator) {
					// // // val = validator;
					// var errors = validator.numberOfInvalids();
					// if (errors) {
						// // var message = errors == 1
						// // ? '1 required field missed'
						// // : errors + ' required fields missed';
						// // $("div.errors p").html(message);
						// // $("div.errors").show();
						// // $("#submit_dl_contact").blur();
						// // $("#dialog").focus();			
						// // scrollToAnchor('anchor1');
						// // jQuery('html, body').animate({scrollTop: 0}, 1000);			
					// } else {
						// // $("div.errors").hide();
					// }
					// $("#error_dl_email").html("<span></span>");			
					// $("#error_dl_email").removeClass('check-required');						
					// $("#error_dl_phone").html("<span></span>");			
					// $("#error_dl_phone").removeClass('check-required');						
					// alert('invalidHandler');
				},				
				messages: {
					// 'reg_commun[name_first]': {
						// required: "*",
						// maxlength: "First Name exceeds 50 characters"							
					// },
					// 'reg_commun[name_last]': {
						// required: "*",
						// maxlength: "Last Name exceeds 50 characters"							
					// },
					// 'reg_commun[name_title]': {
						// required: "*",
						// maxlength: "Title exceeds 50 characters"							
					// }, xxx-xxx-xxx ext xxxxx
					'dl[phone]': {
						required: "Required",
						minlength: "Minimum 10 characters",							
						maxlength: "Exceeds 25 characters"							
					},
					'dl[email]': {
						required: "Required",
						maxlength: "Exceeds 100 characters",
						email: "Invalid email"
					}					
				},
				errorContainer: $("div .error-div"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id') + " span");
					// var s_id = "#error_" + element.attr('id');
					// alert(error.text());
					// if (error.text() == "*") {
						// alert("*");
						// $(s_id).addClass('check-required');
					// }
					// else {
						// alert("not *");
						// $(s_id).addClass('check-required');
						// error.insertAfter('#error_' + element.attr('id') + " span");
					// }

					// alert(document.getElementsByTagName("LABEL")[0].childNodes[0].nodeValue);
					// alert(element.attr('id'));
					// error.insertAfter('#error_' + element.attr('id'));
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
				},
				// invalid: function(element, label) {
					// $('#error_' + label.attr('for')).addClass('check-required');
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#error_' + label.attr('for')).addClass('check-required');
					// $('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#error_' + label.attr('for')).removeClass('check-required').html("<span></span>");
					
					// $('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					// $('#state_' + label.attr('for')).css ({			
						// background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					// });
					// $('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	// $('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});

			// $.validator.setDefaults({
				// submitHandler: function() {
					// form.submit();
				// }
			// });
		}
		
		
		
		var id_pdf = "";
		
		function pdf_href(id) {
			
			var href = "";
			switch (id)
			{
			  case '1':
			  	href = "../pdfs/Digital-Curriculum-Strategy-Brief.pdf";
			  	break;
			  case '2':
			  	href = "http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf";
			  	break;
			  case '3':
			  	href = "https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf";
			  	break;
			  case '4':
			  	href = "../pdfs/Case-Study-Burbank-2013.pdf";
			  	break;
			  case '5':
			  	href = "../pdfs/Case-Study-Marquez-2013.pdf";
			  	break;
			  case '6':
			  	href = "../pdfs/Model-Innovation-City-Case-Study-Final.pdf";
			  	break;
			  case '7':
			  	href = "../pdfs/Touro-University-FINAL.pdf";
			  	break;
			  case '8':
			  	href = "../pdfs/ConceptuaMath-case-study_Mequon.pdf";
			  	break;
			  case '9':
			  	href = "../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf";
			  	break;
			  case '10':
			  	href = "../pdfs/STEM-U.pdf";
			  	break;
			  case '11':
			  	href = "../pdfs/cengage.pdf";
			  	break;

			  default:
			  //
			}
			
			return href;
		}
		
		function openHREF(href) {
			// window.open(href);
	        window.location.href = href;			
			// var win = window.open(url, '_blank');
			// win.focus();
		}		
		function form_pdf_close() {
			// alert('form_pdf_close()');
			$("#close_form1").trigger('click');
		}
		
		function submit_dl_pdf() {
			
			$("#close_form1").blur();
			$("#dialog").focus();			
			
			var int_pdf = id_pdf.substring(4, id_pdf.length);
			var href = pdf_href(int_pdf);
			// window.location.href = $(this).attr('href');
			var input_dl_email = $("#dl_email").val();
			var input_dl_phone = $("#dl_phone").val();
			
			var obj_list = '{' + 
							'"email":"' + input_dl_email +
							'", "phone":"' + input_dl_phone +
							'", "int_pdf":' + parseInt(int_pdf) + 								 
						   '}';      
		  	var obj = '{ "dl_contact": [' +  obj_list + '] }';                  
		  	$.ajax({
		    	type: 'POST',
		    	// data : JSON.stringify(obj),
		    	data : obj,
		    	url: '/dl_contacts/create_dl',			    	
		    	dataType: "json",
		    	contentType: "application/json",
		    	processData: false,
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
            		// alert('success');
            		form_pdf_close();
            		openHREF(href);
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
		  			  	
	  		return false;
		}
		
		function form_init() {
			$("#dl_email").val('');
			// $("#error_dl_email").removeClass('check-required');						
			$("#error_dl_email").html("<span></span>");			
			$("#dl_phone").val('');
			// $("#error_dl_phone").removeClass('check-required');						
			$("#error_dl_phone").html("<span></span>");			
			// alert($("#error_dl_email").html());
		}
		
		$(window).load( function() {
		//$(document).ready(function(){
		
			formValidate();
			
			$(".jqModal").on('click', function() {
				id_pdf = $(this).attr('id');
			});
		
			// $("#submit_dl_contact").on('click', function() {
				// // alert('pdf_save');
				// alert($("#pdf_email").val());
				// return false;
			// });
		
		
		
		  	// $('#dialog').jqm();
		
			// From jqModal.js >
			// // onShow callback. Responsible for showing a modal and overlay.
			// //  return false to stop opening modal. 
			// // hash object;
			// //  w: (jQuery object) The modal element
			// //  c: (object) The modal's options object 
			// //  o: (jQuery object) The overlay element
			// //  t: (DOM object) The triggering element
			// // display the overlay (prepend to body) if not disabled
			// if(hash.c.overlay > 0)
			  // hash.o.prependTo('body');
			// // make modal visible
			// hash.w.show();
			// // call focusFunc (attempts to focus on first input in modal)
			// $.jqm.focusFunc(hash.w);
			// return true;
			// }		


			// $(selector).animate({params},speed,callback);
					
 			// $( "#book" ).animate({
				// opacity: 0.25,
				// left: "+=50",
				// height: "toggle"
				// }, 
				// 5000, 
				// function() {
					// // Animation complete.
				// }
			// );					
			
					
			$('#dialog').jqm({
				onShow: function(hash) {
					
					form_init();
					
					hash.o.prependTo('body');
					hash.w.css('top', '-340px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog').animate(
						{bottom:'-=400', top:'+=400'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							$('#dl_email').focus();
						}
					);
				}
			}); 		
		
			// var t = $('#ex4 div.jqmdMSG');
			// $('#ex4').jqm({
				// trigger: 'a.ex4Trigger',
			    // ajax: '@href', /* Extract ajax URL from the 'href' attribute of triggering element */
			    // target: t,
			    // modal: true, /* FORCE FOCUS */
			    // onHide: function(h) { 
			      // t.html('Please Wait...');  // Clear Content HTML on Hide.
			      // h.o.remove(); // remove overlay
			      // h.w.fadeOut(888); // hide window
			    // },
			    // overlay: 0
			// });
			// // nested dialog
			// $('#ex4c').jqm({modal: true, overlay: 10, trigger: false});		
		
		
			// $(".group1").colorbox({rel:'group1'});
			// $(".group2").colorbox({rel:'group2', transition:"fade"});
			// $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
			// $(".group4").colorbox({rel:'group4', slideshow:true});
			// $(".ajax").colorbox();
			// $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
			// $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
			// $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			// $(".inline").colorbox({inline:true, width:"50%"});
			// $(".callbacks").colorbox({
				// onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				// onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				// onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				// onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				// onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			// });
			// $('.non-retina').colorbox({rel:'group5', transition:'none'})
			// $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			// $("#click").click(function(){ 
				// $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				// return false;
			// });
		
			// $('a[href*=#]:not([href=#])').click(function() {
				// var target_offset = 1;
			    // if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        // || location.hostname == this.hostname) {
			        // var target = $(this.hash);
			        // target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	// if (target.length) {
		             	// $('html,body').animate({
		                	// scrollTop: target.offset().top + target_offset
		            	// }, 750);
		            	// // return false;
		        	// }
			    // }
			// });
		
		
			// $("#submit_dl_contact").on('click', function() {
// 				
				// // var href = pdf_href(id_pdf.substring(4, id_pdf.length));
				// // // alert(href);
				// // // window.location.href = $(this).attr('href');
				// // // alert(id_pdf.substring(4, id_pdf.length));
				// // var input_dl_email = $("#dl_email").val();
// 				
				// // if (formValidate()) {
					// // // var obj_list = '{' + 
									// // // '"email":"' + input_dl_email +
									// // // '"id_pdf":"' + input_dl_email + 								 
								   // // // '"}';      
				  	// // // var obj = '{ "dl_contact": [' +  obj_list + '] }';                  
				  	// // // $.ajax({
				    	// // // type: 'POST',
				    	// // // // data : JSON.stringify(obj),
				    	// // // data : obj,
				    	// // // url: '/dl_contacts/create_dl',			    	
				    	// // // dataType: "json",
				    	// // // contentType: "application/json",
				    	// // // processData: false,
				    	// // // beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		            	// // // statusCode: {
		                	// // // // 200:function() { alert("200"); },
		                	// // // // 202:function() { alert("202"); }
		            	// // // },
		            	// // // success: function(data) {
		            		// // // alert('success');
		            	// // // },
		            	// // // error: function(xhr){  alert("error: " + xhr.statusText); }        
				  	// // // });
			  	// // }
		  		// return false;
			// });
		



		
		});

		
	</script> -->








