<h1>admin_users index</h1>

<div class="wrapper row3">
  <div id="container" class="clear">
  	
  	<div>
		<%= link_to "Return", home_path %>
	</div>
		
  	<br />
  	<br />
  	<br />
  	
    <div id="content">
      
      <h2>Administration</h2>
      
      
    </div>
    
  </div>
</div>
