<div style="margin-left: 0%;">
	<a href="/archives/${slug}">
		<img src="${src_image}" style="width:600px; height: 300px;">
	</a>
</div>
<div class="channel-article header tmpl-thoughts-carousel">
	<a href="/archives/${slug}">
		<span>THOUGHTS</span>
	</a>
</div>
<div class="kk-headlines">
	<div class="h1">
		<a href="/archives/${slug}">
			${subtitle_1}
		</a>
	</div>
    <div class="h2">
    	<a href="/archives/${slug}" class="k-decorate-none">
    		${subtitle_2}
		</a>
        <a href="/archives/${slug}">
        	<span class="byline">&nbsp;by&nbsp;
        		${author}
        	</span>
        </a>
    </div>
	<div class="space-20"></div>
</div>
