<a href="/archives/${slug}" class="tmpl-link">
	<div class="tmpl-div-1">
		<div class="tmpl-div-2a">
			<div class="tmpl-div-2a-1a">
				<img src="${src_image}" class="tmpl-img" height="${img_height}" width="${img_width}">
			</div>
			<div class="tmpl-div-2a-1b">
        		<div class="tmpl-div-2a-1b-1 tmpl-event-news">
        			<span>EVENT NEWS</span>
        		</div>
    		</div>																								
		</div>
		<div class="tmpl-div-2b">
			${subtitle_1}
			<br>
			<span class="tmpl-div-2b-1">
				<span class="k-b-link">${subtitle_2}</span>
			</span>
			<br> 
			<span class="tmpl-div-2b-1">
				by&nbsp
				<span class="k-b-link">${author}</span>
			</span>											
		</div>
	</div>
</a>
