<div>
	<a href="/archives/${slug}">
		<img src="${src_image}" style="width:600px; height: 300px;">
	</a>
</div>
<div class="tmpl-carousel-header tmpl-people-carousel">
	<a href="/archives/${slug}">
		<span>PEOPLE</span>
	</a>
</div>
<div class="tmpl-carousel-headlines">
	<a href="/archives/${slug}">
		<p class="tmpl-subtitle-1-carousel">${subtitle_1}</p>
		<div class="tmpl-vdivider-1-carousel"></div>
		<p class="tmpl-subtitle-2-carousel">${subtitle_2}</p>
		<div class="tmpl-vdivider-2-carousel"></div>
		<span class="tmpl-author-carousel">by&nbsp;</span><span class="tmpl-author-carousel">${author}</span>
	</a>
</div>
