<a href="/archives/${slug}" class="tmpl-link">
	<div class="tmpl-div-1">
		<div class="tmpl-div-2a">
			<div class="tmpl-div-2a-1a">
				<img src="${src_image}" class="tmpl-img" height="${img_height}" width="${img_width}">
			</div>
			<div class="tmpl-div-2a-1b">
        		<div class="tmpl-div-2a-1b-1 tmpl-research">
        			<span>RESEARCH</span>
        		</div>
    		</div>																								
		</div>
		<div class="tmpl-div-2b">
			<p class="tmpl-subtitle-1">${subtitle_1}</p>
			<div class="tmpl-vdivider-1"></div>
			<p class="tmpl-subtitle-2">${subtitle_2}</p>
			<div class="tmpl-vdivider-2"></div>
			<span class="tmpl-author">by&nbsp</span><span class="tmpl-author">${author}</span>
		</div>
	</div>
</a>
