//gathering css

// variables, etc.

	$lcgray: #A6A6A6; // gray
	$dgreen: #376340;//11520b; //dark green
	$ksgreen: #49853F; // knowstory green
	$lgreen: #41b737; // light green

// page rules
#page {
	width: 800px;
}

.head {
	h1 {color: $lcgray; font-size: 27px; text-align: center;}
img {width:800px; margin:0 auto;}
.dgreen {color: $dgreen; }
h1, h3 {margin: 15px auto;}
h2 {margin: auto;}
}
.lgreen {color: $lgreen;}
.main {
	.gray {color: $lcgray; float:right; text-align: right;}
	position:relative;
}
.building-img {
	float: right;
  position: relative;
  top: 60px;
  width: 440px;
  border:3px solid $lcgray;
  z-index:1;
}

.orleans-img {
	position:absolute;
	border:3px solid $lcgray;
	top: 200px;
	left: 0;
}

.theme {float: right; clear:both; color: $dgreen;}

//info

.info {clear:both; 
	position: relative; 
	top: 130px; 
	text-align: left;
	h3 {text-align: center; color: $dgreen;}
	p {color: $dgreen;}
}

.right {margin-left:15px; }
.left, .right {
  display: inline-block;
	float:left;
  width:365px;
  padding:0px;
	// width:375px;
	// padding:8px;
}

.invite-list {
	list-style-type: square;
	color: $ksgreen;
	span {color: $dgreen;}
}

//agenda

.agenda {
	 background: none #c0e7bd;
    border: 3px solid $dgreen;
    clear: both;
    position: relative;
    top: 100px;
    width: 750px;
    padding: 18px;
    h2 {color:$ksgreen; font-size: 20px; margin: 5px 0;}
    td {
    	padding-top:6px;
		padding-bottom: 6px;
		min-width: 160px;
		vertical-align: top;
		color: #000;
    }

}
.green-square {
		border: 1px solid $lgreen;
		color: $lcgray;
		font-size: 25px;
		
	}

	.display-list {list-style-type: square;
		margin-left: 45px;
			color: $lgreen;
			span { color: $lcgray; font-size: 25px;}
		}

.alb-2 {
	float: right;
    width: 500px;
}

.alb-1 {
	float: left;
    height: 230px;
    margin-top: 20px;
}

.balloons {
	 float: right;
    margin-top: 20px;
}