.index-display-none {
  display: none !important;
  visibility: hidden !important           
}
.index-hidden {
  visibility: hidden !important           
}
.index-tmpl-border-top {
  border-top: 1px solid #e5e5e5;
}
.index-tmpl-border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.index-tmpl-cell-divider {
  border-right: 1px solid #e5e5e5;
  width: 1px;
  display: inline-block;
}
.index-tmpl-cell-divider-horiz {
  width: 326px;
  height: 1px;
  border-bottom: 1px solid #e5e5e5; 
  position: relative;
  right: -4px;
  left: -4px;
}


$green: #41b737;
$midgreen: #34633a;
$dgreen: #214025;
$grey: #808080;

.wrapper-1 {
  width: 1200px; 
  margin-right: auto; 
  margin-left: auto; 
  background: #fff;
} 
.clear-both {
  clear: both;
}   
.div-top-right {
  display: inline-block; 
  width: 320px; 
  vertical-align: top; 
  padding-left: 50px;
}
.div-top-left {
  display: inline-block; 
  width: 700px;
}    
.logo {
  height: 60px;
  position: absolute;
  top: -10px;
}
#nav.navNormal #top-black-bar {
  height: 55px;
}
.nav-bar-black {
  background-color: #f7f7f7;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 -6px 9px -8px #214025 inset;
  /*box-shadow: 0 1px 4px $dgreen;*/
}
#nav.navNormal #top-black-bar a {
    color: $grey;
}
#nav.navNormal #welcome, #nav.navNormal #welcome_loggedout {
  float: left;
  margin-top: 3px;
  display: none;
  font-family: 'KlavikaLight', Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: $grey;
}
#nav.navNormal #welcome a, #nav.navNormal #welcome_loggedout a {
  color: $grey;
}
#nav.navNormal #s-icons {
  margin-top: 5px;
  margin-right: 8px
}
#nav.navNormal #s-links {
  margin-right: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  color: $grey;
  a {
     padding: 20px 15px;
     border:1px solid transparent;
     &:hover {background:#FFF; 
     color:$green; 
     text-decoration:none;
     border: 1px solid $dgreen;}
  }
}
.sub {
    height: 90px;
    border: 2px solid #f7f7f7;
    border-radius: 8px;
    font-family: 'KlavikaRegular', Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 6px 0 40px;
    padding: 0;
    text-align: center;
    width: 266px;
    background: #f7f7f7;
    box-shadow: 0 3px 6px #6f6f6f;
}
.suba {
  position: relative;
  width: 250px;
  height: 30px;
  margin: 32px 0 0 8px;
}
.suba a {
  color: gray;
}
.sub:hover {
    background: #fff;
    box-shadow: 0 3px 6px #34633a;
    color: #41b737;
    text-decoration: none;
}
.sub:hover .suba a {
    color: #41b737;
    text-decoration: none;
    underline: none;
}
.div-link-1 {
   margin-bottom: 20px;
}
.div-link-1:hover {
}
.right-table {border: none;}
.right-tr td {border-right: none;}
.title-galler-table-col1 {
  color: $dgreen;
  a {
    text-decoration: none; 
    color: $dgreen; 
    font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
    font-size: 20px;
    &:hover {
      text-decoration:underline; 
      color: $midgreen;
    }
  }
}
.right-tr img {
   border: 1px solid $green;
   box-shadow: 0 3px 3px #6f6f6f;
   &:hover {opacity: .6;}
}

//PAGE MAIN

.seperator {
   img { float:left; position: relative; top: -25px; height: 80px;}
   font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
   text-align: right;
   vertical-align: middle;
   padding-right: 75px;
   padding-top:15px;
   font-size: 35px;
   width: 1125px; 
   margin: 5px auto;
   height:50px;
   color: #FFF;
   background: -webkit-linear-gradient(left, #ffffff 10%, #cacaca 30% , #47b64a 60%);
   background: -o-linear-gradient(right, #ffffff 10%, #cacaca 30% , #47b64a 60%);
   background: -moz-linear-gradient(right, #ffffff 10%, #cacaca 30% , #47b64a 60%);
   background: linear-gradient(to right, #ffffff 10%, #cacaca 30% , #47b64a 60%);
}
.seperator-2 {
   img { float:left; position: relative; top: -25px; height: 80px;}
   font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
   text-align: right;
   vertical-align: middle;
   padding-right: 75px;
   padding-top:15px;
   font-size: 35px;
   width: 1125px; 
   margin: 5px auto;
   height:50px;
   color: #FFF;
   background: -webkit-linear-gradient(left, #ffffff 10%, #cacaca 30% , #38643a 60%);
   background: -o-linear-gradient(right, #ffffff 10%, #cacaca 30% , #38643a 60%);
   background: -moz-linear-gradient(right, #ffffff 10%, #cacaca 30% , #38643a 60%);
   background: linear-gradient(to right, #ffffff 10%, #cacaca 30% , #38643a 60%);
}
.seperator-3 {
   img { float:left; position: relative; top: -25px; height: 80px;}
   font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
   text-align: right;
   vertical-align: middle;
   padding-right: 75px;
   padding-top:15px;
   font-size: 35px;
   width: 1125px; 
   margin: 5px auto;
   height:50px;
   color: #FFF;
   background: -webkit-linear-gradient(left, #ffffff 10%, #818181 90%);
   background: -o-linear-gradient(right, #ffffff 10%, #818181 90%);
   background: -moz-linear-gradient(right, #ffffff 10%, #818181 90%);
   background: linear-gradient(to right, #ffffff 10%, #818181 90%);
}
.img300 {width: 300px;}
.left65 {margin-left: 65px;}
a.more-articles {
   color: #fff;
   background: $green;
   padding: 8px 50px;
   font-size: 25px;
   position: relative;
   top: 30px;
   left: 345px;
   border: 1px solid transparent;
   border-radius: 10px;
}

a.more-events {
   color: #fff;
   background: $dgreen;
   padding: 8px 50px;
   font-size: 25px;
   position: relative;
   top: 30px;
   left: 330px;
   border: 1px solid transparent;
   border-radius: 10px;
}
.author-column {
    .author-header {
        background: #818181; 
        color: #FFF; 
        font-size: 20px; 
        text-align: center;
        padding: 7px 0;
    }
    position: relative;
    width: 400px;
    // float: right;
    img.auth-pic {
        // height:130px; 
        float: left; 
        padding: 10px 15px 10px 10px;
    }
    h3 {
        margin: 0; 
        color: $green; 
        margin-bottom: 35px; 
        padding: 7px 15px 0 0; 
        text-align: right;
     }
     p {
        padding-left: 10px; 
        color: $dgreen;
     }
     .a-column-box {
        padding-bottom: 50px;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
     }
     .social-links-author {
        position: absolute;
        right: 20px;
        img {
          height: 40px;
        }
     }
}
.event-photos-button-home {
  margin: 20px 0 20px 40px;
  &:hover {opacity: 0.6;}
}
.cycle-arrow-prev {
  left:-70px;
  top:215px;
  position:absolute;
  background-image: asset-url("prev-arrow.png");  
  background-repeat: no-repeat;
  width: 40px;
  height: 74px;
  margin: 0;
  padding: 0;  
}
.cycle-arrow-next {
  left:626px;
  top:215px;
  margin-top:0px;
  position:absolute;
  background-image: asset-url("next-arrow.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 74px;
  margin: 0;
  padding: 0;    
}
.cycle-arrow-prev:hover {
  cursor: pointer;
}
.cycle-arrow-next:hover {
  cursor: pointer;
}

.k-decorate-none {
  text-decoration: none;
}
.cycle-overlay.custom { 
  text-align: right; 
}
button { 
  margin-top: 40px 
}
.kontainer-top {
  position: relative;
  margin-left: 10%;
  clear: both;
  width: 1200px;
  background-color: #fff;
}
.title-gallery {
  font-size: 16px;
  line-height: 16px;
  color: #8A5A0C;
  font-family: 'KlavikaBlack', Arial, sans-serif;
  margin-left: 0px;
}
.title-galler-table {
  width: 100%;  
}
.title-galler-table-col1 {
  text-align: center;
  padding-left: 0px;        
}
.title-galler-table-col2 {
  text-align: right;
  padding-right: 0px;                       
}
.slider-border-1 {
   width: 270px; 
   height: 180px; 
   border: 6px solid #000;
}
.slider-border-1:hover {
   border: 6px solid orange;
}
.slider-border-2 {
   width: 270px; 
   height: 152px; 
   border: 6px solid #000;
}
.slider-border-2:hover {
   border: 6px solid orange;
}
.video-bytes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.video-tv {
  font-family: 'AsSeenOnTV', Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.video-msyh {
  font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
  font-size: 18px;
}
a.video-text {
  color: #333;
  text-decoration: none;
}
a.video-text:hover {
  color: #41b737;
  text-shadow: 2px 2px #ccc;
}
.line-video {
  border-top: #181873 5px solid !important;
  width: 300px;
}
.line-empty {
  border-top: #fff 5px solid !important;
}
.visibility-hidden {
  visibility: hidden; 
}
.display-none {
  display: none;  
}
.past-event-phots-h {
  height:27px;
  background:#214025;
  color: #FFF;
  text-align:center;
  width: 300px;
  text-transform: uppercase;
}
a.past-event-a:hover {
  opacity: .6;
  text-decoration:none;
  color:#FFF;
}
.past-event-a .k-inner-cell {
  border:2px solid #34633a;
  box-shadow: 0 3px 3px #6f6f6f;
  width:300px;
}
.search-function {
  background: none repeat scroll 0 0 #f7f7f7;
     border: 1px solid #41b737;
    color: #9e9e9e;
    font-size: 18px;
    height: 25px;
    text-align: left;
     width: 270px;
}
.news-list .news-title a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #555;      
}
.news-list .news-author a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #000;      
  margin-left: 10px;
}
.news-header {
  font-family: 'Quatrocento', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #000;
}
.cycle-slideshow-style {
  width: 604px; 
  position: relative; 
  height: 550px; 
  overflow: hidden;
}
.cycle-pos {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 93; 
  display: none;
} 
.z-99 {
  z-index: 99;
}
.z-98 {
  z-index: 98;
}
.z-97 {
  z-index: 97;
}
.z-96 {
  z-index: 96;
}
.z-95 {
  z-index: 95;
}
.z-94 {
  z-index: 94;
}
.z-93 {
  z-index: 93;
}
.z-92 {
  z-index: 92;
}
.z-91 {
  z-index: 91;
}
.z-90 {
  z-index: 90;
}
.z-89 {
  z-index: 89;
}
.z-88 {
  z-index: 88;
}
.z-87 {
  z-index: 87;
}
.z-86 {
  z-index: 86;
}
.z-85 {
  z-index: 85;
}
.z-84 {
  z-index: 84;
}
.z-83 {
  z-index: 83;
}
.z-82 {
  z-index: 82;
}
.z-81 {
  z-index: 81;
}
.z-80 {
  z-index: 80;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-top-6 {
  padding-top: 6px;
}
.text-align-center {
  text-align: center;
}
.position-relative {
  position: relative;
}
.banner-col-1 {
  padding-bottom: 0px; 
  top: 170px;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-25 {
  height: 25px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-70 {
  height: 70px;
}
.height-100 {
  height: 100px;
}
.subscribe-to-newsletter {
  padding: 5px; 
  border: 3px solid #47b64a; 
  margin-bottom: 20px; 
  height: 70px;
} 
.subscribe-to-newsletter h2 {
  margin-bottom: 15px; 
  font-weight: 700; 
  color: #000; 
  text-align:center; 
  font-size:23px;
} 
.subscribe-to-newsletter a {
  margin-left: 70px;
  background: #47b64a; 
  padding: 3px 10px; 
  color:#fff; 
  font-size:19px;
} 
.gathering-banner {
  float: right; 
  border: 1px solid #38643a;
}
.float-right {
  float: right; 
}
