.ks-tip-container {
  position: relative;
}   
.ks-tip-target:hover + .ks-tip span {
}
.ks-tip-target:hover + .ks-tip {
  display: block;
}
.ks-tip {
  position: absolute;
  display: none;
}   
.ks-tip-indicator-top-1 {
  position: absolute;
  bottom: -11px;
  left: 26px;
  width: 8px;
  height: 12px;
  background-image: asset-url("ks_tip/drop-w8-h12-top.png");
}   
.ks-tip-indicator-right-1 {
  position: absolute;
  top: 8px;
  left: -11px;
  width: 12px;
  height: 8px;
  background-image: asset-url("ks_tip/drop-w12-h8-right.png");
}   
.ks-tip-indicator-bottom-1 {
  position: absolute;
  top: -11px;
  left: 26px;
  width: 8px;
  height: 12px;
  background-image: asset-url("ks_tip/drop-w8-h12-bottom.png");
}   
.ks-tip-indicator-left-1 {
  position: absolute;
  top: 8px;
  right: -11px;
  width: 12px;
  height: 8px;
  background-image: asset-url("ks_tip/drop-w12-h8-left.png");
}   
.ks-tip-indicator-left-2 {
  position: absolute;
  top: 4px;
  right: -11px;
  width: 12px;
  height: 8px;
  background-image: asset-url("ks_tip/drop-w12-h8-left.png");
}   
.ks-tip-pos-top-1 {
  bottom: 32px;
  left: -20px;      
  z-index: 1;
}   
.ks-tip-pos-right-1 {
  top: 0px;
  left: 32px;      
  z-index: 1;
}   
.ks-tip-pos-bottom-1 {
  top: 32px;
  left: -20px;      
  z-index: 1;
}   
.ks-tip-pos-left-1 {
  top: 16px;
  right: 60px;      
  z-index: 1;
}   
.ks-tip-pos-left-2 {
  top: 2px;
  right: 32px;      
  z-index: 1;
}   
.ks-tip-text-1 {
  width: 54px;
  height: 16px;
  // background-color: rgba(0, 0, 0, 0.6);
  // border-color: rgba(0, 0, 0, 0.6);
  // border-radius: 3px;
  // box-shadow: 0px 2px 2px #aaa;
  // text-align: center;     
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;         
  color: #fff;  
  // padding: 0;
}   
.ks-tip-1 {
  position: absolute;
  width: 60px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: 0px 2px 2px #aaa;
  text-align: center;     
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;         
  color: #fff;  
  padding: 6px 0 0 0;
  display: none;              
}
.ks-tip-1-indicator {
  position: absolute;
  top: 24px;
  left: 4px;
  width: 8px;
  height: 12px;
  background-image: asset-url("ks_tip/drop-w8-h12.png");
}   
.ks-tip-34minus {
  top: -34px;
}
.ks-tip-target:hover + .ks-tip span {
}
.ks-tip-target:hover + .ks-tip {
  display: block;
}
.ks-tip-delete-post-user-comment {
  position: absolute;
  width: 60px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: 0px 2px 2px #aaa;
  text-align: center;     
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;         
  color: #fff;  
  padding: 6px 0 0 0;
  display: none;
  top: -36px;
  left: -20px;    
  z-index: 1;
}   
// .ks-tip-indicator-delete-post-user-comment {
  // position: absolute;
  // top: 24px;
  // left: 27px;
  // width: 8px;
  // height: 12px;
  // background-image: asset-url("ks_tip/drop-w8-h12.png");
// }   
.ks-tip-delete-post-user {
  position: absolute;
  width: 60px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: 0px 2px 2px #aaa;
  text-align: center;     
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;         
  color: #fff;  
  padding: 6px 0 0 0;
  display: none;
  top: -36px;
  left: -20px;    
  z-index: 1;
}   
.ks-tip-indicator-delete-post-user {
  position: absolute;
  top: 24px;
  left: 27px;
  width: 8px;
  height: 12px;
  background-image: asset-url("ks_tip/drop-w8-h12.png");
}   
