
    .static-pages-knowstory {
      width: 1200px; 
      margin-right: auto; 
      margin-left: auto; 
      background: #fff; 
      min-height: 800px;
    }
    .static-pages-knowstory .padding-left-8 {
      padding-left: 8px;
    }
