.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.cell {
  display: table-cell;
  verticle-align: top;
}
.row {
  display: table-row;
  align: top;
}
.cell-100percent {
  display: table-cell;
  width: 100%;
  vertical-align: top;    
}
.cell-1000 {
  display: table-cell;
  width: 1000px;
  vertical-align: top;    
}
.cell-950 {
  display: table-cell;
  width: 950px;
  vertical-align: top;    
}
.cell-900 {
  display: table-cell;
  width: 900px;
  vertical-align: top;    
}
.cell-800 {
  display: table-cell;
  width: 800px;
  vertical-align: top;    
}
.cell-750 {
  display: table-cell;
  width: 750px;
  vertical-align: top;    
}
.cell-700 {
  display: table-cell;
  width: 700px;
  vertical-align: top;    
}
.cell-680 {
  display: table-cell;
  width: 680px;
  vertical-align: top;    
}
.cell-680 {
  display: table-cell;
  width: 680px;
  vertical-align: top;    
}
.cell-675 {
  display: table-cell;
  width: 675px;
  vertical-align: top;    
}
.cell-670 {
  display: table-cell;
  width: 670px;
  vertical-align: top;    
}
.cell-665 {
  display: table-cell;
  width: 665px;
  vertical-align: top;    
}
.cell-660 {
  display: table-cell;
  width: 660px;
  vertical-align: top;    
}
.cell-655 {
  display: table-cell;
  width: 655px;
  vertical-align: top;    
}
.cell-650 {
  display: table-cell;
  width: 650px;
  vertical-align: top;    
}
.cell-630 {
  display: table-cell;
  width: 630px;
  vertical-align: top;    
}
.cell-625 {
  display: table-cell;
  width: 625px;
  vertical-align: top;    
}
.cell-600 {
  display: table-cell;
  width: 600px;
  vertical-align: top;    
}
.cell-560 {
  display: table-cell;
  width: 560px;
  vertical-align: top;    
}
.cell-550 {
  display: table-cell;
  width: 550px;
  vertical-align: top;    
}
.cell-500 {
  display: table-cell;
  width: 500px;
  vertical-align: top;    
}
.cell-490 {
  display: table-cell;
  width: 490px;
  vertical-align: top;    
}
.cell-480 {
  display: table-cell;
  width: 480px;
  vertical-align: top;    
}
.cell-475 {
  display: table-cell;
  width: 475px;
  vertical-align: top;    
}
.cell-470 {
  display: table-cell;
  width: 470px;
  vertical-align: top;    
}
.cell-460 {
  display: table-cell;
  width: 460px;
  vertical-align: top;    
}
.cell-450 {
  display: table-cell;
  width: 450px;
  vertical-align: top;    
}
.cell-440 {
  display: table-cell;
  width: 440px;
  vertical-align: top;    
}
.cell-430 {
  display: table-cell;
  width: 430px;
  vertical-align: top;    
}
.cell-425 {
  display: table-cell;
  width: 425px;
  vertical-align: top;    
}
.cell-415 {
  display: table-cell;
  width: 415px;
  vertical-align: top;    
}
.cell-400 {
  display: table-cell;
  width: 400px;
  vertical-align: top;    
}
.cell-390 {
  display: table-cell;
  width: 390px;
  vertical-align: top;    
}
.cell-375 {
  display: table-cell;
  width: 375px;
  vertical-align: top;    
}
.cell-370 {
  display: table-cell;
  width: 370px;
  vertical-align: top;    
}
.cell-360 {
  display: table-cell;
  width: 360px;
  vertical-align: top;    
}
.cell-350 {
  display: table-cell;
  width: 350px;
  vertical-align: top;    
}
.cell-335 {
  display: table-cell;
  width: 335px;
}
.cell-330 {
  display: table-cell;
  width: 330px;
}
.cell-325 {
  display: table-cell;
  width: 325px;
}
.cell-310 {
  display: table-cell;
  width: 310px;
}
.cell-300 {
  display: table-cell;
  width: 300px;
}
.cell-280 {
  display: table-cell;
  width: 280px;
}
.cell-275 {
  display: table-cell;
  width: 275px;
  vertical-align: top;    
}
.cell-265 {
  display: table-cell;
  width: 265px;
  vertical-align: top;    
}
.cell-255 {
  display: table-cell;
  width: 255px;
  vertical-align: top;    
}
.cell-250 {
  display: table-cell;
  width: 250px;
  vertical-align: top;    
}
.cell-245 {
  display: table-cell;
  width: 245px;
  vertical-align: top;    
}
.cell-235 {
  display: table-cell;
  width: 235px;
  vertical-align: top;    
}
.cell-230 {
  display: table-cell;
  width: 230px;
  vertical-align: top;    
}
.cell-225 {
  display: table-cell;
  width: 225px;
  vertical-align: top;    
}
.cell-210 {
  display: table-cell;
  width: 210px;
  vertical-align: top;    
}
.cell-200 {
  display: table-cell;
  width: 200px;
  vertical-align: top;    
}
.cell-195 {
  display: table-cell;
  width: 195px;
  vertical-align: top;    
}
.cell-135 {
  display: table-cell;
  width: 135px;
  vertical-align: top;    
}
.cell-175 {
  display: table-cell;
  width: 175px;
  vertical-align: top;    
}
.cell-150 {
  display: table-cell;
  width: 150px;
  vertical-align: top;    
}
.cell-125 {
  display: table-cell;
  width: 125px;
  vertical-align: top;    
}
.cell-120 {
  display: table-cell;
  width: 120px;
  vertical-align: top;    
}
.cell-100 {
  display: table-cell;
  width: 100px;
  vertical-align: top;
}
.cell-80 {
  display: table-cell;
  width: 80px;
  vertical-align: top;    
}
.cell-75 {
  display: table-cell;
  width: 75px;
  vertical-align: top;    
}
.cell-60 {
  display: table-cell;
  width: 60px;
  vertical-align: top;    
}
.cell-50 {
  display: table-cell;
  width: 50px;
  vertical-align: top;    
}
.cell-40 {
  display: table-cell;
  width: 40px;
  vertical-align: top;    
}
.cell-30 {
  display: table-cell;
  width: 30px;
  vertical-align: top;    
}
.cell-28 {
  display: table-cell;
  width: 28px;
  vertical-align: top;    
}
.cell-25 {
  display: table-cell;
  width: 25px;
  vertical-align: top;    
}
.cell-20 {
  display: table-cell;
  width: 20px;
  vertical-align: top;    
}
.cell-10 {
  display: table-cell;
  width: 10px;
  vertical-align: top;    
}
