    .tmpl-link:hover {
      text-decoration: none;
      opacity: .6;
    }
    .tmpl-div-1 {
      padding-top: 0px;
      position: relative;
      background-color: #FFF; 
      height: auto;
    }
    .tmpl-div-2a {
      position: relative;
      padding-left: 4px;  
      padding-top: 4px;
      height: 184px;
    }
    .tmpl-div-2a-1a {
      position: absolute;
      top: 35px;
      text-align: center;
    }
    .tmpl-img {
    }
    .tmpl-div-2a-1b {
        position: absolute;
    }
    .tmpl-div-2a-1b-1 {
      border-left: none;
      width: 300px;
      text-align: center;
    }
    .tmpl-div-2a-1b-1 span {
      font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
      // text-transform: uppercase;
      font-size: 16px;  
      color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      top: -24px; 
    }
    .tmpl-div-2a-1b-1 span:hover {
      text-decoration: underline;
      color: #fff;
    }
    .tmpl-div-2b {
      font-size: 20px;
      line-height: 20px;
      color: #000;
      font-family: 'Quattrocento',Arial, Helvetica, sans-serif;
      margin-top: 0px;
      margin-left: 0px;
      width: 290px;
      position: relative;
      height: auto;
    }
    .tmpl-div-2b:hover {
      text-decoration: none;
    }
    .tmpl-div-2b-1 {
      line-height: 16px;
      white-space: nowrap;
      text-transform: uppercase;
      font-family: 'KlavikaMedium', Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
    .tmpl-div-2b-1:hover {
      text-decoration: underline;
    }
    
    .tmpl-kol1 {
      width: 955px;
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    .tmpl-kol2 {
      width: 472px;
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    .tmpl-kol3 {
      width: 315px;
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    
    
    .tmpl-design {
      border-top: 30px solid #5E085D;
    }
    .tmpl-spotlight {
      border-top: 30px solid #9DC786;      
    }
    .tmpl-ideas {
      border-top: 30px solid #A6A6A6;
    }
    .tmpl-innovation {
      border-top: 30px solid #568E96;     
    }
    .tmpl-event-news {
      border-top: 30px solid #37633a;
    }
  .tmpl-tactics {
      border-top: 30px solid #214325;
    }
  .tmpl-perspective {
      border-top: 30px solid #1f7c82;
    }
    
    .tmpl-event-news-carousel {
      border-top: 30px solid #41b737;
    }
    .tmpl-thoughts-carousel {
      border-top: 30px solid #37633A;
    }
    .tmpl-research-carousel {
      border-top: 30px solid #568E96;
    }
    .tmpl-strategy-carousel {
        border-top: 30px solid #214325;
    }
    .tmpl-tactic-carousel {
        border-top: 30px solid #214325;
    }
    .tmpl-innovation-carousel {
      border-top: 30px solid #41b737;     
    }
    .tmpl-idea-carousel {
      border-top: 30px solid #A6A6A6;
    }

