<% provide(:title, 'Institute Profile') %>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_institutes_left'%>
				</div>
				
				<div class="col-midd">
					<div class="line-space-20"></div>
			
					<div style="text-align: left;">
						<span class="normal pad-left-20">My Profile</span>
					</div>
					
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_institutes_right' %>
				</div>								
			</div>
		</div>
	</div>

	<script>
	  
		//$(window).load( function() {
	
		//});
	  
	</script>		
