
<div style="text-align: center;">
	<div style="font-family: KlavikaBold; font-size: 22px;">
	    Your registration is saved.
	</div>
	<br>
	<p style="font-size: 18px;">
	    An email confirmation has been sent. 
	</p>
	<p style="font-size: 18px;">
	    If the confirmation is not recieved, please check the email address you gave us. 
	</p>
</div>