
<link rel="stylesheet" href="/gallery_styles/elegant-press.css" type="text/css" />
<script src="/gallery_scripts/elegant-press.js" type="text/javascript"></script>
<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->


<div class="main-container">
  <div class="container1">
<br />
<br />

    <div id="gallery" class="box">
      <ul>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide1.jpg" title="Image 1"><img src="images/featured1.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide2.jpg" title="Image 2"><img src="images/featured2.jpg" width="260" height="190" alt="" /></a></li>
        <li class="last"><a data-gal="prettyPhoto[gallery2]" href="images/slide3.jpg" title="Image 3"><img src="images/featured3.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide1.jpg" title="Image 1"><img src="images/featured1.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide2.jpg" title="Image 2"><img src="images/featured2.jpg" width="260" height="190" alt="" /></a></li>
        <li class="last"><a data-gal="prettyPhoto[gallery2]" href="images/slide3.jpg" title="Image 3"><img src="images/featured3.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide1.jpg" title="Image 1"><img src="images/featured1.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="images/slide2.jpg" title="Image 2"><img src="images/featured2.jpg" width="260" height="190" alt="" /></a></li>
        <li class="last"><a data-gal="prettyPhoto[gallery2]" href="images/slide3.jpg" title="Image 3"><img src="images/featured3.jpg" width="260" height="190" alt="" /></a></li>
      </ul>
      <br class="clear" />
    </div>

<br />
      
      <div class="clear"></div>
    </div>
    
 
 </div>
 
