
<!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- <title>Cycle2 Overlays</title> -->

<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/css.css"> -->
<!-- <link rel="stylesheet" href="../Cycle2_Overlays_files/site.css"> -->
<link rel="stylesheet" href="../Cycle2_Overlays_files/demo-slideshow.css">
<script src="../Cycle2_Overlays_files/jquery_002.js"></script>
<script src="../Cycle2_Overlays_files/jquery.js"></script>

<div id="main">
<!-- <style>
.cycle-overlay.custom { text-align: right; }
button { margin-top: 40px }
</style> -->


<!-- <img src="../Cycle2_Overlays_files/p1.jpg" height="180" alt="" /> -->
<!-- <img src="../event_news_images/SCpic2-h180.png" height="180" alt="" /> -->

<div style="height:300px;"></div>

<div style="height: 375px; overflow: hidden;" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="2000" data-auto-height="1000:750">
    <div class="cycle-overlay">
    	<div>Spring</div>
    	<div>Sonnenberg Gardens</div>
	</div>
    
	<img class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;" src="../Cycle2_Overlays_files/p1.jpg" data-cycle-title="Spring" data-cycle-desc="Sonnenberg Gardens">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; opacity: 1; display: block;" src="../Cycle2_Overlays_files/p2.jpg" data-cycle-title="Redwoods" data-cycle-desc="Muir Woods National Monument">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 1; display: block;" src="../Cycle2_Overlays_files/p3.jpg" data-cycle-title="Angel Island" data-cycle-desc="San Franscisco Bay">
	<img class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 98; visibility: hidden; opacity: 1; display: block;" src="../Cycle2_Overlays_files/p4.jpg" data-cycle-title="Raquette Lake" data-cycle-desc="Adirondack State Park">
</div>

</div>





