
<style>
		
.kfooter {
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
	background-color: #f7f7f7;
	border-top: 1px solid #cdcdcd;
	box-shadow: inset 0 6px 9px -8px #214025;
    z-index: 0;    		
}
.kfooter .kfooter-title {
	color: #808080;
	font-size: 11px;
	top: 13px;
	position: relative;
	font-family: KlavikaMedium;
	display: inline-block;
	float: left;
	margin-left: 40%;
}
.kfooter .kfooter-links {
	font-size: 11px;
	top: 17px;
	position: relative;
	font-family: KlavikaMedium;
	display: inline-block;
	float: right;
	margin-right: 5%;		
}
.kfooter .kfooter-links a {
	color: #808080;
}	#kfooter .kfooter-links a:hover {color: #41b737;}	

.kfooter .kfooter-logo {
	display: inline-block;
	float: left;
	margin-left: 5%;					
}	
.kfooter .kfooter-logo img {
	margin-top: 8px;
}	
.kfooter .kfooter-spacer {
	display: inline-block;
}
.box-cloud-graphic img {
  position: absolute;
  left: 0px;
  bottom: 20px;
  z-index: 1;
}
.box-cloud-row {
  position: absolute;
  background: url(../repository/lc-boxes.png) white repeat-x;
  width: 100%;
  height: 59px;
  left: 440px;
  bottom: 166px;
  z-index: 1;
}
.footer-box-cloud-container {
	position: relative;
	width: 100%;
	height: 440px;
}	
		
</style>

<div class="footer-box-cloud-container">
	<div class="box-cloud-graphic">
		<img src="../repository/lc-box-cloud.png" alt: "lc-box-cloud.png">
	</div>
	<div class="box-cloud-row"></div>
	<div class="kfooter">
		<div class="kfooter-title">COPYRIGHT 2013 THE LEARNING COUNSEL</div>
		<div class="kfooter-links"><a href="/Privacy">PRIVACY</a></div>		
		<div class="kfooter-spacer"></div>
		<div class="kfooter-links"><a href="/Sponsor">SPONSOR</a></div>
		<div class="kfooter-spacer"></div>				
		<div class="kfooter-links"><a href="/ContactUs">CONTACT US</a></div>		
	</div>
</div>
