<div class="footer-box-cloud-container">
	<%= image_tag("lc-box-cloud.png", alt: "lc-box-cloud.png") %>
	<div class="box-cloud-row"></div>
</div>
<div class="kfooter">
	<div class="kfooter-title">COPYRIGHT 2013 THE LEARNING COUNSEL</div>
	<div class="kfooter-links"><a href="/Privacy">PRIVACY</a></div>		
	<div class="kfooter-spacer"></div>
	<div class="kfooter-links"><a href="/Sponsor">SPONSOR</a></div>
	<div class="kfooter-spacer"></div>				
	<div class="kfooter-links"><a href="/ContactUs">CONTACT US</a></div>		
</div>
