
	<div style="height: 5px;"></div>


	<style>
		
		#kfooter {
			height: 50px;
			width: 100%;
			background-color: #000;
			
		}
		#kfooter .kfooter-title {
			color: #FFF;
			font-size: 11px;
			top: 13px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: left
			margin-left: 40%;
		}
		#kfooter .kfooter-links {
			font-size: 11px;
			top: 17px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: right;
			margin-right: 5%;		
		}
		#kfooter .kfooter-links a {
			color: #fff;
		}		
		#kfooter .kfooter-logo {
			display: inline-block;
			float: left;
			margin-left: 5%;					
		}	
		#kfooter .kfooter-logo img {
			margin-top: 8px;
		}	
		#kfooter .kfooter-spacer {
			display: inline-block;
		}
		
		/*#kontent-footer {
			text-align: right;
			font-size: 10px;
			color: #bbb
		}
		#kontent-footer a {
			text-decoration: none;
			color: #bbb
		}*/
				
	</style>

	<div id="kfooter">
		
		<div class="kfooter-logo">
			<img src="../repository/logo-icon-lc-transparent.png" height="25px">
		</div>
		
		<div class="kfooter-title">COPYRIGHT 2013 THE LEARNING COUNSEL</div>
		
		<div class="kfooter-links"><a href="/privacy">PRIVACY</a></div>		
		<div class="kfooter-spacer"></div>
		<div class="kfooter-links"><a href="/sponsor">SPONSOR</a></div>
		<div class="kfooter-spacer"></div>				
		<div class="kfooter-links"><a href="/contacts/new">CONTACT US</a></div>		
		
	</div>
	
	<!-- <div id="content-footer">
		<div id="content_inner-footer"></div>
	</div> -->


<!-- <div id="mainfooter" class="footer">
	<div class="table-footer">			
		<div class="row">
			<div class="cell-250">
				<div class="table-footer-inner">
					<div class="row">
						<div class="cell-250" style="padding-left: 24px; padding-top: 14px;">
				  			 image_tag("../repository/image_learning_counsel.png", :alt => 'image_learning_counsel.png') 
				  		</div>
					</div>
				</div>
			</div>
			
			<div class="cell-600">
				<div class="table-footer-inner">
					<div class="row" style="height: 50px"></div> 			
					<div class="row">
						<div class="cell-125" style="text-align: center;">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/contacts/new">Contact Us</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/signup">Join</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/sponsor">Sponsor</a>							
				  		</div>
					</div>
				</div>
			</div>			
		</div>					
	</div>	
</div> -->

<!-- <script>
	window.onload = function() {
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		
		ctx.beginPath();
		ctx.moveTo(100, 150);
		ctx.lineTo(450, 50);
		ctx.lineWidth = 10;
		
		ctx.strokeStyle = "#ff0000";
		ctx.stroke();
	}
</script>

<div>
	<canvas id="canvas" width="578" height="200"></canvas>
</div> -->


			<!-- <div class="cell-100percent">
				<div class="table-footer-inner">
					<div class="row">
						<div class="cell-100">
							<a href="/about" style="text-decoration: none;">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
				  		<div class="cell-100auto">
				  		</div>				  		
					</div>
				</div>
			</div> -->
			

