
	<div style="height: 5px;"></div>

	<style>
		
		#kfooter {
			height: 100px;
			width: 100%;
			/*background-color: #000;*/
			/*background-color: #214025;*/
			background-color: #f7f7f7;
   			border-top: 1px solid #cdcdcd;
    		box-shadow: inset 0 6px 9px -8px #214025;
		}
		#kfooter .kfooter-title {
			color: #808080;
			font-size: 11px;
			top: 13px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: left;
			margin-left: 40%;
		}
		#kfooter .kfooter-links {
			font-size: 11px;
			top: 17px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: right;
			margin-right: 5%;		
		}
		#kfooter .kfooter-links a {
			color: #808080;
		}	#kfooter .kfooter-links a:hover {color: #41b737;}	

		#kfooter .kfooter-logo {
			display: inline-block;
			float: left;
			margin-left: 5%;					
		}	
		#kfooter .kfooter-logo img {
			margin-top: 8px;
		}	
		#kfooter .kfooter-spacer {
			display: inline-block;
		}
		
		/*#kontent-footer {
			text-align: right;
			font-size: 10px;
			color: #bbb
		}
		#kontent-footer a {
			text-decoration: none;
			color: #bbb
		}*/
				
	</style>

	<div id="kfooter">
		
		<div class="kfooter-title">COPYRIGHT 2013 THE LEARNING COUNSEL</div>
		
		<div class="kfooter-links"><a href="/Privacy">PRIVACY</a></div>		
		<div class="kfooter-spacer"></div>
		<div class="kfooter-links"><a href="/Sponsor">SPONSOR</a></div>
		<div class="kfooter-spacer"></div>				
		<div class="kfooter-links"><a href="/ContactUs">CONTACT US</a></div>
		<div class="kfooter-spacer"></div>				
		<div class="kfooter-links"><a href="/About">ABOUT US</a></div>			
		
	</div>
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57340003-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Analytics Outbound Link Tracking -->
<script>
(function trackOutbounds() {
	
	var hitCallbackHandler = function(url,win) {
	    if (win) {
		    window.open(url, win);
	    } else {
        	window.location.href = url;
        }
    };
    
    var addEvent = function(el, eventName, handler) {
    
		if (el.addEventListener) {
			el.addEventListener(eventName, handler);
			} else {
			el.attachEvent('on' + eventName, function(){
				handler.call(el);
		    });
		}
	}
	
	if (document.getElementsByTagName) {
		var el = document.getElementsByTagName('a');
		var getDomain = document.domain.split('.').reverse()[1] + '.' + document.domain.split('.').reverse()[0];
		
		// Look thru each a element
		for (var i=0; i < el.length;i++) {
		
			// Extract it's href attribute
			var href = (typeof(el[i].getAttribute('href')) == 'string' ) ? el[i].getAttribute('href') : '';
			
			// Query the href for the top level domain (xxxxx.com)
			var myDomain = href.match(getDomain);
			
			// If link is outbound and is not to this domain	
			if ((href.match(/^https?\:/i)  && !myDomain) || href.match(/^mailto\:/i)) {
			
				// Add an event to click
				addEvent(el[i],'click', function(e) {
					var url = this.getAttribute('href'), win = (typeof(this.getAttribute('target')) == 'string') ? this.getAttribute('target') : '';
							
							console.log ("add event", url);
					// Log even to Analytics, once done, go to the link
					ga('send', 'event', 'outbound', 'click', url,
						{'hitCallback': hitCallbackHandler(url,win)},
						{'nonInteraction': 1}
					);
					
					e.preventDefault();
				});
			}
		}
	}
})();
</script>

	