
	<div style="padding:10px 6px 12px 6px;border:2px solid #00BF1D;font-size:18px;font-weight:bold;">
		<a href="/home" class="easyui-linkbutton" data-options="plain:true">Home</a>
		<a href="/edmatchup" class="easyui-linkbutton" data-options="plain:true">EdMatchUp</a>
		<a href="/reports" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-help'">Reports</a>
		<a href="/news" class="easyui-linkbutton" data-options="plain:true">News</a>
		<a href="/events" class="easyui-menubutton" data-options="menu:'#mm2'">Events</a>
		<a href="/about" class="easyui-menubutton" data-options="menu:'#mm3'">About</a>
	</div>
	<div id="mm1" style="width:150px;">
		<div>Reports 1</div>
		<div>Reports 2</div>
		<div>
			<span>Reports 3</span>
			<div style="width:150px;">
				<div>Reports 3 1</div>
				<div>Reports 3 2</div>
				<div>Reports 3 3</div>
			</div>
		</div>
	</div>
	<div id="mm2" style="width:100px;">
		<div>Events 1</div>
		<div>Events 2</div>
		<div>Events 3</div>
	</div>
	<div id="mm3" class="menu-content" style="background:#f0f0f0;padding:10px;text-align:left">
		<img src="/assets/image_ed_flow_chart_small.png" style="width:200px;">
	</div>


<!-- <nav class="navbar navbar-default" role="navigation"> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav nav-pills navbar-right">
    	
	      <li><a href="/home">Home</a></li>	      
	      <li><a href="/edmatchup">EdMatchUp</a></li>
	      <li class="dropdown">
	        <a href="/news" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/news">News 1</a></li>
	          <li><a href="/news">News 2</a></li>
	          <li><a href="/news">News 3</a></li>
	        </ul>
	      </li>
	      
	      <li class="dropdown">
	        <a href="/reports" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/reports">Reports 1</a></li>
	          <li><a href="/reports">Reports 2</a></li>
	          <li><a href="/reports">Reports 3</a></li>
	        </ul>
	      </li>
	      
	      <li class="dropdown">
	        <a href="/events" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/events">Events 1</a></li>
	          <li><a href="/events">Events 2</a></li>
	          <li><a href="/events">Events 3</a></li>
	        </ul>
	      </li>
	      <li><a href="/about">About Us</a></li>
	      
	    <form class="navbar-form navbar-right" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Password">
	      </div>
	      <button type="submit" class="btn btn-default">Login</button>
	    </form>
      
	    <form class="navbar-form navbar-right" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Email">
	      </div>
	    </form>
      
    </ul>
    
  </div>
</nav> -->


